---
import Desliza from '@/componentes/Desliza.astro';
import Menu from '@/componentes/Menu.astro';
import Plantilla from '@/plantillas/Plantilla.astro';
---

<Plantilla titulo="VACS" descripcion="...">
  <Menu numeroProyecto={0} />

  <main id="paginaIntroduccion">
    <section id="inicio" class="anchoTitulo alto100">
      <div class="pegarTitulo">
        <h1>Violencia contra Niños, Niñas y Adolescentes</h1>
        <h2>Identificando violencias para no repetirlas</h2>
      </div>
      <Desliza />
    </section>

    <section id="introduccion" class="seccion contenidoColumna">
      <h2>Violencias contra niños, niñas y jóvenes</h2>
      <div>
        <p>
          La manera en la que actuamos y nos relacionamos con el mundo se empieza a desarrollar en la infancia. De
          hecho, es la etapa en la que nuestro cerebro crece más rápido y absorbe muy fácilmente la información que nos
          rodea.
        </p>

        <p>
          Aunque en esta edad es más fácil que los niños y niñas aprendan un nuevo idioma o memoricen nuevos conceptos,
          también es más probable que las experiencias adversas y potencialmente traumáticas como la violencia física,
          sexual y emocional tenga un impacto negativo sobre su salud física y mental.
        </p>

        <p>
          Experimentar o presenciar maltrato o abuso durante la infancia puede afectar el presente de los niños y niñas
          y también sus vidas futuras como jóvenes y adultos. Por ejemplo, algunos niños que están frecuentemente
          expuestos a eventos de violencia pueden presentar problemas de salud física y mental, dificultades para
          concentrarse, regular sus emociones y relacionarse con otras personas. Así mismo como adultos, pueden sufrir
          problemas de salud crónicos, dificultades para confiar o conectar con los demás, manejar situaciones de
          estrés, y muchas veces repetir la violencia que experimentaron.
        </p>
      </div>
    </section>

    <div class="contenidoColumna">
      <section class="seccion medio">
        <h2>CONTEXTO</h2>

        <h3>Encuesta de Violencia contra Niños, Niñas y Adolescentes</h3>
        <p>
          En 2018 Colombia realizó por primera vez la Encuesta de Violencia contra Niños, Niñas y Adolescentes <span
            class="abrirGlosario"
            data-ancla="evcnna">(EVCNNA)</span
          >, que fue parte de la estrategia

          <a
            href="https://www.unodc.org/documents/justice-and-prison-reform/Child-Victims/Executive_Summary-Spanish.pdf"
            target="_blank"
            >INSPIRE
          </a>

          de la Organización Mundial de la Salud para prevenir la violencia infantil. Su objetivo era medir la
          prevalencia y las circunstancias alrededor de la violencia sexual, física y psicológica durante la infancia,
          adolescencia y la adultez temprana.
        </p>
        <p>
          La encuesta se aplicó a jóvenes entre 14 y 24 años de todo el territorio nacional, incluyendo municipios
          históricamente afectados por la violencia cubiertos por los Programas de Desarrollo con Enfoque Territorial
          <span class="abrirGlosario" data-ancla="pdet">(PDET)</span>
          .
        </p>

        <p>
          Esta encuesta mostró que los castigos físicos y la violencia psicológica son prácticas comunes utilizadas por
          los padres como forma de educación hacia sus hijos. Muchos también consideran que la violencia que ocurre
          dentro del hogar es un asunto privado y se espera que los niños se sometan a la voluntad de sus padres.
        </p>
        <section class="seccion medio">
          <p>
            Un grupo de investigadores del

            <a href="https://imagina.uniandes.edu.co/" target="_blank">Centro Imagina</a>

            tomaron los resultados de la <span class="abrirGlosario" data-ancla="evcnna">EVCNNA</span> en Colombia (2018),
            Honduras (2017) y El Salvador (2017); la encuesta FORENSIS (2020) en Colombia, y el capítulo “No es un mal menor”
            del Informe Final de la Comisión de la Verdad (2022) e hicieron un análisis profundo de estos datos. Estas investigaciones
            se presentan a continuación:
          </p>
        </section>
      </section>
    </div>

    <div id="contenedorEnlaces">
      <a id="proyecto1Enlace" class="enlace" href=`${import.meta.env.BASE_URL}proyecto1`
        >La huella del conflicto armado en la niñez y adolescencia colombianas</a
      >
      <a id="proyecto2Enlace" class="enlace" href=`${import.meta.env.BASE_URL}proyecto2`
        >Experiencias Adversas en la Infancia: Estudio Comparativo de Colombia, Honduras y El Salvador</a
      >
      <a id="proyecto3Enlace" class="enlace" href=`${import.meta.env.BASE_URL}proyecto3`
        >Trayectorias de maltrato: El impacto de la violencia en la infancia y adolescencia como predictor de ser
        víctima y victimario en la adultez</a
      >
      <a id="proyecto4Enlace" class="enlace" href=`${import.meta.env.BASE_URL}proyecto4`
        >¿Cuál es el rol del estigma, normas sociales y de género en los patrones de reporte y búsqueda de ayuda después
        de un evento de abuso sexual?</a
      >
    </div>

    <section class="contenidoColumna">
      <h3 style="border-top: 1px solid currentColor; margin-top:6em; padding-top:6em;">¿Y entonces, qué hacemos?</h3>

      <p>
        Todas las investigaciones que presentamos aquí indagan y reflexionan acerca de la violencia experimentada por
        niñas, niños y adolescentes en Colombia. Aunque tienen distintos enfoques, las tres se preocupan por comprender
        las implicaciones, consecuencias o secuelas que presenciar o ser víctima de maltrato físico, emocional o
        psicológico en la infancia deja en las personas y cómo esto las afecta durante el resto de su vida.
      </p>
      <p>
        Concluimos que el hogar, un espacio que usualmente está asociado a cuidado, amor y seguridad, es para muchos
        niños, niñas y adolescentes en un lugar no seguro. Esto porque algunos de sus cuidadores muchas veces ejercen
        violencia contra ellos.
      </p>
      <p style="margin-bottom:25vw">
        La violencia ejercida contra niños, niñas y adolescentes es un problema de salud pública con implicaciones
        físicas, psicológicas, sociales y económicas a mediano y largo plazo. En este sentido, es importante el diseño y
        la implementación de estrategias y programas de prevención de la violencia hacia niños, niñas y jóvenes. Esta es
        una tarea que involucra al Estado, a los hacedores de políticas y a la sociedad civil.
      </p>
    </section>
  </main>
</Plantilla>

<script>
  import desvanecer from '@/ambages/desvanecer';

  desvanecer(document.getElementById('inicio'));
</script>

<style is:global lang="scss">
  @import '@/scss/constantes';
  #paginaIntroduccion {
    .ampliar {
      color: #57c5b6;
      cursor: pointer;
    }

    // .ampliacion {
    //   display: none;

    //   &.visible {
    //     display: block;
    //   }
    // }

    // #pdet {
    //   position: relative;
    //   width: 30vw;
    //   border: #f6f1f1 solid 4px;
    //   padding: 1em;
    //   background-color: rgb(196, 160, 229);
    //   color: rgb(50, 29, 47);

    //   a {
    //     color: white;
    //   }
    // }
    // #glosarioViolencias {
    //   li {
    //     padding-bottom: 0em;
    //   }
    // }

    #contenedorEnlaces {
      //align-content: center;
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      //justify-content: flex-end;
      margin: 0 20vw 0 20vw;
      width: 80vw;
    }

    .enlace {
      text-align: left;
      padding: 0.5em;
      margin: 1em;
      border-radius: 15px;
      font-family: var(--fuenteMono);

      &:hover {
        background-color: rgb(196, 160, 229);
        color: rgb(50, 29, 47);
      }
    }

    #proyecto1Enlace {
      background-color: var(--amarilloEdadMedia);
      border: 1px solid var(--naranjaMandarina);
      max-width: 400px;
      padding: 1.5em;
      margin: 50px;
      font-size: 1.2em;

      &:hover {
        background-color: rgb(196, 160, 229);
        color: rgb(50, 29, 47);
      }
    }
    #proyecto2Enlace {
      background-color: var(--rosaHermanosGrimm);
      border: 1px solid var(--rosaChicle);
      max-width: 400px;
      padding: 1.5em;
      margin: 50px;
      font-size: 1.2em;

      &:hover {
        background-color: rgb(196, 160, 229);
        color: rgb(50, 29, 47);
      }
    }

    #proyecto3Enlace {
      background-color: var(--verdeTeVerde);
      border: 1px solid var(--naranjaMandarina);
      max-width: 400px;
      padding: 1.5em;
      margin: 50px;
      font-size: 1.2em;

      &:hover {
        background-color: rgb(196, 160, 229);
        color: rgb(50, 29, 47);
      }
    }

    #proyecto4Enlace {
      background-color: var(--verdeBiche);
      border: 1px solid var(--rosaChicle);
      max-width: 400px;
      padding: 1.5em;
      margin: 50px;
      font-size: 1.2em;

      &:hover {
        background-color: rgb(196, 160, 229);
        color: rgb(50, 29, 47);
      }
    }
    .doble {
      display: flex;

      .seccion {
        flex-basis: 50%;
        position: relative;
      }
    }

    .mapa {
      .municipio {
        fill: rgb(218, 241, 243);
        shape-rendering: geometricPrecision;
        stroke: rgba(149, 216, 222, 0.736);
        stroke-width: 0.8px;

        &.pdet {
          fill: rgb(230, 102, 95);
          //stroke: rgba(229, 169, 169, 0.791);
          stroke: rgba(119, 57, 177, 0.791);
        }
      }
    }

    // Borrar eventualmente esta clase
    .comentario {
      color: rgb(216, 213, 37);
      font-weight: bold;

      &::before {
        content: '(';
      }
      &::after {
        content: ')';
      }
    }

    /** SECCIONES - Contenido */
    #inicio {
      h1 {
        font-size: 3.5em;
        margin-bottom: 0.3em;
      }
      h2 {
        font-weight: 300;
        font-size: 2em;
        line-height: 1;
      }
    }

    @media screen and (min-width: $corte4) {
      #inicio {
        h1 {
          font-size: 7em;
        }
        h2 {
          font-weight: 300;
          font-size: 3em;
        }
      }
    }

    @media screen and (min-width: $corte4) {
      #contenedorEnlaces {
        flex-direction: row;
      }
    }
  }
</style>
