---
import Mapa from '@/componentes/Mapa.astro';
import Plantilla from '@/plantillas/Plantilla.astro';
---

<Plantilla titulo="VACS">
  <main id="paginaIntroduccion">
    <h1>Un título relajado pero conmovedor</h1>
    <section id="introduccion" class="seccion">
      <h2>Violencias contra niños y jóvenes</h2>
      <div>
        <p>
          La manera en la que actuamos y nos relacionamos con el mundo se empieza a desarrollar en la infancia. De
          hecho, es la etapa en la que nuestro cerebro absorbe más fácilmente la información que nos rodea.
        </p>

        <p>
          Aunque en esta edad es más fácil que los niños y niñas aprendan un nuevo idioma o memoricen nuevos conceptos,
          también es más probable que las experiencias traumáticas que vivan durante esta etapa determinen la aparición
          futura de deficiencias o dificultades sociales, emocionales y cognitivas.
        </p>

        <p>
          Sufrir o presenciar maltrato o abuso en la niñez puede hacer que a largo plazo tengamos problemas de salud
          física y mental, nos resulte más difícil confiar o conectar con los demás y regular nuestras emociones, o
          repitamos lo vivido, perpetrando el ciclo de violencia.
        </p>
      </div>
    </section>

    <div class="doble">
      <section id="evcnna" class="seccion medio">
        <h2>CONTEXTO</h2>

        <h3>Encuesta de Violencia contra Niños, Niñas y Adolescentes</h3>
        <p>
          En 2018 Colombia realizó por primera vez la Encuesta de Violencia contra Niños, Niñas y Adolescentes (EVCNNA),
          que fue parte de la estrategia INSPIRE de la Organización Mundial de la Salud para prevenir la violencia
          infantil. Su objetivo era medir la prevalencia y las circunstancias alrededor de la violencia sexual, física y
          psicológica durante la infancia, adolescencia y la adultez temprana.
        </p>
        <p>
          La encuesta se aplicó a dos grupos de jóvenes entre los 14 y 24 años: una muestra nacional y otra de
          municipios históricamente afectados por la violencia, que están cubiertos por los <span
            class="ampliar"
            onclick="pdet.classList.toggle('visible')">Programas de Desarrollo con Enfoque Territorial (PDET)</span
          >.
        </p>
        <div id="pdet" class="ampliacion">
          Los Programas de Desarrollo con Enfoque Territorial (PDET) fueron creados por el acuerdo de paz de La Habana y
          son un instrumento especial de planificación y gestión a 15 años, que tiene como objetivo estabilizar y
          transformar los territorios más afectados por la violencia, la pobreza, las economías ilícitas y la debilidad
          institucional, y así lograr el desarrollo rural que requieren estos 170 municipios. <a
            href="https://www.eltiempo.com/politica/proceso-de-paz/pdet-significado-y-cuales-son-los-municipios-pdet-en-colombia-615965"
          >
            fuente</a
          >
        </div>
        <p>
          Las investigaciones que presentamos a continuación se basan en datos recopilados por la EVCNNA en Colombia
          (2018), Honduras (2017) y El Salvador (2017); la encuesta FORENSIS (2020) en Colombia, y el capítulo “No es un
          mal menor” del Informe Final de la Comisión de la Verdad (2022).
        </p>
      </section>

      <div id="mapa-pdet" class="seccion">
        <Mapa alto={50} />
      </div>
    </div>

    <section id="glosarioViolencias" class="seccion">
      <h3>Glosario de violencias</h3>
      <p>
        La violencia es definida como “el uso intencional de la fuerza física o del poder, ya sea en grado de amenaza de
        ejecución real, ejercida contra uno mismo, contra otra persona, o contra un grupo o comunidad, siempre que la
        conducta produzca o tenga una alta probabilidad de producir lesiones, muerte, daño psicológico, trastornos en el
        desarrollo o privaciones”.
      </p>
      <p>
        Según la EVCNNA, en Colombia los castigos físicos y la violencia psicológica son prácticas comunes utilizadas
        por los padres como forma de educación. Además, las normas sociales suelen justificar la violencia ejercida
        dentro del hogar como un asunto privado y se espera que los niños se sometan a la voluntad de sus padres.
      </p>
      <ul>
        <li>
          <h3>Experiencias adversas en la infancia</h3>
          <p>
            También llamadas ACEs, por sus siglas en inglés. Eventos potencialmente traumáticos sufridos durante la
            infancia y la juventud (como sufrir o presenciar abuso emocional, físico o sexual y disfunción del hogar en
            la infancia)
          </p>
        </li>
        <li>
          <h3>Maltrato infantil y adolescente</h3>
          <p>
            Cualquier acto o serie de actos por parte de un padre, madre u otro cuidador que resulte en un daño, un
            potencial daño o una amenaza de daño. Las cuatro formas principales de maltrato son: físico, emocional o
            psicológico, negligencia o abandono y sexual. Según el Instituto Nacional Legal y de Ciencias Forenses-
            Grupo Centro de Referencia Nacional sobre Violencia (FORENSIS, 2020) la violencia hacia los niños, niñas y
            adolescentes es un tipo de violencia ejercida básicamente por los padres, el representante legal o cualquier
            otra persona que les genere daño y que afecta la integridad personal y el desarrollo integral del menor.
            (Organización Mundial de la Salud, 2022; Armfield et. al., 2021)
          </p>
        </li>
        <li>
          <h3>Violencia física</h3>
          <p>
            Haber sido abofeteado, empujado, sacudido, golpeado con un objeto, pateado, estrangulado, asfixiado,
            ahogado, quemado, amenazado con armas blancas o de fuego intencionalmente por una persona de la misma edad,
            la pareja, padres y/o cuidadores o adultos en la comunidad.
          </p>
        </li>
        <li>
          <h3>Violencia emocional</h3>
          <p>
            Que padres, tutores, o cuidadores le hayan dicho que no merecía ser querido, que hubiesen preferido que no
            hubiese nacido o estuviese muerto o haber sido menospreciado, ridiculizado o humillado por estos. Haber sido
            humillado, insultado o ridiculizado; haber sido impedido de verse con familia o amigos o haber sido
            amenazado con daño físico por parte de la pareja antes de los 18 años.
          </p>
        </li>
        <li>
          <h3>Violencia sexual</h3>
          <p>
            Haber recibido el ofrecimiento de apoyo económico o material a cambio de relaciones sexuales; haber recibido
            tocamientos de manera sexual y no consentida sin concluir en relaciones sexuales; haber sido presionado a
            tener relaciones sexuales sin haberlo conseguido; haber sido forzado físicamente a tener relaciones
            sexuales, habiéndolo conseguido; haber sido presionado a través acosos, amenazas, intimidación, engaños,
            chantaje o coacción, habiéndolo conseguido.
          </p>
        </li>
        <li>
          <h3>Violencia intrafamiliar (VIF) o doméstica</h3>
          <p>
            Toda acción u omisión cometida por algún miembro de la familia en relación de poder, sin importar el espacio
            físico donde ocurra, que perjudique el bienestar, la integridad física, psicológica o la libertad y el
            derecho al pleno desarrollo de otro/a miembro de la familia. (Organización Panamericana de la Salud, 2022)
          </p>
        </li>
        <li>
          <h3>Presenciar violencia en el hogar</h3>
          <p>
            Haber visto u oído a la madre o madrastra ser golpeada por el padre o padrastro; haber visto a los padres
            golpear a los hermanos o hermanas.
          </p>
        </li>
        <li>
          <h3>Violencia en la comunidad</h3>
          <p>Haber visto a alguien ser atacado fuera de la casa o ambiente familiar.</p>
        </li>
        <li>
          <h3>Orfandad y/o separación parental</h3>
          <p>Que el padre o madre haya fallecido; haber estado separado del padre o madre por 6 meses o más.</p>
        </li>
      </ul>
    </section>

    <div id="contenedorEnlaces">
      <a class="enlace" href=`${import.meta.env.BASE_URL}proyecto1`
        >La huella del conflicto armado en la niñez y adolescencia colombianas</a
      >
      <a class="enlace" href=`${import.meta.env.BASE_URL}proyecto2`
        >Experiencias Adversas en la Infancia: Estudio Comparativo de Colombia, Honduras y El Salvador</a
      >
      <a class="enlace" href=`${import.meta.env.BASE_URL}proyecto3`
        >Trayectorias de maltrato: El impacto de la violencia en la infancia y adolescencia como predictor de ser
        víctima y victimario en la adultez</a
      >
    </div>

    <section>
      <h3 style="border-top: 1px solid currentColor; margin-top:6em; padding-top:6em">CONCLUSIONES</h3>
      <p class="comentario">
        Anto: propongo una conclusión de este tipo. No sé aún dónde debería ir... . Juli: ¿y si es como una sección
        "acerca de" abajo de todo o en una pestaña arriba en la corniza?
      </p>
      <p>
        Todas las investigaciones que presentamos aquí indagan y reflexionan acerca de la violencia sufrida por niñas,
        niños y adolescentes en Colombia. Aunque tienen distintos enfoques, las tres se preocupan por comprender las
        implicaciones, consecuencias o secuelas que presenciar o ser víctima de maltrato físico, emocional o psicológico
        en la infancia deja en las personas y cómo esto las afecta durante el resto de su vida.
      </p>

      <p>
        Una de las conclusiones más preocupantes que encontramos es que el hogar, que debería ser el primer lugar de
        cuidado, amor y seguridad, se convierte para muchos niños, niñas y adolescentes en un lugar violento, indeseado,
        y peligroso, y que las personas cuidadoras que deberían protegerles, muchas veces ejercen violencia. Así, los
        niños y niñas no solo sufren ese maltrato, sino que además se ven obligados a convivir con sus abusadores y
        maltratadores.
      </p>
      <p>
        La violencia ejercida contra niñas, niños y adolescentes es un problema de salud pública con implicaciones
        físicas, psicológicas, sociales y económicas a mediano y largo plazo. En este sentido, el Estado debería
        promover acciones de prevención y minimización de riesgo mediante el diseño y la implementación de políticas
        públicas que ayuden a proteger a las niñas y los niños, y a hacer del hogar un lugar seguro.
      </p>
    </section>
  </main>
</Plantilla>

<script></script>

<style lang="scss">
  .ampliar {
    color: #57c5b6;
    cursor: pointer;
  }

  .ampliacion {
    display: none;

    &.visible {
      display: block;
    }
  }

  #pdet {
    position: relative;
    width: 30vw;
    border: #f6f1f1 solid 4px;
    padding: 1em;
    background-color: rgb(196, 160, 229);
    color: rgb(50, 29, 47);

    a {
      color: white;
    }
  }
  #glosarioViolencias {
    li {
      padding-bottom: 0em;
    }
  }

  #contenedorEnlaces {
    display: flex;
    justify-content: space-between;
    width: 80vw;
  }

  .enlace {
    border: 1px white solid;
    text-align: center;
    padding: 0.5em;
    margin: 1em;
    border-radius: 15px;

    &:hover {
      background-color: rgb(196, 160, 229);
      color: rgb(50, 29, 47);
    }
  }

  .doble {
    display: flex;

    .seccion {
      flex-basis: 50%;
      position: relative;
    }
  }
</style>

<style is:global lang="scss">
  #paginaIntroduccion {
    .mapa {
      .municipio {
        fill: rgb(218, 241, 243);
        shape-rendering: geometricPrecision;
        stroke: rgba(149, 216, 222, 0.736);
        stroke-width: 0.8px;

        &.pdet {
          fill: rgb(230, 102, 95);
          stroke: rgba(229, 169, 169, 0.791);
        }
      }
    }
  }

  // Borrar eventualmente esta clase
  .comentario {
    color: rgb(216, 213, 37);
    font-weight: bold;

    &::before {
      content: '(';
    }
    &::after {
      content: ')';
    }
  }
</style>
