---
import Desliza from '@/componentes/Desliza.astro';
import Menu from '@/componentes/Menu.astro';
import Plantilla from '@/plantillas/Plantilla.astro';
---

<Plantilla titulo="VACS" descripcion="...">
  <Menu numeroProyecto={0} />

  <main id="paginaIntroduccion">
    <section id="inicio" class="alto100 contenidoColumna">
      <div class="pegarTitulo">
        <h1>Violencia contra Niños, Niñas y Adolescentes</h1>
        <h2>Identificando violencias para no repetirlas</h2>
      </div>
      <Desliza />
    </section>

    <section id="introduccion" class="seccion contenidoColumna">
      <h2>Violencias contra niños y jóvenes</h2>
      <div>
        <p>
          La manera en la que actuamos y nos relacionamos con el mundo se empieza a desarrollar en la infancia. De
          hecho, es la etapa en la que nuestro cerebro absorbe más fácilmente la información que nos rodea.
        </p>

        <p>
          Aunque en esta edad es más fácil que los niños y niñas aprendan un nuevo idioma o memoricen nuevos conceptos,
          también es más probable que las experiencias traumáticas que vivan durante esta etapa determinen la aparición
          futura de deficiencias o dificultades sociales, emocionales y cognitivas.
        </p>

        <p>
          Sufrir o presenciar maltrato o abuso en la niñez puede hacer que a largo plazo tengamos problemas de salud
          física y mental, nos resulte más difícil confiar o conectar con los demás y regular nuestras emociones, o
          repitamos lo vivido, perpetrando el ciclo de violencia.
        </p>
      </div>
    </section>

    <div class="contenidoColumna">
      <section class="seccion medio">
        <h2>CONTEXTO</h2>

        <h3>Encuesta de Violencia contra Niños, Niñas y Adolescentes</h3>
        <p>
          En 2018 Colombia realizó por primera vez la Encuesta de Violencia contra Niños, Niñas y Adolescentes <span
            class="abrirGlosario"
            data-ancla="evcnna">(EVCNNA)</span
          >, que fue parte de la estrategia INSPIRE de la Organización Mundial de la Salud para prevenir la violencia
          infantil. Su objetivo era medir la prevalencia y las circunstancias alrededor de la violencia sexual, física y
          psicológica durante la infancia, adolescencia y la adultez temprana.
        </p>
        <p>
          La encuesta se aplicó a dos grupos de jóvenes entre los 14 y 24 años: una muestra nacional y otra de
          municipios históricamente afectados por la violencia, que están cubiertos por los Programas de Desarrollo con
          Enfoque Territorial <span class="abrirGlosario" data-ancla="pdet">(PDET)</span>
          .
        </p>

        <p>
          Según la EVCNNA, en Colombia los castigos físicos y la violencia psicológica son prácticas comunes utilizadas
          por los padres como forma de educación. Además, las normas sociales suelen justificar la violencia ejercida
          dentro del hogar como un asunto privado y se espera que los niños se sometan a la voluntad de sus padres.
        </p>

        <p>
          Las investigaciones que presentamos a continuación se basan en datos recopilados por la EVCNNA en Colombia
          (2018), Honduras (2017) y El Salvador (2017); la encuesta FORENSIS (2020) en Colombia, y el capítulo “No es un
          mal menor” del Informe Final de la Comisión de la Verdad (2022).
        </p>
      </section>
    </div>

    <div id="contenedorEnlaces" class="contenidoColumna">
      <a class="enlace" href=`${import.meta.env.BASE_URL}proyecto1`
        >La huella del conflicto armado en la niñez y adolescencia colombianas</a
      >
      <a class="enlace" href=`${import.meta.env.BASE_URL}proyecto2`
        >Experiencias Adversas en la Infancia: Estudio Comparativo de Colombia, Honduras y El Salvador</a
      >
      <a class="enlace" href=`${import.meta.env.BASE_URL}proyecto3`
        >Trayectorias de maltrato: El impacto de la violencia en la infancia y adolescencia como predictor de ser
        víctima y victimario en la adultez</a
      >
    </div>

    <section class="contenidoColumna">
      <h3 style="border-top: 1px solid currentColor; margin-top:6em; padding-top:6em">CONCLUSIONES</h3>
      <p class="comentario">
        Anto: propongo una conclusión de este tipo. No sé aún dónde debería ir... . Juli: ¿y si es como una sección
        "acerca de" abajo de todo o en una pestaña arriba en la corniza?
      </p>
      <p>
        Todas las investigaciones que presentamos aquí indagan y reflexionan acerca de la violencia sufrida por niñas,
        niños y adolescentes en Colombia. Aunque tienen distintos enfoques, las tres se preocupan por comprender las
        implicaciones, consecuencias o secuelas que presenciar o ser víctima de maltrato físico, emocional o psicológico
        en la infancia deja en las personas y cómo esto las afecta durante el resto de su vida.
      </p>

      <p>
        Una de las conclusiones más preocupantes que encontramos es que el hogar, que debería ser el primer lugar de
        cuidado, amor y seguridad, se convierte para muchos niños, niñas y adolescentes en un lugar violento, indeseado,
        y peligroso, y que las personas cuidadoras que deberían protegerles, muchas veces ejercen violencia. Así, los
        niños y niñas no solo sufren ese maltrato, sino que además se ven obligados a convivir con sus abusadores y
        maltratadores.
      </p>
      <p>
        La violencia ejercida contra niñas, niños y adolescentes es un problema de salud pública con implicaciones
        físicas, psicológicas, sociales y económicas a mediano y largo plazo. En este sentido, el Estado debería
        promover acciones de prevención y minimización de riesgo mediante el diseño y la implementación de políticas
        públicas que ayuden a proteger a las niñas y los niños, y a hacer del hogar un lugar seguro.
      </p>
    </section>
  </main>
</Plantilla>

<script>
  import desvanecer from '@/ambages/desvanecer';

  desvanecer(document.getElementById('inicio'));
</script>

<style is:global lang="scss">
  @import '@/scss/constantes';
  #paginaIntroduccion {
    .ampliar {
      color: #57c5b6;
      cursor: pointer;
    }

    // .ampliacion {
    //   display: none;

    //   &.visible {
    //     display: block;
    //   }
    // }

    // #pdet {
    //   position: relative;
    //   width: 30vw;
    //   border: #f6f1f1 solid 4px;
    //   padding: 1em;
    //   background-color: rgb(196, 160, 229);
    //   color: rgb(50, 29, 47);

    //   a {
    //     color: white;
    //   }
    // }
    // #glosarioViolencias {
    //   li {
    //     padding-bottom: 0em;
    //   }
    // }

    #contenedorEnlaces {
      display: flex;
      justify-content: space-between;
      width: 80vw;
    }

    .enlace {
      border: 1px white solid;
      text-align: center;
      padding: 0.5em;
      margin: 1em;
      border-radius: 15px;

      &:hover {
        background-color: rgb(196, 160, 229);
        color: rgb(50, 29, 47);
      }
    }

    .doble {
      display: flex;

      .seccion {
        flex-basis: 50%;
        position: relative;
      }
    }
    .mapa {
      .municipio {
        fill: rgb(218, 241, 243);
        shape-rendering: geometricPrecision;
        stroke: rgba(149, 216, 222, 0.736);
        stroke-width: 0.8px;

        &.pdet {
          fill: rgb(230, 102, 95);
          stroke: rgba(229, 169, 169, 0.791);
        }
      }
    }

    .abrirGlosario {
      cursor: pointer;
      color: #57c5b6;
      &:hover {
        font-weight: 700;
      }
    }

    // Borrar eventualmente esta clase
    .comentario {
      color: rgb(216, 213, 37);
      font-weight: bold;

      &::before {
        content: '(';
      }
      &::after {
        content: ')';
      }
    }

    /** SECCIONES - Contenido */
    #inicio {
      h1 {
        font-size: 3.5em;
        margin-bottom: 0.3em;
      }
      h2 {
        font-weight: 300;
        font-size: 2em;
        line-height: 1;
      }
    }

    @media screen and (min-width: $corte4) {
      #inicio {
        h1 {
          font-size: 7em;
        }
        h2 {
          font-weight: 300;
          font-size: 3em;
        }
      }
    }
  }
</style>
