---
import Plantilla from '../plantillas/Plantilla.astro';
---

<Plantilla titulo="VACS">
  <main>
    <h1>VACS</h1>
    <section class="introduccion">
      <h2>contexto</h2>
      <div>
        <p>Algo</p>
        <p>algo2</p>
      </div>
    </section>

    <div>
      <a href="/proyecto1">Proyecto 1</a>
      <a href="/proyecto2">Proyecto 2</a>
      <a href="/proyecto3">Proyecto 3</a>
      <a href="/proyecto4">Proyecto 4</a>
    </div>
  </main>
</Plantilla>

<style lang="scss">
  main {
    background: rgb(50, 29, 47);
    background: linear-gradient(180deg, rgba(50, 29, 47, 1) 0%, rgba(61, 46, 79, 1) 50%, rgba(76, 95, 122, 1) 100%);
    color: #f6f1f1;
    min-height: 100vh;
    padding: 5em;
  }
</style>
