---
import Menu from '@/componentes/Menu.astro';
import Desliza from '@/componentes/Desliza.astro';
import Plantilla from '@/plantillas/Plantilla.astro';
import Grafica1 from '@/componentes/graficas/proyecto1/Grafica1.astro';
import Grafica2 from '@/componentes/graficas/proyecto1/Grafica2.astro';
import Puntos from '@/componentes/graficas/proyecto1/Puntos.astro';
import Indice from '@/componentes/Indice.astro';

const elementosIndice = [
  { nombre: 'Contexto', enlace: 'seccionContexto' },
  { nombre: 'Migración', enlace: 'seccionMigracion' },
  { nombre: 'Orfandad', enlace: 'seccionOrfandad' },
  { nombre: 'Violencia', enlace: 'seccionViolencia' },
  { nombre: 'Salud Mental', enlace: 'seccionSaludMental' },
  { nombre: 'Conclusiones', enlace: 'seccionConclusiones' },
];
---

<Plantilla titulo="VACS" descripcion="...">
  <Menu numeroProyecto={1} />

  <main id="proyecto1">
    <Indice elementos={elementosIndice} />
    <section id="introduccion" class="anchoTitulo alto100">
      <div class="pegarTitulo">
        <h1 class="tituloProyecto">La huella del conflicto armado en la niñez y adolescencia colombianas</h1>
        <h3 class="autores">Investigación: Karla ??? y Catalina ???</h3>
      </div>

      <Desliza />
    </section>

    <section class="columnas seccion">
      <div class="tituloSeccion">
        <h3 class="subtitulo">Introducción</h3>
      </div>

      <div class="columna">
      <p class="narracion">
        La Comisión de la Verdad, en el capítulo "<a
          href="https://www.comisiondelaverdad.co/no-es-un-mal-menor"
          target="_blank">No es un mal menor</a
        >" del Informe Final, relata las violencias que niñas, niños y adolescentes han sufrido en el conflicto armado
        colombiano.
      </p>
      <p class="escribiendo" data-velocidad="50">Se estima que en las últimas tres décadas (entre 1985 y 2019):</p>
      </div>
    </section>

    <div>
      <Puntos
        cantidad={64084}
        fechaInicio="1985"
        fechaFin="2018"
        texto="niñas, niños y adolescentes perdieron la vida por el conflicto."
      />

      <Puntos
        cantidad={28192}
        fechaInicio="1985"
        fechaFin="2016"
        texto="niñas, niños y adolescentes fueron desaparecidos de manera forzada."
      />
      <Puntos
        cantidad={6496}
        fechaInicio="1990"
        fechaFin="2018"
        texto="niñas, niños y adolescentes sufrieron secuestro."
      />
      <Puntos
        cantidad={16238}
        fechaInicio="1990"
        fechaFin="2017"
        texto="niñas, niños y adolescentes fueron reclutados por grupos armados."
      />
      <Puntos
        cantidad={3049527}
        fechaInicio="1985"
        fechaFin="2019"
        texto="niñas, niños y adolescentes fueron víctimas de desplazamiento forzado."
      />
    </div>

    <section id="seccionContexto" class="columnas seccion">
      <div class="tituloSeccion">
        <h3 class="subtitulo">Contexto</h3>
      </div>

      <div class="columna">
      <p class="narracion">
        La recopilación de la información para el informe, a partir de entrevistas y bases de datos de organizaciones
        sociales, reveló un gran vacío:
      </p>

      <p class="destacado">
        Durante años muchos hechos violentos no fueron denunciados ni registrados debido al miedo a los actores armados,
        la ausencia de entidades institucionales en los territorios, la desconfianza, la falta de investigación y la
        naturalización del reclutamiento de niñas y niños por parte de grupos armados ilegales en algunas comunidades.
      </p>

      <p class="narracion">
        Buscando comprender mejor las consecuencias sociales y psicológicas que el conflicto armado ha tenido en la vida
        de niños, niñas y adolescentes en Colombia, esta investigación revisa los resultados de la EVCNNA para
        contrastar y complementar los hallazgos de la Comisión con respecto a cuatro ejes principales: <a
          href="#migracion">Migración forzada</a
        >,
        <a href="#orfandad">Orfandad</a>, <a href="#violencia">Violencia</a> y <a href="#salud-mental">Salud mental</a>.
        Además, permite comparar los datos nacionales con los datos recogidos en los municipios <span>PDET</span>.
      </p>
      </div>
    </section>

    <section id="seccionMigracion" class="columnas seccion">
      <div class="tituloSeccion">
        <h3 class="subtitulo">I. Migración Forzada</h3>
      </div>

      <div class="columna">
        <p class="destacado">
          Las <span class="resaltado">personas desplazadas</span> son aquellas que por situaciones de violencia o catástrofes
          naturales, han sido obligadas a huir de su hogar hacia otro lugar del país.
        </p>
        <p class="destacado">
          El desplazamiento forzado tiene fuertes consecuencias sociales, culturales y económicas. Rompe comunidades,
          separa familias, produce sensaciones de desarraigo y obliga a las personas a adaptarse a entornos extraños,
          muchas veces en situaciones precarias.
        </p>
        <p class="narracion">
          Aunque según la <span>EVCNNA</span> las razones más comunes por las que los y las menores de 18 años han migrado
          dentro y fuera de Colombia son la búsqueda de oportunidades económicas o laborales y la reunión con familiares
          migrantes, la violencia es también un factor importante: cuarta causa de migración, tanto interna como externa.
        </p>

        <Grafica1 />

        <p class="escribiendo" data-velocidad="50">
          En Colombia más de 8 millones de personas fueron desplazadas por el conflicto armado entre 1985 y 2022, según
          el Registro Único de Víctimas.
        </p>

        <p class="narracion">
          Los datos muestran que los municipios históricamente más afectados por la violencia (PDET) son los lugares
          donde los menores han sufrido más el desplazamiento a causa del conflicto. Esta situación ha afectado
          particularmente a los niños y hombres jóvenes debido, quizás, al mayor riesgo de ser reclutados para
          participar en grupos armados ilegales.
        </p>

        <Grafica2 />
      </div>
    </section>

    <div id="seccionOrfandad" class="columnas seccion">
      <div class="tituloSeccion">
        <h3 class="subtitulo">II. Orfandad</h3>
      </div>

      <div class="columna">
        <p class="narracion">
          Se consideran huérfanos los niños y niñas que han sufrido la pérdida de uno o ambos padres. Esa ausencia
          aumenta el riesgo de tener menor acceso a educación y a servicios médicos, y de sufrir de angustia
          psicosocial, abandono y abusos.
        </p>
        <p class="narracion">
          Hasta 2005 había más de 10.700.000 niñas, niños y adolescentes en situación de orfandad en América Latina.
        </p>
        <p class="narracion">
          Además del dolor y el sufrimiento que produce la orfandad, es normal que los niños y niñas crean que hay una
          relación causal entre sus propios actos y la violencia sufrida, como si las cosas malas pasaran porque se
          portaron mal o porque dejaron de hacer algo. Sin embrago, que esos sentimientos permanezcan durante mucho
          tiempo muestra, ante todo, una falta de espacios sociales de reconocimiento y apoyo para poder asimilar y
          entender lo vivido.
        </p>
        <p class="destacado">
          En Colombia la orfandad es un fenómeno frecuente pero poco estudiado y, también, una de las principales y más
          invisibilizadas consecuencias de la guerra.
        </p>

        <p class="escribiendo" data-velocidad="50">
          Según la Comisión, entre 1985 y 2018 más de 620.000 personas, en su mayoría adultas, fueron asesinadas,
          secuestradas o desaparecidas. ¿Qué pasó con sus hijas e hijos?
        </p>

        <p class="narracion">
          El Registro Único de Víctimas (RUV) no tiene datos de orfandad y solo hasta 2011 el Instituto Colombiano de
          Bienestar Familiar (ICBF) empezó a reportarla, registrando 1161 niñas, niños y adolescentes menores de 18 años
          huérfanos a causa del conflicto entre 2011 y 2021.
        </p>

        <p class="narracion">
          Sin embargo, estos datos solo cuentan a quienes han sido atendidos por la institución y son huérfanos de ambos
          padres, dejando por fuera a gran cantidad de niños y niñas que han perdido a uno solo de sus padres o cuya
          custodia fue asumida por alguien más.
        </p>

        <p class="narracion">
          Para complementar estos datos, la EVCNNA 2018 indagó por la orfandad teniendo en cuenta aspectos más
          específicos como el tipo de pérdida,(muerte de la madre, el padre o ambos), y la edad a la que tuvieron esta
          pérdida.
        </p>

        <p class="grafica">GRÁFICA 2.2: Orfandad - Diferencias de PDET en relación con el promedio nacional.</p>

        <p class="narracion">
          Econtramos que en los municipios más afectados por el conflicto hay 2.5% más huérfanos menores de 8 años que
          en el resto del país y es más común que niños, niñas y jóvenes hayan perdido a su padre.
        </p>
      </div>
    </div>

    <div id="seccionViolencia" class="columnas seccion">
      <div class="tituloSeccion">
        <h3 class="subtitulo">III. Violencia</h3>
      </div>

      <div class="columna">
        <p class="narracion">
          El conflicto armado causó en Colombia la desintegración de muchas familias. Niños y niñas quedaron al cuidado
          de personas distintas a sus padres o nuevas personas llegaron a integrar sus núcleos familiares. En esos
          contextos se hizo más probable la vulneración de los derechos y muchos sufrieron violencias físicas, sexuales
          y psicológicas, maltratados por las nuevas personas que asumieron su cuidado.
        </p>

        <p class="escribiendo" data-velocidad="50">En el informe de la Comisión hay relatos como este:</p>

        <div class="relato">
          <p>
            Nosotros nos quedábamos solos y el vecino de al lado se masturbaba delante de mí y a mí me daba miedo
            decirle a mi tío, al hermano de mi mamá, porque él me pegaba y me maltrataba mucho… Yo tenía ocho años
            cuando él me metió un 'cablazo'.
          </p>
        </div>

        <p class="destacado">
          El maltrato intrafamiliar que sufrían los menores a manos de sus cuidadores y factores como la presencia de
          grupos armados en el territorio influyeron mucho en su reclutamiento para la guerra.
        </p>

        <h3>Violencia física y emocional</h3>
        <p class="narracion">
          En el marco del conflicto, los niños reclutados por grupos al margen de la ley eran obligados a ejercer
          trabajos forzados y maltratados físicamente como forma de castigo.
        </p>

        <p class="narracion">
          Carlos, que tenía 12 años cuando fue reclutado, recuerda qué sucedió después de intentar fugarse de un
          campamento militar de las FARC:
        </p>

        <div class="relato">
          <p>
            Me acuerdo de que me llevaron a un punto de una molienda y ahí me quemaron toda la cara, estuve ocho meses
            en el pabellón de un hospital.
          </p>
        </div>

        <p class="narracion">
          Pero el maltrato físico infantil en Colombia no sucede solo en contextos de guerra, también se da en los
          hogares y en la comunidad.
        </p>
        <p class="destacado">
          Para 2018 7 de cada 20 jóvenes (35%) sufrieron alguna agresión física antes de los 18 años. Las primeras
          suceden, por lo general, entre los 9 y los 15 años.
        </p>
        <p class="grafica">GRÁFICA 4.1: Diferencias de eventos de violencia física por población</p>
        <p class="grafica">GRÁFICA 4.2: Diferencias de eventos de violencia física por género y población</p>

        <p class="narracion">
          Los resultados de la EVCNNA muestran que niños, niñas y jóvenes en Colombia también sufren violencia
          emocional. Cuando se les preguntó si sus padres o apoderados alguna vez habían dicho algo hiriente como que no
          merecían haber nacido o si los habían ridiculizado o amenazado con deshacerse de ellos, respondieron:
        </p>

        <p class="grafica">GRÁFICA 4.2: Tabla 8. Diferencias de eventos de violencia emocional por población</p>

        <p class="destacado">
          En general, las mujeres en Colombia son agredidas emocionalmente más que los hombres. 1 de cada 10 mujeres es
          ridiculizada o menospreciada antes de cumplir 18 años.
        </p>
        <p class="grafica">GRÁFICA 4.3: Diferencias de eventos de violencia emocional por género y población</p>

        <h3>Violencia sexual</h3>
        <p class="narracion">
          Aunque tanto las niñas como los niños sufrieron las consecuencias de la guerra, la Comisión desveló que las
          violencias que sufrían unos y otros no eran las mismas. De las 1.172 entrevistas hechas a víctimas de
          violencia sexual, se encontró que el 37% eran niñas, niños y adolescentes.
        </p>

        <p class="destacado">
          Las niñas reclutadas eran más propensas a ser víctimas de acoso y abuso sexual, obligadas a asumir funciones
          domésticas y de cuidado en el hogar, forzadas a abandonar la escuela antes de tiempo, reclutadas para trabajos
          de inteligencia y espionaje, inducidas a abortar y hacer uso de métodos anticonceptivos desde temprana edad.
        </p>
        <p class="escribiendo" data-velocidad="50">
          Milena le contó a la Comisión cómo fue para ella su vivencia en grupos armados durante su infancia y
          adolescencia:
        </p>
        <div class="relato">
          <p>
            Ellos decían: “Juguemos a la moneda, si sale tal cosa, nos comemos a esa hembra, y si no, la ponemos a lavar
            ropa y de una vez a hacer la comida”. Cuando caía violarme, llegaban por la noche. Como dos o tres veces
            pasó que se reunieron todos y me cogieron entre los cuatro. Me pegaron, se burlaron y luego me volaron
            cuatro dientes. Ahí mismo me violaron y mientras tanto me decían: “Ahora sí quedó más fea de lo que es”. Sin
            los dientes, decían: “Así nos lo puede hacer más rico”.
          </p>
        </div>

        <p class="escribiendo" data-velocidad="50">
          Cristina relató cómo quedó embarazada después de una violación y la obligaron a abortar:
        </p>

        <div class="relato">
          <p>
            A partir de eso, de las violaciones, yo quedé en embarazo, entonces me obligaron a abortar con seis meses de
            embarazo. Yo tenía dieciséis años. No podía llorar, no podía contarle a nadie. Todos los días era muy
            doloroso, era muy difícil; pero ya después del aborto, pues yo siempre lloraba, pero cuando estaba de
            guardia, porque pues es un momento en el que uno estaba prácticamente solo, y le pedía perdón a Dios por no
            haber podido proteger esa criatura y era un cargo de conciencia que no me pertenecía porque yo traté de
            cuidarlo lo más que pude; pero pues ya se me salió de las manos.
          </p>
        </div>

        <p class="escribiendo" data-velocidad="50">
          Camila, por su parte, reveló cómo las niñas y adolescentes eran tratadas como propiedad de integrantes del
          grupo armado:
        </p>

        <div class="relato">
          <p>
            Aunque no dejé entrar tanto la aguja, no me lo he podido quitar del todo, me tocó hacerme un tatuaje para
            tapar ese nombre porque todo el mundo me preguntaba.
          </p>
        </div>

        <p class="narracion">
          La EVCNNA ha ayudado a entender mejor el panorama de violencia sexual a nivel nacional y en los municipios más
          afectados por el conflicto. Reveló que las mujeres son las grandes afectadas de este tipo de agresiones, y que
          quienes viven en municipios PDET tienden a tener el primer evento de sexo forzado físicamente antes que el
          promedio nacional. El aborto, en cambio, parece ser menos recurrente en estos municipios, quizás debido a la
          dificultad de realizar este procedimiento en regiones periféricas del país.
        </p>

        <p class="grafica">GRÁFICA 4.4: Diferencias de eventos de violencia sexual por género y población</p>

        <p class="destacado">
          El 11.7% de los entrevistados entre 14 y 24 años afirmaron haber sido tocados de manera indeseada antes de
          cumplir la mayoría de edad, y se estima que sucedió por primera vez en promedio a los 12.6 años de edad.
        </p>
        <p class="destacado">Alrededor del 5.3% fue víctima de un intento frustrado de violación.</p>
        <p class="destacado">
          El 2.14% fue físicamente forzado a tener sexo y el 1.6% presionado a tener relaciones sexuales.
        </p>
      </div>
    </div>

    <div id="seccionSaludMental" class="columnas seccion">
      <div class="tituloSeccion">
        <h3 class="subtitulo">IV. Salud Mental</h3>
      </div>

      <div class="columna">
        <p class="narracion">
          La forma como murieron los padres, los relatos de otras personas y la propia imaginación sobre los hechos
          violentos vividos producen frecuentemente malestar emocional, ideas obsesivas, pesadillas, culpa, y hasta
          pensamientos suicidas. Estas secuelas pueden verse inmediatamente o aparecer años después.
        </p>
        <p class="destacado">
          Experiencias como el secuestro, el homicidio de un familiar o el desplazamiento forzado han dejado secuelas
          físicas, psicológicas y afectivas en la vida de niñas, niños y adolescentes colombianos.
        </p>
        <p class="grafica">
          En nueve de cada diez testimonios tomados por la Comisión, las víctimas hablaron de culpa, tristeza, rabia,
          indignación e impotencia como impactos de la pérdida. Además, una de cada diez personas entrevistadas que
          quedaron huérfanas por el conflicto armado afirmó que esta violencia le dejó una sensación de pérdida del
          sentido de la vida, pensamientos suicidas y depresión.
        </p>

        <p class="escribiendo" data-velocidad="50">¿La afectación es diferente en los municipios PDET?</p>
        <p class="narracion">
          Para identificar problemas de salud mental en jóvenes entre 14 y 18 años, la EVCNNA hizo preguntas como si en
          los últimos 30 días la persona se había sentido nerviosa, desesperada, ansiosa, intranquila, inútil o tan
          triste que nada le pudo alegrar, y si alguna vez se había lastimado o había pensado en suicidarse y, de ser
          así, si había intentado hacerlo.
        </p>

        <p class="grafica">
          GRÁFICA(S) 3.1: En el informe, la CEV (2022a) afirma que El 63,5 % de los testimonios sobre secuestro hablan
          de este tipo de consecuencias sobre la salud física y mental: problemas en el sueño o la alimentación,
          migraña, depresión, ansiedad, recuerdos recurrentes sobre el hecho e intentos de suicidio, entre otros (p. 49)
        </p>

        <p class="narracion">
          Según los resultados, la presencia de problemas de salud mental moderada en los jóvenes de la muestra PDET fue
          4% menor que en la muestra nacional y pensaron en hacerse daño 3.84% menos que el promedio nacional.
        </p>

        <p class="grafica">GRÁFICA 3.2: Diferencias de variables relacionadas a salud mental por población.</p>

        <p>
          También se encontró que en todo el país las mujeres habían sufrido más afectaciones de salud mental que los
          hombres. Y, en particular en los municipios PDET, hubo una diferencia de 29.27% en los intentos de suicidio,
          siendo las mujeres las que más intentan acabar su vida, pues del 16.91% de las mujeres que piensan en terminar
          con su vida, el 57% efectivamente lo intenta.
        </p>

        <p class="grafica">GRÁFICA 3.3 Diferencias de variables relacionadas a salud mental por género y población.</p>

        <p class="narracion">
          Esta diferencia podría explicarse por la cruda realidad a la que han estado expuestas las mujeres en el marco
          del conflicto armado, sufriendo múltiples violencias como acoso, violación, tortura sexual, castigos por
          quedar embarazadas, ser obligadas a abortar, a dar sus hijos en adopción o a ejercer una maternidad forzada.
        </p>
      </div>
    </div>

    <div id="seccionConclusiones" class="columnas seccion apagado">
      <div class="tituloSeccion">
        <h3 class="subtitulo">Conclusión</h3>
      </div>

      <div class="columna">
        <p class="destacado">
          El conflicto armado afectó a la juventud colombiana en diferentes dimensiones. Niñas, niños y adolescentes han
          sufrido múltiples formas de violencia y abuso que marcaron su experiencia de vida y alteraron su mundo
          infantil y adolescente.
        </p>
        <p class="narracion">
          Las personas entrevistadas por la CEV que sufrieron la desaparición u homicidio de un familiar durante las
          primeras décadas de su vida quedaron con severas afectaciones a su salud mental expresadas en malestar
          emocional, pesadillas, sentimientos de culpa, ideas obsesivas y pensamientos suicidas. De estas violencias
          sufridas durante el crecimiento también se derivan afectaciones a la salud física y reproductiva como
          enfermedades de transmisión sexual, daños en el sistema reproductor, dolores y problemas en la salud general.
        </p>
      </div>
    </div>
  </main>
</Plantilla>

<script>
  import aparicionRelato from '@/ambages/aparicionRelato';
  import desvanecer from '@/ambages/desvanecer';

  const males = document.querySelectorAll<HTMLElement>('.mal');
  aparicionRelato();
  desvanecer(document.getElementById('introduccion'));

  const esperar = (
    elementos: NodeListOf<HTMLElement>,
    funcion: (evento: () => void, elemento: HTMLElement) => void,
    tiempoEspera: number
  ) => {
    let temporizador = null;
    return (evento) => {
      window.clearTimeout(temporizador);

      temporizador = window.setTimeout(() => {
        elementos.forEach((elemento) => {
          funcion(evento, elemento);
        });
      }, tiempoEspera);
    };
  };

  window.addEventListener('scroll', esperar(males, agrandarMal, 10));

  function eventoScroll(evento) {
    console.log(window.scrollY);
    // let opacidad = 0;
    // if (window.scrollY === 0) {
    //   mal.style.padding = '0em';
    //   mal.style.position = 'relative';
    // } else {
    //   mal.style.fontSize = `${window.scrollY / 50 < 20 && window.scrollY / 50 > 1 ? window.scrollY / 50 : 1}em`;
    //   mal.style.backgroundColor = `rgba(0, 0, 0,${opacidad + window.scrollY / 500})`;
    //   mal.style.position = 'absolute';
    //   mal.style.padding = '1em';
    // }
  }

  function agrandarMal(evento, elemento: HTMLElement) {
    let opacidad = 0;

    // console.log(window.scrollY);
    if (window.scrollY === 0) {
      elemento.style.padding = '0em';
      elemento.style.position = 'relative';
      elemento.style.color = 'rgba(224, 169, 222, 1)';
      elemento.style.display = 'none';
    } else {
      const pasoX = window.innerWidth / 1000;
      const pasoY = window.innerHeight / 800;
      elemento.style.padding = '3em';
      elemento.style.backgroundColor = `rgba(0, 0, 0,${opacidad + window.scrollY / 500})`;
      elemento.style.position = 'fixed';
      elemento.style.display = 'block';
      elemento.style.top = '0';
      elemento.style.left = '0';
      elemento.style.width = `${window.scrollY * pasoX}px`;
      elemento.style.height = `${window.scrollY * pasoY}px`;

      if (window.scrollY > 200) {
        elemento.innerText = elemento.dataset.texto;
      } else {
        elemento.innerText = '';
      }

      if (window.scrollY > 1500) {
        elemento.style.display = 'none';
      }
    }
  }
</script>

<style lang="scss" is:global>
  #proyecto1 {
    // Dejo la opacidad en 1 por ahora para que no desaparezca y nos deje leer fácilmente
    .apagado {
      opacity: 1;
    }

    .resumen {
      font-size: 2em;
    }

    @keyframes openclose {
      0% {
        width: 0;
      }

      100% {
        width: 50%;
      }
    }

    #introduccion {
      #mal {
        color: rgb(224, 169, 222);
        display: inline-block;
        border-radius: 100px;
        max-width: 100vw;
        max-height: 100vh;
        font-size: 1.2em;
      }
    }
  }
</style>
