---
import Plantilla from '@plantillas/Plantilla.astro';
---

<Plantilla titulo="VACS">
  <main></main>
</Plantilla>

<style lang="scss">
  main {
    background: rgb(50, 29, 47);
    background: linear-gradient(180deg, rgba(50, 29, 47, 1) 0%, rgba(61, 46, 79, 1) 50%, rgba(76, 95, 122, 1) 100%);
    color: #f6f1f1;
    min-height: 100vh;
    padding: 5em;
  }
</style>
