---
import Desliza from '@/componentes/Desliza.astro';
import Menu from '@/componentes/Menu.astro';
import Plantilla from '@/plantillas/Plantilla.astro';
import Indice from '@/componentes/Indice.astro';

const elementosIndice = [
  { nombre: 'Antecedentes', enlace: 'seccionAntecedentes' },
  { nombre: 'Resultados', enlace: 'seccionResultados' },
  { nombre: 'Conclusiones', enlace: 'seccionConclusiones' },
];
---

<Plantilla titulo="VACS" descripcion="...">
  <Menu numeroProyecto={4} />

  <main id="proyecto3">
    <Indice elementos={elementosIndice} />
    <section id="introduccion" class="anchoTitulo alto100">
      <div class="pegarTitulo">
        <h1 class="tituloProyecto">
          El rol del estigma en los patrones de reporte y búsqueda de ayuda después de un evento de abuso sexual
        </h1>
        <h2 class="subtitulo">Una revisión global de alcance</h2>
        <h3 class="autores">
          Autores:
          <ul>
            <li>Liliana Arias-Urueña, Imagina - Universidad de los Andes</li>
            <li>Julian Lopez-Céspedes (investigador), Imagina - Universidad de los Andes</li>
            <li>Arturo Harker- Roa, Imagina - Universidad de los Andes</li>
            <li>Prof. Catherine Maternowska - Universidad de Edimburgo</li>
          </ul>
        </h3>
      </div>

      <Desliza />
    </section>

    <section id="seccionAntecedentes" class="columnas seccion">
      <div class="tituloSeccion">
        <h3 class="subtitulo">Antecedentes</h3>
      </div>

      <div class="columna">
        <p class="narracion">
          El abuso sexual infantil (ASI) es un problema de salud pública mundial. Afecta a más de 120 millones de niñas,
          niños y jóvenes en todo el mundo (CDC, 2022; Nace et al., 2021).
        </p>

        <p class="destacado">
          Sin embargo, estos eventos son raramente reportados. Existen múltiples factores que limitan que los adultos,
          niños, niñas y jóvenes reporten eventos de violencia sexual (ocurridos durante la infancia y/o la adultez) y
          busquen ayuda.
        </p>
        <p class="narracion">
          Un factor importante es el estigma, normas sociales y de género 'nocivas' que promueven una cultura de
          silencio, vergüenza y culpa alrededor de la violencia sexual en todo el mundo.
        </p>
        <p class="narracion">
          Las investigaciones sobre cómo el estigma asociado a la violencia sexual, las normas sociales y de género
          relacionadas dan forma a los patrones de divulgación y búsqueda de ayuda entre los sobrevivientes son
          alarmantemente escasas y rara vez se centran en las opiniones y experiencias de los jóvenes, niñas y niños.
          Esto es problemático porque dos principales razones:
        </p>
        <p class="narracion">
          1. No tener un claro entendimiento de la influencia del estigma, normas sociales y de genero 'nocivas' en las
          decisiones de los sobrevivientes de reportar o no sus experiencias, significa que las políticas públicas y
          estrategias dirigidas a incrementar el reporte de estos eventos pueden no estar suficientemente informadas. Es
          importante informar a los hacedores de políticas y programas de salud pública los complejos mecanismos y
          dinámicas a través de los cuales el estigma y estas normas nocivas limitan que los sobrevivientes de violencia
          sexual reporten y busquen la ayuda que necesitan.
        </p>
        <p class="narracion">
          2. El proceso de estigmatización que experimenta los niños puede ser diferente al que enfrentan los adultos.
          No tener datos generados con niños, niñas y jóvenes significa que las futuras intervenciones para prevenir el
          estigma pueden no abordar sus necesidades, sino únicamente la de los adultos sobrevivientes.
        </p>
        <p class="narracion">
          Para poder entender cómo el estigma alrededor de la violencia sexual, normas 'nocivas' sociales y de género
          contribuyen al subreporte, hicimos una revisión de alcance ('scoping review') global. Siguiendo una
          metodología de búsqueda y análisis rigurosa, revisamos 97 artículos, mayormente estudios cualitativos
          realizados con adultos en contextos del norte y sur global.
        </p>
      </div>
    </section>

    <section id="seccionResultados" class="columnas seccion">
      <div class="tituloSeccion">
        <h3 class="subtitulo">Resultados</h3>
      </div>

      <div class="columna">
        <p class="narracion">
          Encontramos muy pocos artículos enfocados en violencia sexual infantil (VSI). Esto demuestra que las visiones
          y las experiencias de los niños, niñas y jóvenes permanecen poco investigadas. Analizamos los hallazgos de
          nuestra revisión utilizando el modelo socioecológico. Este modelo nos permite ver en dónde están localizados y
          cómo interactúan múltiples factores y mecanismos que dan forma al estigma y por lo tanto al subreporte. Los
          niveles que considera este modelo son: individual (ej. factores personales como la etnia), meso (ej.
          relaciones, familia) y macro (ej. instituciones, políticas).
        </p>
        <div class="destacado">
          <p>
            A nivel individual, dos factores principales parecen aumentar una forma de estigma conocido como autoestigma
            y, por lo tanto, disminuir el reporte:
          </p>
          <ul>
            <li>Pertenecer a una identidad sexual y/o grupo étnico minoritario.</li>
            <li>Ser trabajador sexual.</li>
          </ul>
        </div>
        <p class="narracion">
          En el nivel meso encontramos que existen complejas normas sociales y de género en torno al honor familiar, la
          virginidad de las mujeres y las nociones de masculinidad. Estas ideas generan respuestas sociales
          estigmatizantes hacia aquellos que han experimentado violencia sexual. Los sobrevivientes son conscientes de
          estas respuestas, temen perder su estatus social y/o de género, el de sus familias y ser socialmente
          discriminados. Por lo tanto, prefieren permanecer en silencio, no reportar ni buscar ayuda.
        </p>
        <p class="narracion">
          A nivel macro, hay complejos y persistentes “mitos de la violación” en contextos del sur y norte global. Son
          creencias falsas, perjudiciales y estereotipadas sobre los eventos de violencia sexual, agresores y
          sobrevivientes.
        </p>
        <p class="narracion">Algunos de estos mitos son:</p>

        <div class="relato">
          <p>'El abuso sexual solo sucede en la noche.'</p>
        </div>
        <div></div>
        <div class="relato">
          <p>'Algo habrá hecho para que la violaran. ¿Llevaba minifalda, caminaba sola en la noche...?'</p>
        </div>
        <div></div>
        <div class="relato">
          <p>'Debe estar mintiendo para conseguir algo a cambio.'</p>
        </div>

        <p class="narracion">
          Estos mitos son frecuentemente experimentados por los sobrevivientes al reportar y buscar ayuda en
          instituciones como la policía o servicios de salud. Aquí se revela cómo políticas y prácticas institucionales
          pueden ir en contra del acceso de los sobrevivientes a la sanación y la justicia adecuadas.
        </p>
      </div>
    </section>

    <section id="seccionConclusiones" class="columnas seccion">
      <div class="tituloSeccion">
        <h3 class="subtitulo">Conclusiones</h3>
      </div>

      <div class="columna">
        <p class="narracion">
          Muy pocos estudios se centran específicamente en ASI y menos aún abordan las experiencias y opiniones de
          niños, niñas y jóvenes sobrevivientes. Los sentimientos de miedo, vergüenza y culpa de los sobrevivientes
          asociados a estos eventos sirven para erosionar su estatus social.
        </p>
        <p class="destacado">
          Las normas sociales y de género negativas refuerzan los sentimientos de culpa y vergüenza, de modo que las
          sobrevivientes prefieren internalizar sus experiencias en lugar de revelarlas y buscar ayuda.
        </p>

        <p class="narracion">
          Instituciones como la la policía y los servicios de salud y las estructuras (políticas) desempeñan un papel
          importante en la promoción de una cultura de culpa y de incredulidad hacia las sobrevivientes.
        </p>

        <ul class="narracion" style="margin-bottom:25vw">
          <h4 class="subtituloInterno">Puntos claves</h4>
          <li>
            El estigma y las normas sociales y de género perjudiciales disuaden a los sobrevivientes de violencia sexual
            de reportar y buscar ayuda; sin embargo, existe una falta significativa de investigación sobre el papel del
            estigma entre los sobrevivientes de ASI y aún menos evidencia sobre las experiencias de los niños, niñas y
            jóvenes.
          </li>
          <li>
            Los niños, niñas y jóvenes sobrevivientes de ASI pueden enfrentar desafíos únicos relacionados con el
            estigma que deben explorarse en futuras investigaciones y abordarse.
          </li>
          <li>
            El estigma que impide la divulgación opera a nivel individual, meso y macro. Las intervenciones de
            prevención y respuesta para abordar el estigma deben trabajar en estos múltiples niveles simultáneamente.
          </li>
          <li>
            Los temores de los sobrevivientes a la pérdida de su estatus social, el de su familia, la exclusión social y
            la discriminación se ven acentuados por complejas y perjudiciales normas sociales/de género, particularmente
            alrededor de la sexualidad, la virginidad, la masculinidad y el honor familiar. Estas normas y prácticas
            deben ser exploradas e intervenidas si queremos garantizar políticas en prevención de la violencia más
            coherentes y mejores desenlaces en salud entre los sobrevivientes.
          </li>
        </ul>
      </div>
    </section>
  </main>
</Plantilla>

<script>
  import aparicionRelato from '@/ambages/aparicionRelato';
  import desvanecer from '@/ambages/desvanecer';
  import escritorAutomata from '@/ambages/escritorAutomata';

  escritorAutomata();
  aparicionRelato();
  desvanecer(document.getElementById('introduccion'));
</script>

<style lang="scss">
  li {
    list-style-image: url('/especiales/vacs/iconos/flor_2.svg');
    margin: 1em 0 0 1em;
  }

  .subtituloInterno {
    font-size: 1.8em;
    margin-top: 2.5em;
    margin-bottom: 1em;
  }
</style>
