---
import Plantilla from '../plantillas/Plantilla.astro';
---

<Plantilla titulo="VACS">
  <main>
    <nav><a class="enlace" href="./">inicio</a></nav>
    <section id="introduccion" class="seccion apagado">
      <h1>
        Trayectorias de maltrato: El impacto de la violencia en la infancia y adolescencia como predictor de ser víctima
        y victimario en la adultez
      </h1>
      <h2 class="autores">Investigación: Mónica Tatiana Moreno Ángel y Joaquín Daniel Ramírez Cabarcas</h2>
      <div class="resumen">
        <p class="narracion">
          La infancia y la adolescencia son etapas claves para el desarrollo humano. En estos periodos se configuran
          nuestros procesos de lenguaje, cognitivos, conductuales y emocionales. Las experiencias tempranas determinan
          cómo se activan y desactivan nuestros genes. Por lo tanto, lo que vivimos en los primeros años de vida y los
          entornos a los cuales estamos expuestos configuran la arquitectura del cerebro y afectan en gran medida cómo
          se desarrolla.
        </p>

        <p class="narracion">
          El contexto social, las interacciones con un entorno sensible y disponible y la existencia de vínculos seguros
          son fundamentales en las primeras etapas de vida. La relación que tenemos con nuestros cuidadores y con los
          adultos importantes en la infancia es la esencia del impacto del medio ambiente en nuestra vida futura.
        </p>

        <p class="narracion">
          La exposición temprana a la violencia puede generar durante nuestra vida problemas de salud física y mental,
          afectar la configuración de relaciones sociales saludables, disminuir nuestra capacidad de confiar y conectar
          con los demás, hacer más difícil que regulemos las emociones e incluso afectar los procesos económicos.
        </p>

        <p class="destacado">
          Según la teoría de los ciclos de violencia, ser víctima de violencia (física y emocional) por parte de los
          padres o cuidadores principales aumenta las probabilidades de ser víctima de violencia por parte de la pareja
          o de ser perpetrador de violencia física y sexual contra la pareja en la adultez. Así mismo, sufrir maltrato
          durante la infancia influye en la normalización y réplica de la violencia en las relaciones de pareja y en la
          crianza, perpetuando el ciclo.
        </p>

        <p class="escribiendo">
          Para entender esto en nuestro país, estudiamos los datos obtenidos por la EVCNNA en 2018 y el reporte FORENSIS
          (2020). Encontramos que, efectivamente, hay una relación entre el maltrato infantil y la repetición del ciclo
          de violencia, aunque no todos los tipos de violencia tienen el mismo impacto.
        </p>

        <p class="grafica">
          <a
            href="https://uniandes-my.sharepoint.com/:w:/r/personal/j_gonzalezj_uniandes_edu_co/Documents/EnFlujo/Laboratorio%20EnFlujo/Proyectos/2023/Imagina%20-%20Fellows%20VACS/Relatos%20-%20M%C3%93NICA%20Y%20JOAQU%C3%8DN.docx?d=w6af4e0c71eee4230ad0d687702f99877&csf=1&web=1&e=NFTiSD"
            >GRÁFICA 3.1.1</a
          > Relación de Polivictimización y Victimización, Perpetración y Creencias en Colombia
        </p>

        <p class="comentario">
          Cosas para resaltar en la gráfica anterior (4.1.1). Quizás no es necesario escribirlo sino que se puede
          mostrar de otra forma (?)
        </p>

        <p class="narracion">
          Se estima que haber sufrido violencia física (VF) o emocional (VE) por parte de los padres antes de los 18
          años se relaciona con un aumento de la probabilidad de que una persona sea perpetradora de violencia física
          contra su pareja del 4%, creer que puede agredir a su pareja en un 6% y ser víctima de violencia a manos de su
          pareja del 10%. Además, ser víctima de este tipo de violencia aumenta la probabilidad en un 15% de creer que
          es válido y natural el disciplinar a los niños con estrategias de violencia física.
        </p>
        <p class="narracion">
          Haber sido víctima solo de violencia física se asocia con un aumento en la probabilidad del 7% de convertirse
          en perpetrador de violencia física contra la pareja en la adultez y un aumento del 4 por ciento de validar la
          violencia física contra la pareja. Así mismo, se observa una probabilidad de aumento de que este individuo
          nuevamente sea víctima de violencia física por parte de su pareja en la adultez en un 11%. En esta misma
          línea, el ser víctima de violencia física aumenta la probabilidad en un 11% de validar la violencia física
          como estrategia de disciplina.
        </p>
        <p class="narracion">
          Ser testigo de violencia en el hogar aumenta en un 4% la probabilidad de que el individuo en su adultez se
          vuelva perpetrador, que se relaciona con el aumento de la probabilidad del 3% de validar conductas
          violentadoras contra la pareja, y en un 7% de ser víctima por parte de su pareja. Con respecto a la relación
          con las creencias de validar la violencia física contra los niños, aumenta en un 9%.
        </p>
        <p class="narracion">
          Con respecto a sufrir violencia física por parte de pares o comunidad se estima que existe una relación de
          aumento de probabilidad de que el individuo se vuelva perpetrador de violencia física contra su pareja en la
          adultez del 4% y en un 1% de validación de este tipo de comportamientos. La asociación con el ser víctima en
          el futuro (después de los 18 años) es del 5% y que valide comportamientos agresivos contra los niños como
          métodos educativos del 13%.
        </p>

        <p class="separador"></p>

        <h3>Datos de violencia en Colombia</h3>

        <p class="narracion">
          En 2020 fueron reportados 5.069 casos de violencia contra niños, niñas y adolescentes. La violencia contra
          niñas y adolescentes fue mayor comparada con los niños, 2.677 casos y 2.392 casos respectivamente. Estos datos
          muestran que ha habido un incremento progresivo durante los últimos 8 años.
        </p>

        <p class="destacado">
          En más del 85% de los casos de violencia sexual reportados, las víctimas fueron niños, niñas y adolescentes
          (15.370 casos). En este rango, el 40.21% tenían entre 10 y 14 años (7.259 casos), y el 22.53% entre 5 y 9 años
          (4.067 casos).
        </p>

        <p class="narracion">
          La tasa en el grupo de 10 a 14 años (182.58) es cinco veces la tasa general (35.84). En el 81.03% de los
          casos, los agresores tienen algún grado de cercanía con la víctima: el 48.67% es un familiar, el 23.09% un
          conocido, y el 9.27% un amigo. <a
            href="https://www.medicinalegal.gov.co/documents/20143/787115/Forensis_2020.pdf">Fuente: FORENSIS (2020)</a
          >
        </p>

        <p class="escribiendo">
          Estos datos de Medicina Legal son congruentes con lo que encontramos en la EVCNNA (2018):
        </p>

        <p class="comentario">Esto que sigue podría graficarse?</p>
        <p class="narracion">
          Aproximadamente 2 de cada 5 mujeres (40.8%) y hombres (42.1%) han sido víctimas de violencia física, sexual o
          psicológica en su infancia o adolescencia. Así́, cerca de 1 de cada 4 mujeres (26.5%) y 1 de cada 3 hombres
          (37.5%) sufrió violencia física; y 1 de cada 5 mujeres (21.2%) y 1 de cada 10 hombres (9.5%) sufrió violencia
          psicológica por parte de los padres, cuidadores o parientes adultos.
        </p>

        <a
          href="https://uniandes-my.sharepoint.com/:w:/r/personal/j_gonzalezj_uniandes_edu_co/Documents/EnFlujo/Laboratorio%20EnFlujo/Proyectos/2023/Imagina%20-%20Fellows%20VACS/Relatos%20-%20M%C3%93NICA%20Y%20JOAQU%C3%8DN.docx?d=w6af4e0c71eee4230ad0d687702f99877&csf=1&web=1&e=NFTiSD"
          >GRÁFICA 3.1.2</a
        >

        <p>
          Sobre los mismos datos de la encuesta comparamos los municipios PDET y No-PDET y encontramos que,
          aparentemente, no existen diferencias significativas entre los dos tipos de territorios. Así, la probabilidad
          de ser víctima o perpetrador de violencia intrafamiliar si se sufrió maltrato en la infancia es muy similar en
          los municipios más afectados históricamente por el conflicto armado, y en el resto del país.
        </p>

        <p class="destacado">
          Los datos son preocupantes, las cifras de violencia contra niños, niñas y adolescentes evidencian un problema
          de salud pública que no disminuye con el tiempo, sino que se mantiene o aumenta.
        </p>

        <p class="comentario">Esto que sigue podría quizás ilustrarse / animarse?</p>
        <p class="grafica">
          Encontramos, además, que es en el hogar donde sucede la mayor parte de las agresiones contra niños, niñas y
          adolescentes. En el 33.75% de los casos quien violenta es el padre, seguido de la madre en el 28.19% y el
          padrastro en el 11.38%.
        </p>

        <p class="destacado">
          La familia, en Colombia, es el primer contexto maltratador. Un espacio de cuidado que debería ser seguro para
          crecer, se convierte así en una amenaza mara muchos y muchas.
        </p>
      </div>
      <div class="navegacion">
        <a class="botonNavegar" href=`${import.meta.env.BASE_URL}proyecto2`>←</a>
        <a class="botonNavegar" href=`${import.meta.env.BASE_URL}`>→</a>
      </div>
    </section>

    <style lang="scss">
      main {
        background: rgb(50, 29, 47);
        background: linear-gradient(180deg, rgba(50, 29, 47, 1) 0%, rgba(61, 46, 79, 1) 50%, rgba(76, 95, 122, 1) 100%);
        color: #f6f1f1;
        min-height: 100vh;
        padding: 5em;
      }

      h1 {
        font-size: 3em;
        text-align: center;
        margin-bottom: 1em;
      }

      h2 {
        text-align: center;
      }

      // Borrar eventualmente esta clase
      .comentario {
        color: rgb(216, 213, 37);
        font-weight: bold;

        &::before {
          content: '(';
        }
        &::after {
          content: ')';
        }
      }
    </style>
  </main>
</Plantilla>
