---
import Desliza from '@/componentes/Desliza.astro';
import Menu from '@/componentes/Menu.astro';
import Grafica1 from '@/componentes/graficas/proyecto2/Grafica1.astro';
import Plantilla from '@/plantillas/Plantilla.astro';
---

<Plantilla titulo="VACS" descripcion="...">
  <Menu numeroProyecto={2} />

  <main id="proyecto2">
    <section id="introduccion" class="anchoTitulo alto100">
      <div class="pegarTitulo">
        <h1 class="tituloProyecto">Experiencias Adversas en la Infancia</h1>
        <h2 class="subtitulo">Estudio Comparativo de Colombia, Honduras y El Salvador</h2>
        <h3 class="autores">Investigación: Jorge Leonardo Rodríguez Arenas y Julián David López Céspedes</h3>
      </div>

      <Desliza />
    </section>

    <section class="columnas seccion apagado" id="aes">
      <div class="tituloSeccion">
        <h3 class="subtitulo">Experiencias Adversas en la Infancia</h3>
      </div>

      <div class="columna">
        <p class="destacado">
          Las experiencias adversas en la infancia (<span class="italica">ACEs</span> en inglés) son situaciones vividas
          durante la niñez y la juventud que pueden ser traumáticas y generar afectaciones a lo largo de la vida. Por ejemplo
          el maltrato emocional, físico o sexual y las disfunciones en el hogar.
        </p>
        <p class="narracion">
          Estas experiencias tempranas se asocian con la probabilidad de sufrir enfermedades crónicas como asma,
          diabetes, cáncer, enfermedades cardiacas y pulmonares, y afectaciones a la salud mental como depresión,
          ansiedad, desorden de estrés postraumático y tendencias suicidas. También pueden influir en el desarrollo de
          conductas de riesgo que culminen en problemas como alcoholismo, abuso de sustancias, enfermedades de
          transmisión sexual, tabaquismo, embarazo juvenil y perpetración de violencia.
        </p>
        <p class="narracion">
          Según el modelo del “ciclo de violencia”, es más probable que los adultos perpetúen o sean víctimas de
          violencia en el hogar si fueron maltratados durante su infancia. En ese sentido, cuando una persona se vio
          expuesta a ACEs en su niñez, es más propensa a tener parejas que la maltraten o a incurrir en prácticas
          violentas en la crianza o el cuidado, provocando que a la vez sus hijos experimenten ACEs y, en el futuro,
          repitan el maltrato.
        </p>
        <p class="destacado">
          Sin embargo, este ciclo puede romperse o disminuir si las personas acceden a experiencias positivas y
          acompañamiento psicológico que ayuden a reducir el riesgo de transmisión.
        </p>
      </div>
    </section>

    <!-- <section class="columnas seccion apagado" id="encuesta">
      <h3 class="subtitulo">¿Identificamos la violencia? (encuesta)</h3>
      <diV class="columna">
        <p class="narracion">encontramos que en Colombia el 82% de ellos ha tenido
          alguna experiencia ACE en su vida, más de la mitad ha presenciado violencia en la comunidad y alrededor de 1
          de cada 3 ha sido víctima de violencia física.
          Son preguntas relacionadas con las experiencias personales de maltrato en la infancia y la adolescencia. Los
          datos no serán recopilados, almacenados ni compartidos con entes externos al proyecto. La información obtenida
          durante la encuesta será manejada con completa confidencialidad y anonimato, y estará disponible solo hasta
          que el lector cierre o recargue la página.

        </p>
        <p class="destacado">
          Los temas abordados pueden generar malestar o revivir hechos victimizantes que hayan sido traumáticos. Si
          siente que este es su caso, por favor retírese en el momento que lo desee o absténgase de contestarla.
        </p>
        <p class="comentario">Enlace a la encuesta aquí?</p>
        <Encuesta />
      </div>
    </section> -->

    <section class="columnas seccion apagado">
      <div class="tituloSeccion">
        <h3 class="subtitulo">Diferencias entre países</h3>
      </div>

      <div class="columna">
        <p class="narracion">
          En esta investigación buscamos ampliar el estudio sobre el impacto de las ACEs en la región y aportar
          información para el desarrollo de políticas que ayuden a mitigar el problema. Usamos los datos recopilados por
          la EVCNNA en Colombia y los comparamos con los de la misma encuesta en Honduras y El Salvador.
        </p>
        <p class="narracion">
          El objetivo era identificar cuáles son los ACEs más comúnes en cada país y comprender los efectos que pueden
          tener sobre la salud mental y física en la adultez. Partimos de los datos sobre la prevalencia de experiencias
          adversas en la infancia (ACEs) en jóvenes de 13 a 24 años en cada país.
        </p>

        <p class="resaltado">
          Encontramos que en Colombia el 82% ha tenido alguna experiencia ACE en su vida, más de la mitad ha presenciado
          violencia en la comunidad y alrededor de 1 de cada 3 ha sido víctima de violencia física.
        </p>

        <Grafica1 />
      </div>
    </section>

    <section class="columnas seccion apagado">
      <div class="tituloSeccion">
        <h3 class="subtitulo">Conductas de riesgo</h3>
      </div>

      <div class="columna">
        <p class="narracion">
          A partir de estos datos exploramos la relación entre una mayor exposición a las ACEs y la presencia de
          conductas de riesgo en la adultez como beber en exceso, fumar, consumir drogas, sufrir desórdenes
          psicológicos, o haber intentado suicidarse.
        </p>

        <p class="destacado">
          Los resultados confirmaron que la exposición a distintos ACEs en la infancia tiene efectos significativos
          sobre la salud mental y física, e influye en la probabilidad de tener conductas de riesgo en la adultez.
        </p>
        <p class="escribiendo" data-velocidad="50">
          Algunos de los hallazgos más preocupantes y que evidencian la urgencia de plantear políticas públicas de
          prevención son los siguientes:
        </p>

        <p class="narracion">
          En Colombia, haber estado expuestos a tres o más ACEs aumenta en promedio 21 puntos porcentuales la
          probabilidad de pensar en o de intentar suicidarse, y 27.4 puntos porcentuales la probabilidad de tener
          desórdenes psicológicos y un 10.1 puntos porcentuales la probabilidad de fumar.
        </p>
        <p class="narracion">
          En el caso de Honduras, se requiere de tan solo uno o dos ACEs para que la relación con los efectos sea
          significativa, mientras que en Colombia se requieren de tres o más ACEs para que la relación con los efectos
          sea significativa. Esto podría inferir que en Colombia está tan normalizada la violencia, que se requiere de
          una exposición mayor a esta para que los efectos tengan significancia.
        </p>
        <p class="narracion">
          Al realizar un primer ejercicio que combina diferentes ACEs y mide sus efectos sobre resultados de salud
          encontramos que, para el caso de Colombia, Honduras y El Salvador, las combinaciones más perjudiciales son
          aquellas que tienen una o dos tipos de violencia y algún otro tipo de ACEs.
        </p>
      </div>
    </section>

    <section class="columnas seccion apagado">
      <div class="tituloSeccion">
        <h3 class="subtitulo">Tomar medidas para mejorar la situación</h3>
      </div>
      <div class="columna">
        <p class="destacado">
          Dada la alta prevalencia de experiencias adversas en la infancia en Colombia, es fundamental reevaluar y
          reestructurar los servicios de salud y atención para adoptar un enfoque informado sobre trauma y sus posibles
          efectos.
        </p>
        <p class="narracion">
          Comprendiendo que muchas personas que buscan tratamiento pueden tener historias de trauma, es esencial crear
          un entorno que priorice la seguridad y el apoyo. A través de políticas que aseguren la seguridad física,
          psicológica y emocional tanto de los usuarios como del personal, se deben implementar medidas para evitar la
          re-victimización y fomentar un ambiente seguro. Es crucial construir confianza entre todas las partes
          interesadas, promoviendo la colaboración y la toma de decisiones compartida.
        </p>
        <p class="narracion">
          Además, los responsables de la formulación de políticas deben centrarse en reconocer la agencia de las
          personas en su proceso de recuperación ofreciéndoles opciones e involucrándolos en el establecimiento de sus
          propias metas. Reconociendo que la exposición a eventos potencialmente traumáticos puede llevar a la
          impotencia, las políticas deben diseñarse para validar sentimientos e inquietudes, apoyando a las personas en
          la toma de decisiones.
        </p>
        <p class="destacado">
          Para abordar eficazmente los efectos de la adversidad, es fundamental un enfoque culturalmente sensible,
          reconociendo y superando estereotipos y prejuicios.
        </p>
        <p class="narracion">
          Es clave salirse de enfoques deterministas que terminen por estigmatizar a quienes reportan haber sufrido
          alguna o varias experiencias adversas. De la misma forma, debe prestarse atención al bienestar de aquellos que
          trabajan de primera mano en la atención de estas situaciones. La exposición constante a estas experiencias
          adversas, aunque ajenas, puede afectar la salud del personal y su rendimiento perjudicando así a quienes
          acceden a los servicios. Un enfoque que contemple el bienestar de todos los actores involucrados es
          fundamental para lidiar efectivamente contra la adversidad.
        </p>
      </div>
    </section>
  </main>
</Plantilla>

<script>
  import desvanecer from '@/ambages/desvanecer';
  desvanecer(document.getElementById('introduccion'));
</script>

<style lang="scss">
  // Borrar eventualmente esta clase
  .comentario {
    color: rgb(216, 213, 37);
    font-weight: bold;

    &::before {
      content: '(';
    }
    &::after {
      content: ')';
    }
  }
</style>
