---
import Mapa from '../componentes/Mapa.astro';
import Plantilla from '../plantillas/Plantilla.astro';
---

<Plantilla titulo="VACS">
  <main id="proyecto1">
    <section id="introduccion" class="seccion apagado">
      <h1>La huella del conflicto armado en la niñez y adolescencia colombianas</h1>
      <div class="resumen">
        <p>
          En el capítulo “No es un mal menor” del informe final, la Comisión de la Verdad relata las violencias que
          niñas, niños y adolescentes han sufrido en el conflicto armado colombiano. En la investigación se encontró que
          las cinco principales violaciones a los derechos de las que han sido víctimas son el homicidio, el
          reclutamiento, el desplazamiento forzado, la desaparición forzada y el secuestro.
        </p>

        <p>
          Esta información fue recopilada a partir de entrevistas y bases de datos de organizaciones sociales, y su
          búsqueda reveló un gran vacío: durante años muchos hechos violentos no fueron denunciados ni registrados
          debido al miedo a los actores armados, la ausencia de entidades institucionales en los territorios, la
          desconfianza, la falta de investigación y la naturalización del reclutamiento de niñas y niños por parte de
          grupos armados ilegales en algunas comunidades.
        </p>

        <p>Según los datos y estimaciones que hizo la Comisión en las últimas tres décadas:</p>

        <div class="grafica">
          GRÁFICA / ILUSTRACIÓN: De 1985 a 2018, 64.084 niñas, niños y adolescentes perdieron la vida por el conflicto;
          de 1985 a 2016, 28.192 fueron desaparecidos de manera forzada; de 1990 a 2018 6.496 sufrieron secuestro; de
          1990 a 2017, 16.238 fueron reclutados por grupos armados y de 1985 a 2019, 3.049.527 fueron víctimas de
          desplazamiento forzado
        </div>

        <p>
          En esta investigación los hallazgos de la Comisión se cruzan con los resultados de la EVCNNA buscando
          contrastar y complementar sus conclusiones con respecto a cuatro ejes principales: <a href="#migracion"
            >Migración forzada</a
          >,
          <a href="#orfandad">Orfandad</a>, <a href="#salud-mental">Salud mental</a> y <a href="#violencia">Violencia</a
          >. Además, permite comparar los datos nacionales con los datos recogidos en los municipios <span>PDET</span>.
        </p>
      </div>
    </section>

    <div class="columnas seccion apagado" id="migracion">
      <h2>I. Migración Forzada</h2>
      <div class="columna columna1">
        <p>
          Las personas desplazadas son aquellas que, por situaciones de violencia o catástrofes naturales, han sido
          obligadas a huir de su hogar hacia otro lugar del país. En Colombia más de 9.500.000 personas fueron
          desplazadas por el conflicto armado entre 1985 y 2022 (fuente: página web oficial del Registro Único de
          Víctimas, 2022).
        </p>

        <p>
          El desplazamiento forzado tiene fuertes consecuencias sociales, culturales y económicas. Rompe comunidades,
          separa familias, produce sensaciones de desarraigo y obliga a las personas a adaptarse a entornos extraños,
          muchas veces en situaciones precarias.
        </p>

        <p>
          Según la EVCNNA, las razones más comunes por las que los y las jóvenes menores de 18 años han migrado dentro y
          fuera de Colombia han sido la búsqueda de oportunidades económicas o laborales y la reunión con familiares
          migrantes. La violencia es la cuarta causa de migración, tanto interna como externa.
        </p>
        <p>
          Aunque en general es más común que las personas en Colombia migren hacia el interior que fuera del país, es en
          los municipios históricamente afectados por la violencia (PDET) donde las personas han sufrido más el
          desplazamiento a causa del conflicto. En particular, los niños y hombres jóvenes de estos municipios han
          migrado más que los de otros municipios debido, quizás, al mayor riesgo que tienen de ser reclutados para
          participar en grupos armados ilegales por ser hombres y por vivir en estos territorios.
        </p>
      </div>

      <div class="columna columna2">
        <p>GRÁFICA: Causas de la migración</p>

        <p>GRÁFICA: Diferencias de migración debido a violencia por población (PDET – NO PDET)</p>

        <p>GRÁFICA: Diferencias de migración debido a violencia por género y población.</p>
      </div>
    </div>

    <div class="columnas seccion apagado" id="orfandad">
      <h2>II. Orfandad</h2>
      <div class="columna columna1">
        <p>
          Una niña o niño huérfano es quien ha sufrido la pérdida de uno o ambos padres. Hasta 2005 había más de
          10.700.000 niñas, niños y adolescentes en situación de orfandad en América Latina. Esta población está en
          riesgo de tener menor acceso a educación y a servicios médicos, y es más propensa a sufrir de angustia
          psicosocial, abandono y abusos.
        </p>

        <p>
          En Colombia, la orfandad es un fenómeno muy frecuente pero poco estudiado. Además, es una de las principales
          consecuencias de la guerra y una de las más invisibilizadas. El Registro Único de Víctimas (RUV) no tiene
          registros de orfandad y solo hasta 2011 el Instituto Colombiano de Bienestar Familiar (ICBF) empezó a
          reportarla. Sin embargo, solo reporta a quienes son huérfanos de ambos padres y han sido atendidos por la
          institución, dejando así por fuera de los datos a gran cantidad de niños y niñas que han perdido a uno solo de
          sus padres o cuya custodia fue asumida por un familiar.
        </p>

        <p>
          Al comparar las cifras del Instituto Colombiano de Bienestar Familiar y las cifras del Informe de la Comisión
          de La Verdad, no dan las cuentas. Entre 2011 y 2021 el ICBF registró 1161 niñas, niños y adolescentes menores
          de 18 años huérfanos a causa del conflicto. Por otro lado, según la Comisión, entre 1985 y 2018 más de 620.000
          personas, en su mayoría adultas, fueron asesinadas, secuestradas o desaparecidas. ¿Qué pasó con sus hijas e
          hijos?
        </p>
      </div>

      <div class="columna columna2">
        <p>
          GRÁFICA(¿CÓMO?): desde el 2011 hasta abril de 2021 el ICBF registró 1.161 casos de niñas, niños y adolescentes
          menores de 18 años huérfanos a causa del conflicto y que estuvieron o están actualmente recibiendo atención.
          Sin embargo, el proceso de sistematización y análisis que realizó la Comisión encontró que “entre 1985 y el
          2018, 450.666 personas fueron víctimas de homicidio; de 1985 a 2016, 121.768 de desaparición forzada y 50.770
          de secuestro”
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus pariatur voluptate odit quis, eius porro
          voluptas rerum sit? Numquam soluta quasi earum aliquam beatae dicta nesciunt, obcaecati aperiam eveniet
          consectetur.
        </p>
      </div>
    </div>

    <div class="columnas seccion apagado" id="salud-mental">
      <h2>III. Salud Mental</h2>
      <div class="columna columna1">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint nulla odit possimus, cumque omnis consequatur
          mollitia quas expedita. Excepturi natus cum illum consequuntur dignissimos ipsa, dolore mollitia fugiat iure!
          Possimus!
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus pariatur voluptate odit quis, eius porro
          voluptas rerum sit? Numquam soluta quasi earum aliquam beatae dicta nesciunt, obcaecati aperiam eveniet
          consectetur.
        </p>
      </div>

      <div class="columna columna2">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint nulla odit possimus, cumque omnis consequatur
          mollitia quas expedita. Excepturi natus cum illum consequuntur dignissimos ipsa, dolore mollitia fugiat iure!
          Possimus!
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus pariatur voluptate odit quis, eius porro
          voluptas rerum sit? Numquam soluta quasi earum aliquam beatae dicta nesciunt, obcaecati aperiam eveniet
          consectetur.
        </p>
      </div>
    </div>

    <div class="columnas seccion apagado" id="violencia">
      <h2>IV. Violencia</h2>
      <div class="columna columna1">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint nulla odit possimus, cumque omnis consequatur
          mollitia quas expedita. Excepturi natus cum illum consequuntur dignissimos ipsa, dolore mollitia fugiat iure!
          Possimus!
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus pariatur voluptate odit quis, eius porro
          voluptas rerum sit? Numquam soluta quasi earum aliquam beatae dicta nesciunt, obcaecati aperiam eveniet
          consectetur.
        </p>
      </div>

      <div class="columna columna2">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint nulla odit possimus, cumque omnis consequatur
          mollitia quas expedita. Excepturi natus cum illum consequuntur dignissimos ipsa, dolore mollitia fugiat iure!
          Possimus!
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus pariatur voluptate odit quis, eius porro
          voluptas rerum sit? Numquam soluta quasi earum aliquam beatae dicta nesciunt, obcaecati aperiam eveniet
          consectetur.
        </p>
      </div>
    </div>

    <section class="seccion apagado">
      <h2>Sección 2</h2>
      <div class="contenido">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint nulla odit possimus, cumque omnis consequatur
          mollitia quas expedita. Excepturi natus cum illum consequuntur dignissimos ipsa, dolore mollitia fugiat iure!
          Possimus!
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus pariatur voluptate odit quis, eius porro
          voluptas rerum sit? Numquam soluta quasi earum aliquam beatae dicta nesciunt, obcaecati aperiam eveniet
          consectetur.
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus pariatur voluptate odit quis, eius porro
          voluptas rerum sit? Numquam soluta quasi earum aliquam beatae dicta nesciunt, obcaecati aperiam eveniet
          consectetur.
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus pariatur voluptate odit quis, eius porro
          voluptas rerum sit? Numquam soluta quasi earum aliquam beatae dicta nesciunt, obcaecati aperiam eveniet
          consectetur.
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus pariatur voluptate odit quis, eius porro
          voluptas rerum sit? Numquam soluta quasi earum aliquam beatae dicta nesciunt, obcaecati aperiam eveniet
          consectetur.
        </p>
      </div>
    </section>

    <section class="seccion apagado">
      <h2>Parte 3</h2>
      <div class="contenido">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint nulla odit possimus, cumque omnis consequatur
          mollitia quas expedita. Excepturi natus cum illum consequuntur dignissimos ipsa, dolore mollitia fugiat iure!
          Possimus!
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus pariatur voluptate odit quis, eius porro
          voluptas rerum sit? Numquam soluta quasi earum aliquam beatae dicta nesciunt, obcaecati aperiam eveniet
          consectetur.
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus pariatur voluptate odit quis, eius porro
          voluptas rerum sit? Numquam soluta quasi earum aliquam beatae dicta nesciunt, obcaecati aperiam eveniet
          consectetur.
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus pariatur voluptate odit quis, eius porro
          voluptas rerum sit? Numquam soluta quasi earum aliquam beatae dicta nesciunt, obcaecati aperiam eveniet
          consectetur.
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus pariatur voluptate odit quis, eius porro
          voluptas rerum sit? Numquam soluta quasi earum aliquam beatae dicta nesciunt, obcaecati aperiam eveniet
          consectetur.
        </p>
      </div>
    </section>
  </main>
</Plantilla>

<script>
  import { duranteInterseccion } from '../utilidades/observador';
  const secciones = document.querySelectorAll('.seccion');

  secciones.forEach((seccion) => duranteInterseccion(seccion, detectar, false, { threshold: [0, 0.5, 1] }));

  function detectar(elemento: IntersectionObserverEntry) {
    if (elemento.intersectionRatio < 0.5) {
      elemento.target.classList.add('apagado');
    } else if (elemento.intersectionRatio >= 0.5) {
      elemento.target.classList.remove('apagado');
    }
  }
</script>

<style lang="scss" is:global>
  #proyecto1 {
    h1 {
      font-size: 4em;
      text-align: center;
      margin-bottom: 1em;
    }

    .seccion {
      transition: opacity 1.6s ease-out;
      transition-delay: 250ms;
      margin-bottom: 10em;
    }

    .apagado {
      opacity: 0;
    }

    .resumen {
      font-size: 2em;
    }

    #introduccion {
      min-height: 100vh;
      margin-bottom: 0;
    }

    .columnas {
      display: flex;
      justify-content: space-around;

      .columna {
        flex-basis: 30%;
      }
    }
  }
</style>
