---
import Menu from '@/componentes/Menu.astro';
import NavegadorProyectos from '@/componentes/NavegadorProyectos.astro';
import Plantilla from '@/plantillas/Plantilla.astro';
---

<Plantilla titulo="VACS">
  <NavegadorProyectos numeroProyecto={4} />
  <Menu />

  <main></main>

  <NavegadorProyectos numeroProyecto={4} />
</Plantilla>

<style lang="scss"></style>
