---
import Plantilla from '../plantillas/Plantilla.astro';
---

<Plantilla titulo="VACS">
  <main>
    <section id="introduccion" class="seccion apagado">
      <h1>
        Trayectorias de maltrato: El impacto de la violencia en la infancia y adolescencia como predictor de ser víctima
        y victimario en la adultez
      </h1>
      <h2>Mónica Tatiana Moreno Ángel y Joaquín Daniel Ramírez Cabarcas</h2>
      <div class="resumen">
        <p>
          La infancia y la adolescencia son etapas claves del desarrollo humano, es en este periodo que se definirá el
          desarrollo de los procesos de lenguaje, cognitivos, conductuales y emocionales del individuo. Las experiencias
          tempranas de los individuos determinan cómo se activan y desactivan los genes. Por lo tanto, las experiencias
          que los individuos tienen en sus primeros años de vida y los entornos a los cuales están expuestos configuran
          la arquitectura del cerebro y afectan en gran medida cómo se desarrolla.
        </p>

        <p>
          El contexto social, la calidad en las interacciones con un entorno sensible y disponible y los vínculos
          seguros en las primeras etapas de vida son elementos fundamentales para el adecuado desarrollo de los
          individuos. La relación que las personas tengan con los cuidadores y adultos importantes en sus vidas es la
          esencia del impacto del medio ambiente en su desarrollo.
        </p>

        <p>
          La exposición a diferentes formas de violencia a temprana edad tiene consecuencias como problemas de salud
          física y mental, afectaciones en la configuración de relaciones sociales saludables, disminución de la
          capacidad de confiar y conectar con los demás, dificultad para regular las emociones e incluso afectaciones en
          los procesos económicos de los individuos y sociedades. Asimismo, se normalizan comportamientos y creencias
          asociadas al maltrato y a la violencia que se transmiten generacionalmente y que dificultan la ruptura de los
          ciclos de violencia.
        </p>

        <p>
          Según la teoría de los ciclos de violencia, la exposición al maltrato infantil aumenta el riesgo
          intergeneracional de incurrir en conductas violentas o agresivas a lo largo de la vida. Por otro lado, los
          individuos expuestos a abuso y maltrato tienen mayor probabilidad de tener registros oficiales de delincuencia
          juvenil, criminalidad adulta y delitos criminales violentos. La violencia sexual se presenta como un factor de
          riesgo para que se presenten situaciones de agresión en la adolescencia y adultez o se repliquen patrones de
          victimización en la edad adulta. Ser víctima de maltrato infantil, sobre todo en las mujeres en comparación
          con los hombres, puede aumentar el riesgo de perpetración de violencia por parte de la pareja en el futuro.
          Así, sufrir violencia durante la infancia y adolescencia se relaciona con cometer actos de violencia y ser
          víctima de estos actos en la adultez, lo que evidencia que el ciclo de violencia se mantiene.
        </p>

        <p>
          La violencia contra los niños, niñas y adolescentes se debe entender directamente relacionada con la violencia
          intrafamiliar. Son el hogar y la familia los contextos en los cuales más se producen estas agresiones,
          convirtiendo en una amenaza un espacio que se piensa –y debería ser- seguro para quienes están creciendo.
        </p>

        <p>
          <a
            href="https://uniandes-my.sharepoint.com/:w:/r/personal/j_gonzalezj_uniandes_edu_co/Documents/EnFlujo/Laboratorio%20EnFlujo/Proyectos/2023/Imagina%20-%20Fellows%20VACS/Relatos%20-%20M%C3%93NICA%20Y%20JOAQU%C3%8DN.docx?d=w6af4e0c71eee4230ad0d687702f99877&csf=1&web=1&e=NFTiSD"
            >GRÁFICA 3.1.1</a
          > Relación de Polivictimización y Victimización, Perpetración y Creencias en Colombia
        </p>

        <p>
          Los datos obtenidos por la EVCNNA evidencian que existe una asociación positivarelación entre ser víctima de
          violencia (física y emocional) por parte de los padres o cuidadores principales y ser víctima de violencia por
          parte de la pareja o ser perpetrador de violencia física y sexual contra la pareja en la adultez. Así mismo,
          muestran que ser víctima de violencia durante la infancia aumenta las probabilidades de normalizar y replicar
          la violencia en las relaciones de pareja y como método de disciplina en la crianza.
        </p>

        <p class="comentario">Cosas para resaltar en la gráfica anterior (4.1.1):</p>
        <p>
          Se estima que haber sufrido violencia física (VF) o emocional (VE) por parte de los padres antes de los 18
          años se relaciona con un aumento de la probabilidad de que una persona sea perpetradora de violencia física
          contra su pareja del 4 por ciento y creer que puede agredir a su pareja en un 6 por ciento; ser víctima de
          violencia a manos de su pareja del 10 por ciento. Adicionalmente, el ser víctima de este tipo de violencia
          aumenta la probabilidad en un 15 por ciento de creer que es válido y natural el disciplinar a los niños con
          estrategias violencia física.
        </p>
        <p>
          Se evidencia que haber sido víctima solo de violencia física se asocia con un aumento en la probabilidad del 7
          por ciento de convertirse en perpetrador de violencia física contra la pareja en la adultez y un aumento del 4
          por ciento de validar la violencia física contra la pareja. Así mismo, se observa una probabilidad de aumento
          de que este individuo nuevamente sea víctima de violencia física por parte de su pareja en la adultez en un 11
          por ciento. En esta misma línea, el ser víctima de violencia física aumenta la probabilidad en un 11 por
          ciento de validar la violencia física como estrategia de disciplina.
        </p>
        <p>
          Ser testigo de violencia en el hogar aumenta en un 4 por ciento la probabilidad de que el individuo en su
          adultez se vuelva perpetrador, que se relaciona con el aumento de la probabilidad del 3 por ciento de validar
          conductas violentadoras contra la pareja, y en un 7 por ciento de ser víctima por parte de su pareja. Con
          respecto a la relación con las creencias de validar la violencia física contra los niños, aumenta en un 9 por
          ciento.
        </p>
        <p>
          Con respecto a sufrir violencia física por parte de pares o comunidad se estima que existe una relación de
          aumento de probabilidad de que el individuo se vuelva perpetrador de violencia física contra su pareja en la
          adultez del 4 por ciento y en un 1 por ciento de validación de este tipo de comportamientos. la asociación con
          el ser víctima en el futuro (después de los 18 años) es del 5 por ciento y que valide comportamientos
          agresivos contra los niños como métodos educativos del 13 por ciento.
        </p>

        <p>
          <a
            href="https://uniandes-my.sharepoint.com/:w:/r/personal/j_gonzalezj_uniandes_edu_co/Documents/EnFlujo/Laboratorio%20EnFlujo/Proyectos/2023/Imagina%20-%20Fellows%20VACS/Relatos%20-%20M%C3%93NICA%20Y%20JOAQU%C3%8DN.docx?d=w6af4e0c71eee4230ad0d687702f99877&csf=1&web=1&e=NFTiSD"
            >GRÁFICA 3.1.2</a
          >

          <p>
            Sobre los mismos datos de la encuesta comparamos los municipios PDET y No-PDET y encontramos que,
            aparentemente, no existen diferencias significativas entre los dos tipos de territorios. Así, la
            probabilidad de ser víctima o perpetrador de violencia intrafamiliar si se sufrió maltrato en la infancia es
            muy similar en los municipios más afectados históricamente por el conflicto armado, y en el resto del país.
          </p>
        </p>
      </div>
    </section>

    <style lang="scss">
      main {
        background: rgb(50, 29, 47);
        background: linear-gradient(180deg, rgba(50, 29, 47, 1) 0%, rgba(61, 46, 79, 1) 50%, rgba(76, 95, 122, 1) 100%);
        color: #f6f1f1;
        min-height: 100vh;
        padding: 5em;
      }

      h1 {
        font-size: 3em;
        text-align: center;
        margin-bottom: 1em;
      }

      h2 {
        text-align: center;
      }

      // Borrar eventualmente esta clase
      .comentario {
        color: rgb(216, 213, 37);
        font-weight: bold;

        &::before {
          content: '(';
        }
        &::after {
          content: ')';
        }
      }
    </style>
  </main>
</Plantilla>
