---
import Mapa from '../componentes/Mapa.astro';
import Plantilla from '../plantillas/Plantilla.astro';
---

<Plantilla titulo="VACS">
  <main id="proyecto1">
    <section id="introduccion" class="seccion apagado">
      <h1>Proyecto 1</h1>
      <div class="resumen">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint nulla odit possimus, cumque omnis consequatur
          mollitia quas expedita. Excepturi natus cum illum consequuntur dignissimos ipsa, dolore mollitia fugiat iure!
          Possimus!
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus pariatur voluptate odit quis, eius porro
          voluptas rerum sit? Numquam soluta quasi earum aliquam beatae dicta nesciunt, obcaecati aperiam eveniet
          consectetur.
        </p>
      </div>
    </section>

    <div class="columnas seccion apagado">
      <div class="columna columna1">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint nulla odit possimus, cumque omnis consequatur
          mollitia quas expedita. Excepturi natus cum illum consequuntur dignissimos ipsa, dolore mollitia fugiat iure!
          Possimus!
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus pariatur voluptate odit quis, eius porro
          voluptas rerum sit? Numquam soluta quasi earum aliquam beatae dicta nesciunt, obcaecati aperiam eveniet
          consectetur.
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus pariatur voluptate odit quis, eius porro
          voluptas rerum sit? Numquam soluta quasi earum aliquam beatae dicta nesciunt, obcaecati aperiam eveniet
          consectetur.
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus pariatur voluptate odit quis, eius porro
          voluptas rerum sit? Numquam soluta quasi earum aliquam beatae dicta nesciunt, obcaecati aperiam eveniet
          consectetur.
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus pariatur voluptate odit quis, eius porro
          voluptas rerum sit? Numquam soluta quasi earum aliquam beatae dicta nesciunt, obcaecati aperiam eveniet
          consectetur.
        </p>
      </div>

      <div class="columna columna2">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint nulla odit possimus, cumque omnis consequatur
          mollitia quas expedita. Excepturi natus cum illum consequuntur dignissimos ipsa, dolore mollitia fugiat iure!
          Possimus!
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus pariatur voluptate odit quis, eius porro
          voluptas rerum sit? Numquam soluta quasi earum aliquam beatae dicta nesciunt, obcaecati aperiam eveniet
          consectetur.
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus pariatur voluptate odit quis, eius porro
          voluptas rerum sit? Numquam soluta quasi earum aliquam beatae dicta nesciunt, obcaecati aperiam eveniet
          consectetur.
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus pariatur voluptate odit quis, eius porro
          voluptas rerum sit? Numquam soluta quasi earum aliquam beatae dicta nesciunt, obcaecati aperiam eveniet
          consectetur.
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus pariatur voluptate odit quis, eius porro
          voluptas rerum sit? Numquam soluta quasi earum aliquam beatae dicta nesciunt, obcaecati aperiam eveniet
          consectetur.
        </p>
      </div>
    </div>

    <section class="seccion apagado">
      <h2>Parte 2</h2>
      <div class="contenido">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint nulla odit possimus, cumque omnis consequatur
          mollitia quas expedita. Excepturi natus cum illum consequuntur dignissimos ipsa, dolore mollitia fugiat iure!
          Possimus!
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus pariatur voluptate odit quis, eius porro
          voluptas rerum sit? Numquam soluta quasi earum aliquam beatae dicta nesciunt, obcaecati aperiam eveniet
          consectetur.
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus pariatur voluptate odit quis, eius porro
          voluptas rerum sit? Numquam soluta quasi earum aliquam beatae dicta nesciunt, obcaecati aperiam eveniet
          consectetur.
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus pariatur voluptate odit quis, eius porro
          voluptas rerum sit? Numquam soluta quasi earum aliquam beatae dicta nesciunt, obcaecati aperiam eveniet
          consectetur.
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus pariatur voluptate odit quis, eius porro
          voluptas rerum sit? Numquam soluta quasi earum aliquam beatae dicta nesciunt, obcaecati aperiam eveniet
          consectetur.
        </p>
      </div>
    </section>

    <section class="seccion apagado">
      <h2>Parte 3</h2>
      <div class="contenido">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint nulla odit possimus, cumque omnis consequatur
          mollitia quas expedita. Excepturi natus cum illum consequuntur dignissimos ipsa, dolore mollitia fugiat iure!
          Possimus!
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus pariatur voluptate odit quis, eius porro
          voluptas rerum sit? Numquam soluta quasi earum aliquam beatae dicta nesciunt, obcaecati aperiam eveniet
          consectetur.
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus pariatur voluptate odit quis, eius porro
          voluptas rerum sit? Numquam soluta quasi earum aliquam beatae dicta nesciunt, obcaecati aperiam eveniet
          consectetur.
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus pariatur voluptate odit quis, eius porro
          voluptas rerum sit? Numquam soluta quasi earum aliquam beatae dicta nesciunt, obcaecati aperiam eveniet
          consectetur.
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus pariatur voluptate odit quis, eius porro
          voluptas rerum sit? Numquam soluta quasi earum aliquam beatae dicta nesciunt, obcaecati aperiam eveniet
          consectetur.
        </p>
      </div>
    </section>

    <Mapa alto={80} />
  </main>
</Plantilla>

<script>
  import { duranteInterseccion } from '../utilidades/observador';
  const secciones = document.querySelectorAll('.seccion');

  secciones.forEach((seccion) => duranteInterseccion(seccion, detectar, false, { threshold: [0, 0.5, 1] }));

  function detectar(elemento: IntersectionObserverEntry) {
    if (elemento.intersectionRatio < 0.5) {
      elemento.target.classList.add('apagado');
    } else if (elemento.intersectionRatio >= 0.5) {
      elemento.target.classList.remove('apagado');
    }
  }
</script>

<style lang="scss" is:global>
  #proyecto1 {
    #mapa {
      position: fixed;
      top: 10%;
      left: 10%;
      z-index: 1;

      .municipio {
        fill: rgb(218, 241, 243);
        shape-rendering: geometricPrecision;
        stroke: rgba(149, 216, 222, 0.736);
        stroke-width: 0.5px;

        &.pdet {
          fill: rgb(210, 83, 76);
          stroke: rgba(229, 169, 169, 0.791);
        }
      }
    }

    h1 {
      font-size: 4em;
      text-align: center;
      margin-bottom: 1em;
    }

    .seccion {
      transition: opacity 1.6s ease-out;
      transition-delay: 250ms;
      margin-bottom: 10em;
    }

    .apagado {
      opacity: 0;
    }

    .resumen {
      font-size: 2em;
    }

    #introduccion {
      min-height: 100vh;
      margin-bottom: 0;
    }

    .columnas {
      display: flex;
      justify-content: space-around;

      .columna {
        flex-basis: 30%;
      }
    }
  }
</style>
