---
import Desliza from '@/componentes/Desliza.astro';
import Menu from '@/componentes/Menu.astro';
import Plantilla from '@/plantillas/Plantilla.astro';
import Indice from '@/componentes/Indice.astro';

const elementosIndice = [
  { nombre: 'Contexto', enlace: 'seccionContexto' },
  { nombre: 'Violencia en Colombia', enlace: 'seccionViolencia' },
  { nombre: 'Conclusiones', enlace: 'seccionConclusiones' },
];
import Grafica1 from '@/componentes/graficas/proyecto3/Grafica1.astro';
import Grafica2 from '@/componentes/graficas/proyecto3/Grafica2.astro';
import Grafica3 from '@/componentes/graficas/proyecto3/Grafica3.astro';
import Grafica4AgresorFisico from '@/componentes/graficas/proyecto3/Grafica4AgresorFisico.astro';
import Personitas from '@/componentes/Personitas.astro';
---

<Plantilla titulo="VACS" descripcion="...">
  <Menu numeroProyecto={3} />

  <main id="proyecto3">
    <Indice elementos={elementosIndice} />

    <section id="introduccion" class="anchoTitulo alto100">
      <div class="pegarTitulo">
        <h1 class="tituloProyecto">Trayectorias de maltrato</h1>
        <h2 class="subtitulo">
          El impacto de la violencia en la infancia y adolescencia como predictor de ser víctima y victimario en la
          adultez
        </h2>
        <h3 class="autores">Investigación: Mónica Tatiana Moreno Ángel y Joaquín Daniel Ramírez Cabarca</h3>
      </div>

      <Desliza />
    </section>

    <section class="columnas seccion" id="seccionContexto">
      <div class="tituloSeccion">
        <h3 class="subtitulo">Crecer con miedo</h3>
      </div>

      <div class="columna">
        <p class="narracion">
          La infancia y la adolescencia son etapas claves para el desarrollo humano. En estos periodos se configuran
          nuestros procesos de lenguaje, cognitivos, conductuales y emocionales. Por lo tanto, lo que vivimos en los
          primeros años de vida y los entornos a los cuales estamos expuestos configuran la arquitectura del cerebro y
          afectan en gran medida cómo se desarrolla.
        </p>
        <p class="narracion">
          El contexto social, las interacciones con un entorno sensible y disponible y la existencia de vínculos seguros
          son fundamentales en las primeras etapas de vida. La relación que tenemos con nuestros cuidadores y con los
          adultos importantes cuando somos niños tiene efectos importantes en nuestra salud fisica, mental y emocional,
          incluso durante la adultez.
        </p>
        <p class="narracion">
          Experimentar violencia durante la infancia puede generar problemas de salud física y mental en niños, jovenes
          y adultos, disminuir la capacidad de regular nuestras emociones, confiar y conectar con los demás.
        </p>

        <p class="destacado">
          Según la teoría de los ciclos de violencia, ser víctima de violencia (física y emocional) por parte de los
          padres o cuidadores principales aumenta las probabilidades de ser víctima de violencia por parte de la pareja
          o de ser perpetrador de violencia física y sexual contra la pareja en la adultez. Así mismo, experimentar
          maltrato durante la infancia influye en la normalización y réplica de la violencia en las relaciones de pareja
          y en la crianza, perpetuando el ciclo.
        </p>
        <p class="escribiendo" data-velocidad="50">
          Para entender qué pasa con este tema en nuestro país, estudiamos los datos obtenidos por la <span
            class="abrirGlosario"
            data-ancla="evcnna">EVCNNA</span
          > en 2018 y el reporte FORENSIS (2020) de Medicina Legal. Encontramos que, efectivamente, hay una relación entre
          el maltrato infantil y la repetición del ciclo de violencia, aunque no todos los tipos de violencia tienen el mismo
          impacto en el futuro.
        </p>
        <!-- <p class="grafica">
          <a
            href="https://uniandes-my.sharepoint.com/:w:/r/personal/j_gonzalezj_uniandes_edu_co/Documents/EnFlujo/Laboratorio%20EnFlujo/Proyectos/2023/Imagina%20-%20Fellows%20VACS/Relatos%20-%20M%C3%93NICA%20Y%20JOAQU%C3%8DN.docx?d=w6af4e0c71eee4230ad0d687702f99877&csf=1&web=1&e=NFTiSD"
            >GRÁFICA 3.1.1</a
          > Relación de Polivictimización y Victimización, Perpetración y Creencias en Colombia
        </p> -->
        <p class="narracion">
          Se estima que haber sufrido violencia física (VF) o emocional (VE) por parte de los padres antes de los 18
          años se relaciona con un aumento de la probabilidad de que una persona sea perpetradora de violencia física
          contra su pareja del 4%, creer que puede agredir a su pareja en un 6% y ser víctima de violencia a manos de su
          pareja del 10%. Además, ser víctima de este tipo de violencia aumenta la probabilidad en un 15% de creer que
          es válido y natural disciplinar a los niños con estrategias de violencia física.
        </p>
        <p class="narracion">
          Haber sido víctima solo de violencia física se asocia con un aumento en la probabilidad del 7% de convertirse
          en perpetrador de violencia física contra la pareja en la adultez y un aumento del 4% de validar la violencia
          física contra la pareja. Así mismo, aumenta la probabilidad de que esta persona sea víctima de violencia
          física por parte de su pareja en la adultez en un 11%. En esta misma línea, ser víctima de violencia física
          aumenta la probabilidad en un 11% de validar la violencia física como estrategia de disciplina.
        </p>
        <p class="narracion">
          Ser testigo de violencia en el hogar aumenta en un 4% la probabilidad de que el individuo en su adultez se
          vuelva perpetrador, que se relaciona con el aumento de la probabilidad del 3% de validar conductas
          violentadoras contra la pareja, y en un 7% de ser víctima por parte de su pareja. Validar la violencia física
          contra los niños aumenta en un 9%.
        </p>
        <p class="narracion">
          Con respecto a sufrir violencia física por parte de pares o de la comunidad, se estima que esto aumenta la
          probabilidad de que el individuo se vuelva perpetrador de violencia física contra su pareja en la adultez en
          un 4%, y en un 1% la validación de este tipo de comportamientos. La asociación con ser víctima en el futuro
          (después de los 18 años) es del 5% y con validar comportamientos agresivos contra los niños como métodos
          educativos del 13%.
        </p>
      </div>
    </section>

    <section id="seccionViolencia" class="columnas seccion">
      <div class="tituloSeccion">
        <h3 class="subtitulo">Datos de violencia en Colombia</h3>
      </div>

      <div class="columna">
        <p class="narracion">
          En 2020 fueron reportados 5.069 casos de violencia contra niños, niñas y adolescentes en el país.
          Específicamente, la violencia contra niñas y adolescentes fue mayor comparada con los niños, 2.677 casos y
          2.392 casos respectivamente. Estos datos muestran que, en general, ha habido un incremento progresivo durante
          los últimos 8 años.
        </p>

        <Grafica3 />

        <p class="destacado">
          En más del 85% de los casos de violencia sexual reportados en 2020 en Medicina Legal, las víctimas fueron
          niños, niñas y adolescentes.
        </p>

        <Grafica1 />
        <p class="destacado">La tasa en el grupo de 10 a 14 años (182.58) es cinco veces la tasa general (35.84).</p>
        <p class="destacado">En el 81.03% de los casos, los agresores tienen algún grado de cercanía con la víctima:</p>
        <Grafica2 />
        <p class="escribiendo" data-velocidad="50">
          Estos datos de Medicina Legal son congruentes con lo que encontramos en la <span
            class="abrirGlosario"
            data-ancla="evcnna">EVCNNA</span
          > (2018):
        </p>

        <Personitas
          felices={3}
          tristes={2}
          rutaSvgFeliz="/especiales/vacs/iconos/casa_rellena_bien_2.svg"
          rutaSvgTriste="/especiales/vacs/iconos/casa_rellena_rota.svg"
          descripcion="Aproximadamente 2 de cada 5 personas en Colombia han sido víctimas de violencia física, sexual o psicológica en su infancia o adolescencia."
        />

        <Personitas
          felices={3}
          tristes={1}
          rutaSvgFeliz="/especiales/vacs/iconos/casa_rellena_bien_2.svg"
          rutaSvgTriste="/especiales/vacs/iconos/casa_rellena_rota.svg"
          descripcion="Cerca de 1 de cada 4 mujeres (26.5%) sufrió violencia física en su infancia o adolescencia."
        />

        <Personitas
          felices={2}
          tristes={1}
          rutaSvgFeliz="/especiales/vacs/iconos/casa_rellena_bien_2.svg"
          rutaSvgTriste="/especiales/vacs/iconos/casa_rellena_rota.svg"
          descripcion="Cerca de 1 de cada 3 hombres (37.5%) sufrió violencia física en su infancia o adolescencia."
        />

        <Personitas
          felices={4}
          tristes={1}
          rutaSvgFeliz="/especiales/vacs/iconos/casa_rellena_bien_2.svg"
          rutaSvgTriste="/especiales/vacs/iconos/casa_rellena_rota.svg"
          descripcion="1 de cada 5 mujeres (21.2%) sufrió violencia psicológica por parte de los padres, cuidadores o parientes adultos."
        />

        <Personitas
          felices={9}
          tristes={1}
          rutaSvgFeliz="/especiales/vacs/iconos/casa_rellena_bien_2.svg"
          rutaSvgTriste="/especiales/vacs/iconos/casa_rellena_rota.svg"
          descripcion="1 de cada 10 hombres (9.5%) sufrió violencia psicológica por parte de los padres, cuidadores o parientes adultos."
        />

        <!-- <p>
          <a
            href="https://uniandes-my.sharepoint.com/:w:/r/personal/j_gonzalezj_uniandes_edu_co/Documents/EnFlujo/Laboratorio%20EnFlujo/Proyectos/2023/Imagina%20-%20Fellows%20VACS/Relatos%20-%20M%C3%93NICA%20Y%20JOAQU%C3%8DN.docx?d=w6af4e0c71eee4230ad0d687702f99877&csf=1&web=1&e=NFTiSD"
            >GRÁFICA 3.1.2 - Relación de Polivictimización y Victimización, Perpetración y Creencias en Colombia:
            Incluyendo muestra PDET
          </a>
        </p> -->
        <p class="narracion">
          Sobre los mismos datos de la encuesta comparamos los municipios PDET y No-PDET y encontramos que,
          aparentemente, no existen diferencias significativas entre los dos tipos de territorios. Así, la probabilidad
          de ser víctima o perpetrador de violencia intrafamiliar si se sufrió maltrato en la infancia es muy similar en
          los municipios más afectados históricamente por el conflicto armado, y en el resto del país.
        </p>
      </div>
    </section>

    <section id="seccionConclusiones" class="columnas seccion">
      <div class="tituloSeccion">
        <h3 class="subtitulo">Conclusiones</h3>
      </div>

      <div class="columna">
        <p class="narracion">
          Los recursos, políticas y acciones que se ejecutan en la primera infancia son los fundamentos de una sociedad.
          Nuestro desarrollo como seres humanos se cimienta en los primeros años de vida, cuando se crea una base para
          el futuro académico, la productividad económica, la ciudadanía responsable, la salud física y mental, el
          fortalecimiento de comunidades e, incluso, la capacidad de ser padres y madres de las próximas generaciones.
        </p>
        <p class="narracion">
          Creer que se tiene el derecho de maltratar física o emocionalmente a la pareja, permitir que alguien
          transgreda a su pareja, o validar y naturalizar la violencia como método para disciplinar a un niño no son
          elementos aislados, sin fenómenos que están relacionados y dan forma a las interacciones sociales. El maltrato
          en la infancia y adolescencia deja secuelas que van más allá de lo biológico y se profundizan en lo emocional,
          psicológico y social. Parte de esas consecuencias es que la violencia produce otras dinámicas de violencia que
          dificultan que nuestras formas de relacionamos se modifiquen.
        </p>
        <p class="destacado">
          Las cifras de violencia contra niños, niñas y adolescentes en Colombia evidencian un problema de salud pública
          que no disminuye con el tiempo, sino que se mantiene o aumenta.
        </p>

        <p class="narracion">
          Es en el hogar donde sucede la mayor parte de las agresiones contra niños, niñas y adolescentes. El maltrato
          es ejercido sobre todo por familiares cercanos.
        </p>

        <Grafica4AgresorFisico />

        <p class="narracion">
          Los resultados que encontramos en este estudio son preocupantes. Muchos niñas, niños y adolescentes sufren o
          presencian hechos violencios en su casa, en la comunidad o entre sus pares. Esta cadena se replica cuando se
          considera la violencia un método efectivo y válido para la educación y la disciplina.
        </p>
        <p class="destacado" style="margin-bottom:25vw">
          El hogar, un espacio que debería ser seguro para crecer, donde niños y niñas deberían sentirse resguardados,
          es el primer lugar en que se exponen a la violencia física y emocional. La familia, primer núcleo maltratante,
          se convierte así en una amenaza para muchos niñas, niños y adolescentes, obligados a convivir con sus
          abusadores y maltratadores.
        </p>
      </div>
    </section>
  </main>
</Plantilla>

<script>
  import desvanecer from '@/ambages/desvanecer';

  desvanecer(document.getElementById('introduccion'));
</script>
