---
import Plantilla from '../plantillas/Plantilla.astro';
---

<Plantilla titulo="VACS">
  <main>
    <section id="introduccion" class="seccion apagado">
      <h1>Experiencias Adversas en la Infancia: Estudio Comparativo de Colombia, Honduras y El Salvador</h1>
      <div class="resumen">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint nulla odit possimus, cumque omnis consequatur
          mollitia quas expedita. Excepturi natus cum illum consequuntur dignissimos ipsa, dolore mollitia fugiat iure!
          Possimus!
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus pariatur voluptate odit quis, eius porro
          voluptas rerum sit? Numquam soluta quasi earum aliquam beatae dicta nesciunt, obcaecati aperiam eveniet
          consectetur.
        </p>
      </div>
    </section>
  </main>
</Plantilla>

<style lang="scss">
  main {
    background: rgb(50, 29, 47);
    background: linear-gradient(180deg, rgba(50, 29, 47, 1) 0%, rgba(61, 46, 79, 1) 50%, rgba(76, 95, 122, 1) 100%);
    color: #f6f1f1;
    min-height: 100vh;
    padding: 5em;
  }

  h1 {
    font-size: 3em;
    text-align: center;
    margin-bottom: 1em;
  }
</style>
