---
import Plantilla from '../plantillas/Plantilla.astro';
---

<Plantilla titulo="VACS">
  <svg id="mapa">
    <g id="municipios"></g>
  </svg>

  <main>
    <section id="introduccion" class="seccion apagado">
      <h1>Proyecto 1</h1>
      <div class="resumen">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint nulla odit possimus, cumque omnis consequatur
          mollitia quas expedita. Excepturi natus cum illum consequuntur dignissimos ipsa, dolore mollitia fugiat iure!
          Possimus!
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus pariatur voluptate odit quis, eius porro
          voluptas rerum sit? Numquam soluta quasi earum aliquam beatae dicta nesciunt, obcaecati aperiam eveniet
          consectetur.
        </p>
      </div>
    </section>

    <div class="columnas seccion apagado">
      <div class="columna columna1">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint nulla odit possimus, cumque omnis consequatur
          mollitia quas expedita. Excepturi natus cum illum consequuntur dignissimos ipsa, dolore mollitia fugiat iure!
          Possimus!
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus pariatur voluptate odit quis, eius porro
          voluptas rerum sit? Numquam soluta quasi earum aliquam beatae dicta nesciunt, obcaecati aperiam eveniet
          consectetur.
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus pariatur voluptate odit quis, eius porro
          voluptas rerum sit? Numquam soluta quasi earum aliquam beatae dicta nesciunt, obcaecati aperiam eveniet
          consectetur.
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus pariatur voluptate odit quis, eius porro
          voluptas rerum sit? Numquam soluta quasi earum aliquam beatae dicta nesciunt, obcaecati aperiam eveniet
          consectetur.
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus pariatur voluptate odit quis, eius porro
          voluptas rerum sit? Numquam soluta quasi earum aliquam beatae dicta nesciunt, obcaecati aperiam eveniet
          consectetur.
        </p>
      </div>

      <div class="columna columna2">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint nulla odit possimus, cumque omnis consequatur
          mollitia quas expedita. Excepturi natus cum illum consequuntur dignissimos ipsa, dolore mollitia fugiat iure!
          Possimus!
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus pariatur voluptate odit quis, eius porro
          voluptas rerum sit? Numquam soluta quasi earum aliquam beatae dicta nesciunt, obcaecati aperiam eveniet
          consectetur.
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus pariatur voluptate odit quis, eius porro
          voluptas rerum sit? Numquam soluta quasi earum aliquam beatae dicta nesciunt, obcaecati aperiam eveniet
          consectetur.
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus pariatur voluptate odit quis, eius porro
          voluptas rerum sit? Numquam soluta quasi earum aliquam beatae dicta nesciunt, obcaecati aperiam eveniet
          consectetur.
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus pariatur voluptate odit quis, eius porro
          voluptas rerum sit? Numquam soluta quasi earum aliquam beatae dicta nesciunt, obcaecati aperiam eveniet
          consectetur.
        </p>
      </div>
    </div>

    <section class="seccion apagado">
      <h2>Parte 2</h2>
      <div class="contenido">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint nulla odit possimus, cumque omnis consequatur
          mollitia quas expedita. Excepturi natus cum illum consequuntur dignissimos ipsa, dolore mollitia fugiat iure!
          Possimus!
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus pariatur voluptate odit quis, eius porro
          voluptas rerum sit? Numquam soluta quasi earum aliquam beatae dicta nesciunt, obcaecati aperiam eveniet
          consectetur.
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus pariatur voluptate odit quis, eius porro
          voluptas rerum sit? Numquam soluta quasi earum aliquam beatae dicta nesciunt, obcaecati aperiam eveniet
          consectetur.
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus pariatur voluptate odit quis, eius porro
          voluptas rerum sit? Numquam soluta quasi earum aliquam beatae dicta nesciunt, obcaecati aperiam eveniet
          consectetur.
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus pariatur voluptate odit quis, eius porro
          voluptas rerum sit? Numquam soluta quasi earum aliquam beatae dicta nesciunt, obcaecati aperiam eveniet
          consectetur.
        </p>
      </div>
    </section>

    <section class="seccion apagado">
      <h2>Parte 3</h2>
      <div class="contenido">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint nulla odit possimus, cumque omnis consequatur
          mollitia quas expedita. Excepturi natus cum illum consequuntur dignissimos ipsa, dolore mollitia fugiat iure!
          Possimus!
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus pariatur voluptate odit quis, eius porro
          voluptas rerum sit? Numquam soluta quasi earum aliquam beatae dicta nesciunt, obcaecati aperiam eveniet
          consectetur.
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus pariatur voluptate odit quis, eius porro
          voluptas rerum sit? Numquam soluta quasi earum aliquam beatae dicta nesciunt, obcaecati aperiam eveniet
          consectetur.
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus pariatur voluptate odit quis, eius porro
          voluptas rerum sit? Numquam soluta quasi earum aliquam beatae dicta nesciunt, obcaecati aperiam eveniet
          consectetur.
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus pariatur voluptate odit quis, eius porro
          voluptas rerum sit? Numquam soluta quasi earum aliquam beatae dicta nesciunt, obcaecati aperiam eveniet
          consectetur.
        </p>
      </div>
    </section>
  </main>
</Plantilla>

<script>
  import { crearLinea, escalaCoordenadas, extremosLugar } from '../utilidades/mapas';
  import { duranteInterseccion } from '../utilidades/observador';
  import codigosPdet from '../utilidades/pdet';
  const rutaMunicipios = 'https://enflujo.com/bodega/maternoinfantil/municipios.json';
  const secciones = document.querySelectorAll('.seccion');
  const mapa = document.getElementById('mapa');
  const contenedorMunicipios = document.getElementById('municipios');
  let municipios;
  let extremosGeo;

  secciones.forEach((seccion) => duranteInterseccion(seccion, detectar, false, { threshold: [0, 0.5, 1] }));

  function detectar(elemento: IntersectionObserverEntry) {
    if (elemento.intersectionRatio < 0.5) {
      elemento.target.classList.add('apagado');
    } else if (elemento.intersectionRatio >= 0.5) {
      elemento.target.classList.remove('apagado');
    }
  }

  async function inicio() {
    municipios = await fetch(rutaMunicipios).then((res) => res.json());

    municipios.features.forEach((municipio) => {
      let esPdet = false;
      if (codigosPdet.includes(municipio.properties.codigo)) {
        esPdet = true;
      }

      municipio.properties.pdet = esPdet;
    });

    extremosGeo = extremosLugar(municipios);

    escalar();
  }

  function escalar() {
    const ancho = window.innerWidth;
    const alto = window.innerHeight;
    const mapearCoordenadas = escalaCoordenadas(extremosGeo);
    mapa.setAttribute('width', `${(ancho / 2) | 0}`);
    mapa.setAttribute('height', `${(alto / 1.5) | 0}`);

    mapa.innerHTML = '';

    municipios.features.forEach((municipio) => {
      const linea = crearLinea(municipio.geometry.coordinates, mapearCoordenadas, ancho / 2, alto / 1.5);
      const svg = document.createElement('path');
      const esPdet = municipio.properties.pdet;

      svg.className = municipio.properties.pdet ? 'municipio pdet' : 'municipio';
      svg.setAttribute('d', linea);
      svg.setAttribute('fill', esPdet ? 'red' : 'grey');
      mapa.appendChild(svg);
    });
  }

  inicio();

  window.onresize = escalar;
</script>

<style lang="scss">
  main {
    background: rgb(50, 29, 47);
    background: linear-gradient(180deg, rgba(50, 29, 47, 1) 0%, rgba(61, 46, 79, 1) 50%, rgba(76, 95, 122, 1) 100%);
    color: #f6f1f1;
    min-height: 100vh;
    padding: 5em;
  }

  h1 {
    font-size: 4em;
    text-align: center;
    margin-bottom: 1em;
  }

  .seccion {
    transition: opacity 1.6s ease-out;
    transition-delay: 250ms;
    margin-bottom: 10em;
  }

  .apagado {
    opacity: 0;
  }

  .resumen {
    font-size: 2em;
  }

  #introduccion {
    min-height: 100vh;
    margin-bottom: 0;
  }

  .columnas {
    display: flex;
    justify-content: space-around;

    .columna {
      flex-basis: 30%;
    }
  }

  #mapa {
    position: absolute;
  }

  .municipio {
    fill: red;
    stroke: yellow;
    shape-rendering: geometricPrecision;
  }
</style>
