---
import Menu from '@/componentes/Menu.astro';
import Plantilla from '@/plantillas/Plantilla.astro';
---

<Plantilla titulo="VACS">
  <Menu />

  <main></main>
</Plantilla>

<style lang="scss"></style>
