---
import Menu from '@/componentes/Menu.astro';
import Plantilla from '@/plantillas/Plantilla.astro';
---

<Plantilla titulo="VACS">
  <Menu numeroProyecto={1} />

  <div id="recursos" class="contenidoColumna contenido">
    <h1>Recursos y bibliografía</h1>

    <h2 id="huellaDelConflicto">La huella del conflicto armado en la niñez y adolescencia colombianas</h2>

    <ul>
      <li>ACNUR (1998). Principios rectores sobre el desplazamiento forzado, Bogotá, Acnur</li>

      <li>
        CEV (2022a) 2. Hay futuro si hay verdad. Informe final. No es un mal menor. Experiencias de mujeres y personas
        LGBTIG+ en el conflicto armado. https://www.comisiondelaverdad.co/hay-futuro-si-hay-verdad
      </li>

      <li>
        CEV (2022b) 2. Hay futuro si hay verdad. Informe final. Mi cuerpo es la verdad. Experiencias de mujeres y
        personas LGBTIG+ en el conflicto armado. https://www.comisiondelaverdad.co/hay-futuro-si-hay-verdad
      </li>

      <li>
        Durán, E. y Valoyes, E. (2009). Perfil de los niños, niñas y adolescentes sin cuidado parental en Colombia.
        Revista Latinoamericana de Ciencias Sociales, Niñez y Juventud, 7 (2), 761-783.
        https://www.redalyc.org/pdf/773/77315614008.pdf
      </li>

      <li>
        Gratz K.L., Roemer, L. (2008). The relationship between emotion dysregulation and deliberate self-harm among
        female undergraduate students at an urban commuter university. Cognitive Behavioral Therapy, 37(1), 14-25.
      </li>

      <li>
        Koul, P., & Shakher, C. (2014). Orphanhood; in the context of mental health and difficulty in emotion regulation
        of children. Indian Journal of Health and Wellbeing, 5(8), 927-930.
        https://ezproxy.uniandes.edu.co:8443/login?url=https://www.proquest.com/scholarly-journals/orphanhood-context-mental-health-difficulty/docview/1619361803/se-2
      </li>

      <li>Minsalud. (2019). Encuesta de Violencia Contra Niños, Niñas y Adolesc entes -EVCNNA-2018.</li>

      <li>
        Moratilla-Olvera, M. Y Taracena-Ruiz, Bertha. (2012). Vulnerabilidad social y orfandad: trayectoria vital de una
        adolescente. Revista Latinoamericana de Ciencias Sociales, Niñez y Juventud, 10 (2).
        http://www.scielo.org.co/scielo.php?script=sci_arttext&pid=S1692-715X2012000200005
      </li>

      <li>
        Naciones Unidas. (2022). El informe final de la Comisión de la Verdad.
        https://www.ohchr.org/es/statements/2022/06/colombian-truth-commissions-final-report
      </li>

      <li>
        O’Kane, C., Moedlagl, C., Verweijen-Slamnescu, R., Winkler, E. (2006) Child Rights Situation Analysis.
        Rights-Based Situational Analysis of Children without Parental Care and at risk of losing their Parental Care.
        [Versión electrónica]. Consultado el 10 septiembre de 2008.
        http://www.sos-childrensvillages.org/Publications/Reports-studies/
        Documents/20070404_0820_CRSA_final_Nov06_en.pdf
      </li>

      <li>
        Organización Mundial de la Salud -OMS-. (2022). Informe mundial sobre salud mental. Transformar la salud mental
        para todos. Panorama general. file:///Users/karla/Downloads/9789240051966-spa.pdf
      </li>

      <li>
        Peña, R. (2006). Migración de colombianos: ¿una expresión moderna de orfandad? Una aproximación a las políticas
        públicas dirigidas a los colombianos en el exterior. Estudios Sociojurídicos, 8 (1), 72-102.
        http://www.scielo.org.co/pdf/esju/v8n1/v8n1a03.pdf
      </li>

      <li>Sharma, K. (2002). Manual of mental health.Ankur publications ,New Delhi.</li>

      <li>
        Stern, C. (2004). Vulnerabilidad social y embarazo adolescente en México. Papeles de población, 39, pp. 129-158.
      </li>

      <li>
        Unidad para las Víctimas (2022). Registro único de víctimas.
        https://www.unidadvictimas.gov.co/es/registro-unico-de-victimas-ruv/37394
      </li>
    </ul>

    <h2 id="experienciasAdversas">Experiencias Adversas en la Infancia</h2>
    <ul>
      <li class="elemento">
        Assini-Meytin, L. C., Thorne, E. J., Sanikommu, M., Green, K. M., & Letourneau, E. J. (2022). Impact of Child
        Sexual Abuse on Socioeconomic Attainment in Adulthood. En Journal of Adolescent Health. Elsevier BV.
        <a href="https://doi.org/10.1016/j.jadohealth.2022.05.013" target="_blank"
          >https://doi.org/10.1016/j.jadohealth.2022.05.013</a
        >.
      </li>

      <li class="elemento">
        Baiden, P., LaBrenz, C. A., Okine, L., Thrasher, S., & Asiedua-Baiden, G. (2020). The toxic duo: Bullying
        involvement and adverse childhood experiences as factors associated with school disengagement among children. En
        Children and Youth Services Review (Vol. 119, p. 105383). Elsevier BV.
        <a href="https://doi.org/10.1016/j.childyouth.2020.105383" target="_blank"
          >https://doi.org/10.1016/j.childyouth.2020.105383</a
        >.
      </li>

      <li class="elemento">
        Barrios-Acosta, M., Riaño-Rondón, S. V., Villa-Rosero, Y. M., Martínez, O. P., Aragón-Joya, Y. A., & Mayer, S.
        (2017). Correlation between growth and adverse childhood experiences in vulnerable children in Bogotá, Colombia.
        En Journal of Child &amp; Adolescent Trauma (Vol. 10, Issue 3, pp. 217-224). Springer Science and Business Media
        LLC. <a href="https://doi.org/10.1007/s40653-017-0135-2" target="_blank"
          >https://doi.org/10.1007/s40653-017-0135-2</a
        >.
      </li>

      <li class="elemento">
        Bellis, M. A., Hughes, K., Leckenby, N., Perkins, C., & Lowey, H. (2014). National household survey of adverse
        childhood experiences and their relationship with resilience to health-harming behaviors in England. En BMC
        Medicine (Vol. 12, Issue 1). Springer Science and Business Media LLC. <a
          href="https://doi.org/10.1186/1741-7015-12-72"
          target="_blank">https://doi.org/10.1186/1741-7015-12-72</a
        >.
      </li>

      <li class="elemento">
        Castillo Martínez, A., Cleves Luna, D., García Cifuentes, Á. M., Laverde Martínez, L., Medina Medina, V., Cortés
        Ruiz, H., Ramírez Martínez, D., & Dávalos Pérez, D. M. (2017). Experiencias adversas de la infancia en una
        muestra de pacientes con enfermedad crónica en Cali-Colombia. En Medicina UPB (Vol. 36, Issue 1, pp. 9-15).
        Universidad Pontificia Bolivariana. <a href="https://doi.org/10.18566/medupb.v36n1.a02" target="_blank"
          >https://doi.org/10.18566/medupb.v36n1.a02</a
        >.
      </li>
      <li class="elemento">
        Chang, X., Jiang, X., Mkandarwire, T., & Shen, M. (2019). Associations between adverse childhood experiences and
        health outcomes in adults aged 18–59 years. En S. Seedat (Ed.), PLOS ONE (Vol. 14, Issue 2, p. e0211850). Public
        Library of Science (PLoS). <a href="https://doi.org/10.1371/journal.pone.0211850" target="_blank"
          >https://doi.org/10.1371/journal.pone.0211850</a
        >.
      </li>
      <li class="elemento">
        Exley, D., Norman, A., & Hyland, M. (2015). Adverse childhood experience and asthma onset: a systematic review.
        En European Respiratory Review (Vol. 24, Issue 136, pp. 299-305). European Respiratory Society (ERS).
        <a href="https://doi.org/10.1183/16000617.00004114" target="_blank">https://doi.org/10.1183/16000617.00004114</a
        >.
      </li>
      <li class="elemento">
        Ghanem, N. (2021). The effect of violence in childhood on school success factors in US children. En Child Abuse
        &amp; Neglect (Vol. 120, p. 105217). Elsevier BV. <a
          href="https://doi.org/10.1016/j.chiabu.2021.105217"
          target="_blank">https://doi.org/10.1016/j.chiabu.2021.105217</a
        >.
      </li>
      <li class="elemento">
        Hillis, S. D., Mercy, J. A., & Saul, J. R. (2017). The enduring impact of violence against children. Psychology,
        health & medicine, 22(4), 393–405. <a href="https://doi.org/10.1080/13548506.2016.1153679" target="_blank"
          >https://doi.org/10.1080/13548506.2016.1153679</a
        >.
      </li>
      <li class="elemento">
        Huang, H., Yan, P., Shan, Z., Chen, S., Li, M., Luo, C., Gao, H., Hao, L., & Liu, L. (2015). Adverse childhood
        experiences and risk of type 2 diabetes: A systematic review and meta-analysis. En Metabolism (Vol. 64, Issue
        11, pp. 1408-1418). Elsevier BV. <a href="https://doi.org/10.1016/j.metabol.2015.08.019" target="_blank"
          >https://doi.org/10.1016/j.metabol.2015.08.019</a
        >.
      </li>
      <li class="elemento">
        Kumar, M., Amugune, B., Madeghe, B., Wambua, G. N., Osok, J., Polkonikova-Wamoto, A., Bukusi, D., Were, F., &
        Huang, K. Y. (2018). Mechanisms associated with maternal adverse childhood experiences on offspring's mental
        health in Nairobi informal settlements: a mediational model testing approach. BMC psychiatry, 18(1), 381.
        <a href="https://doi.org/10.1186/s12888-018-1953-y" target="_blank">https://doi.org/10.1186/s12888-018-1953-y</a
        >.
      </li>
      <li class="elemento">
        Narayan, A. J., Lieberman, A. F., & Masten, A. S. (2021). Intergenerational transmission and prevention of
        adverse childhood experiences (ACEs). Clinical psychology review, 85, 101997.
        <a href="https://doi.org/10.1016/j.cpr.2021.101997" target="_blank">https://doi.org/10.1016/j.cpr.2021.101997</a
        >.
      </li>
      <li class="elemento">
        Petruccelli, K., Davis, J., & Berman, T. (2019). Adverse childhood experiences and associated health outcomes: A
        systematic review and meta-analysis. Child abuse & neglect, 97, 104127.
        <a href="https://doi.org/10.1016/j.chiabu.2019.104127" target="_blank"
          >https://doi.org/10.1016/j.chiabu.2019.104127</a
        >.
      </li>
      <li class="elemento">
        S., Trajkovski, K., & Hariharan, T. (2019). Understanding the mechanisms through which adverse childhood
        experiences affect lifetime economic outcomes. En Labour Economics (Vol. 61, p. 101743). Elsevier BV.
        <a href="https://doi.org/10.1016/j.labeco.2019.06.007" target="_blank"
          >https://doi.org/10.1016/j.labeco.2019.06.007</a
        >.
      </li>
      <li class="elemento">
        Schurer, S., Way, B., & Seeman, T. (2011). Early adversity and adult health outcomes. Development and
        Psychopathology, 23(3), 939-954. <a href="https://doi.org/10.1017/S0954579411000411" target="_blank"
          >https://doi.org/10.1017/S0954579411000411</a
        >.
      </li>
      <li class="elemento">
        Von Sneidern, E., Cabrera, K. P., Galeano, N., Plaza, M., & Barrios, M. (2017). Association between Adverse
        Childhood Experiences (ACEs) and Developmental Delay of Preschool Children in a Rural Area of Colombia. En
        Journal of Child &amp; Adolescent Trauma (Vol. 10, Issue 3, pp. 225-232). Springer Science and Business Media
        LLC. <a href="https://doi.org/10.1007/s40653-017-0179-3" target="_blank"
          >https://doi.org/10.1007/s40653-017-0179-3</a
        >.
      </li>
      <li class="elemento">
        Wood, K. H., Wheelock, M. D., Shumen, J. R., Bowen, K. H., Ver Hoef, L. W., & Knight, D. C. (2015).
        Controllability modulates the neural response to predictable but not unpredictable threat in humans. NeuroImage,
        119, 371–381. <a href="https://doi.org/10.1016/j.neuroimage.2015.06.086" target="_blank"
          >https://doi.org/10.1016/j.neuroimage.2015.06.086</a
        >.
      </li>
    </ul>

    <h2 id="trayectoriasMaltrato">Trayectorias de Maltrato</h2>
    <ul>
      <li class="elemento">
        Agencia de Renovaci´on del Territorio (2021). PDET en Cifras. Recuperado de
        <a href="https://www.renovacionterritorio.gov.co/especiales/especialpdet/" target="_blank"
          >https://www.renovacionterritorio.gov.co/especiales/especialpdet/</a
        >.
      </li>

      <li class="elemento">
        Armfield JM, Gnanamanickam ES, Johnston DW, Preen DB, Brown DS, Nguyen H, Segal L. (2021). Intergenerational
        transmission of child maltreatment in South Australia, 1986-2017: a retrospective cohort study. Lancet Public
        Health, 6 (7). <a href="https://doi.org/10.1016/S2468-2667(21)00024-4" target="_blank"
          >https://doi.org/10.1016/S2468-2667(21)00024-4</a
        >.
      </li>

      <li class="elemento">
        Auslander W, Sterzing P, Threlfall J, Gerke D, Edmond T. Childhood Abuse and Aggression in Adolescent Girls
        Involved in Child Welfare: The Role of Depression and Posttraumatic Stress. J Child Adolesc Trauma. 2016;9:1-10.
        <a href="https://doi.org/10.1007/s40653-016-0090-3" target="_blank">https://doi.org/10.1007/s40653-016-0090-3</a
        >. Epub 2016 Apr 12. PMID: 27152132; PMCID: PMC4852743.
      </li>

      <li class="elemento">
        Baita, S. (2009). Prefazione. Verso una definizione di ”trauma evolutivo”: quale futuro?. En Ardino, V. (comp.)
        Il disturbo post- traumatico nello sviluppo. Milano: Edizioni Unicopli.
      </li>

      <li class="elemento">
        Baita, S. (2015). Rompecabezas. Una gu´ıa introductoria al trauma y la disociaci´on en la infancia. Buenos
        Aires: El autor.
      </li>
      <li class="elemento">
        Berlin, L. J., Appleyard, K., Dodge, K. A. (2011). Intergenerational Continuity in Child Maltreatment: Mediating
        Mechanisms and Implications for Prevention. Child Development, 82(1). 162–176. Recuperado de
        <a href="https://doi.org/10.1111/j.1467-8624.2010.01547.x" target="_blank"
          >https://doi.org/10.1111/j.1467-8624.2010.01547.x</a
        >.
      </li>
      <li class="elemento">
        Black MM, Walker SP, Fernald LCH, Andersen CT, DiGirolamo AM, Lu C, McCoy DC, Fink G, Shawar YR, Shiffman J,
        Devercelli AE, Wodon QT, Vargas-Bar´on E, GranthamMcGregor S. (2017). Early childhood development coming of age:
        science through the life course. Lancet Early Childhood Development Series Steering Committee, 389(10064).77-90.
        <a href="https://doi.org/10.1016/S0140-6736(16)31389-7" target="_blank"
          >https://doi.org/10.1016/S0140-6736(16)31389-7</a
        >.
      </li>
      <li class="elemento">
        Boyer D Fine D. (1992). Sexual abuse as a factor in adolescent pregnancy and child maltreatment. Fam Plann
        Perspect, 24(1):4-11, 19. PMID: 1601126.
      </li>
      <li class="elemento">
        Britto PR, Lye SJ, Proulx K, Yousafzai AK, Matthews SG, Vaivada T, Perez-Escamilla R, Rao N, Ip P, Fernald LCH,
        MacMillan H, Hanson M, Wachs TD, Yao H, Yoshikawa H, Cerezo A, Leckman JF, Bhutta ZA; Early Childhood
        Development Interventions Review Group, for the Lancet Early Childhood Development Series Steering Committee.
        Nurturing care: promoting early childhood development. Lancet. 2017 Jan 7;389(10064):91-102.
        <a href="https://doi.org/10.1016/S0140-6736(16)31390-3" target="_blank"
          >https://doi.org/10.1016/S0140-6736(16)31390-3</a
        >. Epub 2016 Oct 4. PMID: 27717615.
      </li>
      <li class="elemento">
        Bronfenbrenner, U. (1977). Toward an experimental ecology of human development. American Psychologist, 32(7),
        513–531. <a href="https://doi.org/10.1037/0003-066X.32.7.513" target="_blank"
          >https://doi.org/10.1037/0003-066X.32.7.513</a
        >.
      </li>
      <li class="elemento">
        Bronfenbrenner, U. (1979). The ecology of human development: Experiments by nature and design. Cambridge, MA:
        Harvard University Press.
      </li>
      <li class="elemento">
        Bronfenbrenner, U. (Ed.). (2005). Making human beings human: Bioecological perspectives on human development.
        Sage Publications Ltd.
      </li>
      <li class="elemento">Bronfenbrenner, U., Morris, P. A. (1998). The ecology of developmental processes.</li>

      <li class="elemento">
        Buisman, R. S. M., Pittner, K., Tollenaar, M. S., Lindenberg, J., van den Berg, L. J. M., Compier-de Block, L.
        H. C. G., van Ginkel, J. R., Alink, L. R. A., Bakermans-Kranenburg, M. J., Elzinga, B. M., van IJzendoorn, M. H.
        (2020). Intergenerational transmission of child maltreatment using a multi-informant multi-generation family
        design. PLoS ONE, 15(3). 1–23. Recuperado de
        <a href="https://doi.org/10.1371/journal.pone.0225839" target="_blank"
          >https://doi.org/10.1371/journal.pone.0225839</a
        >.
      </li>
      <li class="elemento">
        Chan, M.; Lake, A. Hansen, K. (2017). The early years: silent emergency or unique opportunity? The Lancet,
        389.11-13. <a href="https://doi.org/10.1016/S0140-6736(16)31701-9" target="_blank"
          >https://doi.org/10.1016/S0140-6736(16)31701-9</a
        >.
      </li>
      <li class="elemento">
        D´Andrea, W.; Spinazzola, J. Van der Kolk, B. (2009). Phenomenology and Nosology Symptoms Following
        Interpersonal Trauma Exposure in Children: A Review of literature on Symptoms, Biology, and Treatment.
      </li>
      <li class="elemento">
        Dixon, L., Browne, K., Hamilton, G. C. (2005). Risk factors of parents abused as children: a mediational
        analysis of the intergenerational continuity of child maltreatment (Part I). Journal of Child Psychology
        Psychiatry, 46(1), 47–57. <a href="https://doi.org/10.1111/j.1469-7610.2004.00339.x" target="_blank"
          >https://doi.org/10.1111/j.1469-7610.2004.00339.x</a
        >.
      </li>
      <li class="elemento">
        Dixon, L., Browne, K., Hamilton-Giachritsis, C. (2009). Patterns of Risk and Protective Factors in the
        Intergenerational Cycle of Maltreatment. Journal of Family Violence, 24(2), 111–122.
        <a href="https://doi.org/10.1007/s10896-008-9215-2" target="_blank">https://doi.org/10.1007/s10896-008-9215-2</a
        >.
      </li>
      <li class="elemento">
        Dixon, L., Hamilton, G. C., Browne, K. (2005). Attributions and behaviours of parents abused as children: a
        mediational analysis of the intergenerational continuity of child maltreatment (Part II). Journal of Child
        Psychology Psychiatry, 46(1), 58–68. <a href="https://doi.org/10.1111/j.1469-7610.2004.00340.x" target="_blank"
          >https://doi.org/10.1111/j.1469-7610.2004.00340.x</a
        >.
      </li>
      <li class="elemento">
        Fagan, A. (2005). The Relationship Between Adolescent Physical Abuse and Criminal Offending: Support for an
        Enduring and Generalized Cycle of Violence. Journal of Family Violence, 20(5), 279–290.
        <a href="https://doi.org/10.1007/s10896-005-6604-7" target="_blank">https://doi.org/10.1007/s10896-005-6604-7</a
        >.
      </li>
      <li class="elemento">
        Farrington DP. (1989). Early predictors of adolescent aggression and adult violence. Violence and Victims,
        4(2):79–100.
      </li>
      <li class="elemento">
        Felitti, R., Anda, V., Nordenberg, R., Williamson, D.,Spitz, A., Edwards, V., Koss, M.P. Marks, J. (1998).
        Relationship of Childhood Abuse and Household Dysfunction to Many of the Leading Causes of Death in Adults. The
        Adverse Childhood Experiences (ACE) Study. American Journal of Preventive Medicine, 14 (4). 245-258.
      </li>
      <li class="elemento">
        Gobierno de Colombia, Ministerio de Salud y Protección Social (2018). Encuesta de Violencia contra Ni˜nos,
        Ni˜nas y Adolescentes en Colombia, 2018. Bogotá, Colombia, 2019.
      </li>
      <li class="elemento">
        Hayes, B. E., Connolly, E. J., Wang, X., Ingham, C., Mason, M. (2021). Prevalence of Child Maltreatment and the
        Effects of the Intergenerational Transmission of Violence on Attitudes towards Domestic Violence in Chinese
        Police Cadets. Journal of Family Violence, 36(6). 733–742.
        <a href="https://doi.org/10.1007/s10896-020-00182-0" target="_blank"
          >https://doi.org/10.1007/s10896-020-00182-0</a
        >.
      </li>
      <li class="elemento">
        Heckman, J. (2011). The Economics of Inequality: The Value of Early Childhood Education. American Educator,
        35(1). 31-35. Recuperado de <a href="https://eric.ed.gov/?id=EJ920516" target="_blank"
          >https://eric.ed.gov/?id=EJ920516</a
        >.
      </li>
      <li class="elemento">
        Herman, J. (1997) Trauma and Recovery. The aftermath of Violence from Domestic Abuse to Political Terror. New
        York: Basic Books.
      </li>
      <li class="elemento">
        Herrenkohl RC, Egolf BP, Herrenkohl EC. (1997). Preschool antecedents of adolescent assaultive behavior: a
        longitudinal study. American Journal of Orthopsychiatry, 67(3). 422–432. <a
          href="https://doi.org/10.1037/h0080244"
          target="_blank">https://doi.org/10.1037/h0080244</a
        >.
      </li>
      <li class="elemento">
        Herrenkohl, T.; Jung, H.; Lee, J. Kim, M. (2017). Effects of Child Maltreatment, Cumulative Victimization
        Experiences, and Proximal Life Stress on Adult Crime and Antisocial Behavior. National Criminal Justice
        Reference Service. Recuperado de <a href="https://www.ojp.gov/pdffiles1/nij/grants/250506.pdf" target="_blank"
          >https://www.ojp.gov/pdffiles1/nij/grants/250506.pdf</a
        >.
      </li>
      <li class="elemento">
        Howell, E. Blizard, R. (2009). Chronic Relational Trauma Disorder: A new diagnostic scheme for borderline
        personality and the spectrum of dissociative disorder. Dissociation and the dissociative disorder. DSM V and
        beyond. New York: Routledge.
      </li>
      <li class="elemento">
        Instituto Nacional Legal y de Ciencias Forenses- Grupo Centro de Referencia Nacional sobre Violencia (FORENSIS,
        2020). Datos para la Vida. Recuperado de
        <a href="https://www.medicinalegal.gov.co/documents/20143/787115/Forensis2020.pdf" target="_blank"
          >https://www.medicinalegal.gov.co/documents/20143/787115/Forensis2020.pdf</a
        >.
      </li>
      <li class="elemento">
        Maas C, Herrenkohl TI, Sousa C. (2008). Review of research on child maltreatment and violence in youth. Trauma,
        Violence Abuse. 9(1). 56–67. <a href="https://doi.org/10.1177/1524838007311105" target="_blank"
          >https://doi.org/10.1177/1524838007311105</a
        >.
      </li>
      <li class="elemento">
        Magdol L, Moffitt TE, Caspi A, Silva PA. (1998). Developmental antecedents of partner abuse: a
        prospective-longitudinal study. Journal of Abnormal Psychology, 107(3).375–389.
      </li>
      <li class="elemento">
        Maxwell, K., Callahan, J., Ruggero, C., Janis, B. (2016). Breaking the Cycle: Association of Attending Therapy
        Following Childhood Abuse and Subsequent Perpetration of Violence. Journal of Family Violence, 31(2), 251–258.
        <a href="https://doi.org/10.1007/s10896-015-9765-z" target="_blank">https://doi.org/10.1007/s10896-015-9765-z</a
        >.
      </li>
      <li class="elemento">
        National Scientific Council on the Developing Child (2004). Young Children Develop in an Environment of
        Relationships.
        <a
          href="https://46y5eh11fhgw3ve3ytpwxt9r-wpengine.netdna-ssl.com/wpcontent/uploads/2004/04/Young-Children-Develop-in-an-Environment-of-Relationships.pdf"
          target="_blank"
          >https://46y5eh11fhgw3ve3ytpwxt9r-wpengine.netdna-ssl.com/wpcontent/uploads/2004/04/Young-Children-Develop-in-an-Environment-of-Relationships.pdf</a
        >.
      </li>
      <li class="elemento">
        National Scientific Council on the Developing Child (2007). The timing and quality of early experiences combine
        to shape brain architecture. Recuperado de
        <a
          href="https://46y5eh11fhgw3ve3ytpwxt9rwpengine.netdna-ssl.com/wp-content/uploads/2007/05/TimingQualityEarlyExperiences−1.pdf"
          target="_blank"
          >https://46y5eh11fhgw3ve3ytpwxt9rwpengine.netdna-ssl.com/wp-content/uploads/2007/05/TimingQualityEarlyExperiences−1.pdf</a
        >.
      </li>
      <li class="elemento">
        National Scientific Council on the Developing Child (2010). Early experiences can alter gene expression and
        affect long-term development. Recuperado de
        <a
          href="https://46y5eh11fhgw3ve3ytpwxt9rwpengine.netdna-ssl.com/wp-content/uploads/2010/05/Early-Experiences-Can-Alter-Gene-Expression-and-Affect-Long-Term-Development.pdf"
          target="_blank"
          >https://46y5eh11fhgw3ve3ytpwxt9rwpengine.netdna-ssl.com/wp-content/uploads/2010/05/Early-Experiences-Can-Alter-Gene-Expression-and-Affect-Long-Term-Development.pdf</a
        >.
      </li>
      <li class="elemento">
        National Scientific Council on the Developing Child (2014). Excessive Stress Disrupts the Architecture of the
        Developing Brain. Recuperado de
        <a
          href="https://46y5eh11fhgw3ve3ytpwxt9rwpengine.netdna-ssl.com/wp-content/uploads/2005/05/StressDisruptsArchitectureDevelopingBrain−1.pdf"
          target="_blank"
          >https://46y5eh11fhgw3ve3ytpwxt9rwpengine.netdna-ssl.com/wp-content/uploads/2005/05/StressDisruptsArchitectureDevelopingBrain−1.pdf</a
        >.
      </li>
      <li class="elemento">
        Oliveira, R. V., Maroco, J., Pa´ıs, L. G. (2012). The Origin of Maltreatment: An Exploratory Study on the
        Intergenerational Transmission of Child Abuse Typologies. Interdisciplinaria: Revista de Psicología y Ciencias
        Afines, 29(2), 253–269. <a href="https://doi.org/10.16888/interd.2012.29.2.4" target="_blank"
          >https://doi.org/10.16888/interd.2012.29.2.4</a
        >.
      </li>
      <li class="elemento">
        Organizaci´on Mundial de la Salud (OMS) (2022). Maltrato Infantil. Recuperado de
        <a href="https://www.who.int/es/news-room/fact-sheets/detail/child-maltreatment" target="_blank"
          >https://www.who.int/es/news-room/fact-sheets/detail/child-maltreatment</a
        >.
      </li>
      <li class="elemento">
        Organizaci´on Panamericana de la Slud (OPS) (2022). Prevención de la violencia. Recuperado de
        <a href="https://www.paho.org/es/temas/prevencion-violencia" target="_blank"
          >https://www.paho.org/es/temas/prevencion-violencia</a
        >.
      </li>
      <li class="elemento">
        Perry, B. Szalavitz, M. (2006). The boy who was raised as a dog and other stories from a child psychiatrist’s
        notebook. Basic Books.
      </li>
      <li class="elemento">
        Putnam-Hornstein E, Cederbaum JA, King B, Eastman AL, Trickett PK. (2015). A population-level and longitudinal
        study of adolescent mothers and intergenerational maltreatment. Am J Epidemiol, 181(7).496-503.
        <a href="https://doi.org/10.1093/aje/kwu321" target="_blank">https://doi.org/10.1093/aje/kwu321</a>.
      </li>
      <li class="elemento">
        Rodríguez, V. J., Are, F., Madden, A., Shaffer, A., Suveg, C. (2021). Intergenerational Transmission of
        Childhood Maltreatment Mediated by Maternal Emotion Dysregulation. Journal of Child Family Studies, 30(8).
        2068–2075. Recuperado de <a href="https://doi.org/10.1007/s10826-021-02020-3" target="_blank"
          >https://doi.org/10.1007/s10826-021-02020-3</a
        >.
      </li>
      <li class="elemento">
        Schafer, I.; Ross, C. Read, J. (2009). Childhood trauma in psychotic and dissociative disorder. Psychosis,
        Trauma and Dissociation. Emerging perspectives on severe psychopathology. United Kingdom: Wiley-Blackwell.
      </li>
      <li class="elemento">
        Seff, I.; Meinhart, M.; Harker, A.; Stark, L. Villaveces, A. (2022) Predicting adolescent boys’ and young men’s
        perpetration of youth violence in Colombia, International Journal of Injury Control and Safety Promotion,
        29(1).123-131. <a href="https://doi.org/10.1080/17457300.2021.2009519" target="_blank"
          >https://doi.org/10.1080/17457300.2021.2009519</a
        >.
      </li>
      <li class="elemento">
        Silva TC, Grana JL, Gonzalez-Cieza L. (2014). Self-reported physical and emotionall abuse among youth offenders
        and their association with internalizing and externalizing psychopathology: a preliminary study. International
        Journal of Offender Therapy and Comparative Criminology, 58(5):590–606. <a
          href="https://doi.org/10.1177/0306624X12474975"
          target="_blank">https://doi.org/10.1177/0306624X12474975</a
        >.
      </li>
      <li class="elemento">
        Smith, C. Thornberry, TP. (1995). The relationship between childhood maltreatment and adolescent involvement in
        delinquency. Criminology, 33(4). 451–481. <a
          href="https://doi.org/10.1111/j.1745-9125.1995.tb01186.x"
          target="_blank">https://doi.org/10.1111/j.1745-9125.1995.tb01186.x</a
        >.
      </li>
      <li class="elemento">
        Waugh M., Guhn M. (2014) Bioecological Theory of Human Development. In: Michalos A.C. (eds) Encyclopedia of
        Quality of Life and Well-Being Research. Springer, Dordrecht. doi: 10.1007/978-94-007-0753-53438.
      </li>
      <li class="elemento">
        Widom CS. (1989) (a). Child abuse, neglect, and adult behavior research design and findings on criminality,
        violence, and child abuse. American Journal of Orthopsychiatry. 1989b;59(3):355–367.
        <a href="https://doi.org/10.1111/j.1939-0025.1989.tb01671.x" target="_blank"
          >https://doi.org/10.1111/j.1939-0025.1989.tb01671.x</a
        >.
      </li>
      <li class="elemento">
        Widom CS. (1989) (b). The cycle of violence. Science. 1989a;244(4901):160–166. <a
          href="https://doi.org/10.1126/science.2704995"
          target="_blank">https://doi.org/10.1126/science.2704995</a
        >.
      </li>
      <li class="elemento">
        Zurbriggen EL, Gobin RL, Freyd JJ. (2010). Childhood emotional abuse predicts late adolescent sexual aggression
        perpetration and victimization. Journal of Aggression, Maltreatment Trauma, 19. 204–223.
        <a href="https://doi.org/10.1080/10926770903539631" target="_blank">https://doi.org/10.1080/10926770903539631</a
        >.
      </li>
    </ul>
  </div>
</Plantilla>

<style lang="scss">
  .elemento {
    margin: 1em 0;
  }
</style>
