---
import Menu from '@/componentes/Menu.astro';
import Plantilla from '@/plantillas/Plantilla.astro';
---

<Plantilla titulo="VACS">
  <Menu numeroProyecto={1} />

  <div id="recursos" class="contenidoColumna contenido">
    <h1>Recursos y bibliografía</h1>

    <h2 id="huellaDelConflicto">La huella del conflicto armado en la niñez y adolescencia colombianas</h2>

    <ul>
      <li class="elemento">
        ACNUR (1998). <span class="titulo">Principios rectores sobre el desplazamiento forzado</span>, Bogotá, Acnur.
      </li>

      <li class="elemento">
        CEV (2022a) 2. <span class="titulo"
          >Hay futuro si hay verdad. Informe final. No es un mal menor. Experiencias de mujeres y personas LGBTIG+ en el
          conflicto armado
        </span>. <br /><a
          class="enlaceBibliografia"
          href="https://www.comisiondelaverdad.co/hay-futuro-si-hay-verdad"
          target="_blank">https://www.comisiondelaverdad.co/hay-futuro-si-hay-verdad</a
        >.
      </li>

      <li class="elemento">
        CEV (2022b) 2. <span class="titulo">
          Hay futuro si hay verdad. Informe final. Mi cuerpo es la verdad. Experiencias de mujeres y personas LGBTIG+ en
          el conflicto armado
        </span>. <br /><a
          class="enlaceBibliografia"
          href="https://www.comisiondelaverdad.co/hay-futuro-si-hay-verdad"
          target="_blank">https://www.comisiondelaverdad.co/hay-futuro-si-hay-verdad</a
        >.
      </li>

      <li class="elemento">
        Durán, E. y Valoyes, E. (2009). <span class="titulo">
          Perfil de los niños, niñas y adolescentes sin cuidado parental en Colombia</span
        >. Revista Latinoamericana de Ciencias Sociales, Niñez y Juventud, 7 (2), 761-783.
        <br /><a class="enlaceBibliografia" href="https://www.redalyc.org/pdf/773/77315614008.pdf" target="_blank"
          >https://www.redalyc.org/pdf/773/77315614008.pdf</a
        >.
      </li>

      <li class="elemento">
        Gratz K.L., Roemer, L. (2008). <span class="titulo"
          >The relationship between emotion dysregulation and deliberate self-harm among female undergraduate students
          at an urban commuter university</span
        >. Cognitive Behavioral Therapy, 37(1), 14-25.
      </li>

      <li class="elemento">
        Koul, P., & Shakher, C. (2014). <span class="titulo"
          >Orphanhood; in the context of mental health and difficulty in emotion regulation of children</span
        >. Indian Journal of Health and Wellbeing, 5(8), 927-930.
        <br /><a
          class="enlaceBibliografia"
          href="https://ezproxy.uniandes.edu.co:8443/login?url=https://www.proquest.com/scholarly-journals/orphanhood-context-mental-health-difficulty/docview/1619361803/se-2"
          target="_blank"
          >https://ezproxy.uniandes.edu.co:8443/login?url=https://www.proquest.com/scholarly-journals/orphanhood-context-mental-health-difficulty/docview/1619361803/se-2</a
        >.
      </li>

      <li>Minsalud. (2019). Encuesta de Violencia Contra Niños, Niñas y Adolescentes -EVCNNA-2018.</li>

      <li class="elemento">
        Moratilla-Olvera, M. Y Taracena-Ruiz, Bertha. (2012). <span class="titulo"
          >Vulnerabilidad social y orfandad: trayectoria vital de una adolescente</span
        >. Revista Latinoamericana de Ciencias Sociales, Niñez y Juventud, 10 (2).
        <br /><a
          class="enlaceBibliografia"
          href="http://www.scielo.org.co/scielo.php?script=sci_arttext&pid=S1692-715X2012000200005"
          target="_blank">http://www.scielo.org.co/scielo.php?script=sci_arttext&pid=S1692-715X2012000200005</a
        >.
      </li>

      <li class="elemento">
        Naciones Unidas. (2022). <span class="titulo">El informe final de la Comisión de la Verdad</span>.
        <br /><a
          class="enlaceBibliografia"
          href="https://www.ohchr.org/es/statements/2022/06/colombian-truth-commissions-final-report"
          target="_blank">https://www.ohchr.org/es/statements/2022/06/colombian-truth-commissions-final-report</a
        >.
      </li>

      <li class="elemento">
        O’Kane, C., Moedlagl, C., Verweijen-Slamnescu, R., Winkler, E. (2006) <span class="titulo">
          Child Rights Situation Analysis. Rights-Based Situational Analysis of Children without Parental Care and at
          risk of losing their Parental Care.
        </span>
        [Versión electrónica]. Consultado el 10 septiembre de 2008.
        <br /><a
          class="enlaceBibliografia"
          href="http://www.sos-childrensvillages.org/Publications/Reports-studies/Documents/20070404_0820_CRSA_final_Nov06_en.pdf"
          target="_blank"
          >http://www.sos-childrensvillages.org/Publications/Reports-studies/Documents/20070404_0820_CRSA_final_Nov06_en.pdf</a
        >.
      </li>

      <li class="elemento">
        Organización Mundial de la Salud -OMS-. (2022). <span class="titulo">
          Informe mundial sobre salud mental. Transformar la salud mental para todos. Panorama general.
        </span>
      </li>

      <li class="elemento">
        Peña, R. (2006). <span class="titulo"
          >Migración de colombianos: ¿una expresión moderna de orfandad? Una aproximación a las políticas públicas
          dirigidas a los colombianos en el exterior</span
        >. Estudios Sociojurídicos, 8 (1), 72-102.
        <br /><a class="enlaceBibliografia" href="http://www.scielo.org.co/pdf/esju/v8n1/v8n1a03.pdf" target="_blank"
          >http://www.scielo.org.co/pdf/esju/v8n1/v8n1a03.pdf</a
        >.
      </li>

      <li class="elemento">
        Sharma, K. (2002). <span class="titulo">Manual of mental health.</span> Ankur publications, New Delhi.
      </li>

      <li class="elemento">
        Stern, C. (2004). <span class="titulo">Vulnerabilidad social y embarazo adolescente en México</span>. Papeles de
        población, 39, pp. 129-158.
      </li>

      <li class="elemento">
        Unidad para las Víctimas (2022). Registro único de víctimas.
        <br /><a
          class="enlaceBibliografia"
          href="https://www.unidadvictimas.gov.co/es/registro-unico-de-victimas-ruv/37394"
          target="_blank">https://www.unidadvictimas.gov.co/es/registro-unico-de-victimas-ruv/37394</a
        >.
      </li>
    </ul>

    <h2 id="experienciasAdversas">Experiencias adversas en la infancia</h2>
    <ul>
      <li class="elemento">
        Assini-Meytin, L. C., Thorne, E. J., Sanikommu, M., Green, K. M., & Letourneau, E. J. (2022). <span
          class="titulo">Impact of Child Sexual Abuse on Socioeconomic Attainment in Adulthood</span
        >. Journal of Adolescent Health. Elsevier BV.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1016/j.jadohealth.2022.05.013" target="_blank"
          >https://doi.org/10.1016/j.jadohealth.2022.05.013</a
        >.
      </li>

      <li class="elemento">
        Baiden, P., LaBrenz, C. A., Okine, L., Thrasher, S., & Asiedua-Baiden, G. (2020). <span class="titulo"
          >The toxic duo: Bullying involvement and adverse childhood experiences as factors associated with school
          disengagement among children</span
        >. Children and Youth Services Review (Vol. 119, p. 105383). Elsevier BV.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1016/j.childyouth.2020.105383" target="_blank"
          >https://doi.org/10.1016/j.childyouth.2020.105383</a
        >.
      </li>

      <li class="elemento">
        Barrios-Acosta, M., Riaño-Rondón, S. V., Villa-Rosero, Y. M., Martínez, O. P., Aragón-Joya, Y. A., & Mayer, S.
        (2017). <span class="titulo"
          >Correlation between growth and adverse childhood experiences in vulnerable children in Bogotá, Colombia</span
        >. Journal of Child &amp; Adolescent Trauma (Vol. 10, Issue 3, pp. 217-224). Springer Science and Business Media
        LLC. <br /><a class="enlaceBibliografia" href="https://doi.org/10.1007/s40653-017-0135-2" target="_blank"
          >https://doi.org/10.1007/s40653-017-0135-2</a
        >.
      </li>

      <li class="elemento">
        Bellis, M. A., Hughes, K., Leckenby, N., Perkins, C., & Lowey, H. (2014). <span class="titulo"
          >National household survey of adverse childhood experiences and their relationship with resilience to
          health-harming behaviors in England</span
        >. BMC Medicine (Vol. 12, Issue 1). Springer Science and Business Media LLC. <br /><a
          class="enlaceBibliografia"
          href="https://doi.org/10.1186/1741-7015-12-72"
          target="_blank">https://doi.org/10.1186/1741-7015-12-72</a
        >.
      </li>

      <li class="elemento">
        Castillo Martínez, A., Cleves Luna, D., García Cifuentes, Á. M., Laverde Martínez, L., Medina Medina, V., Cortés
        Ruiz, H., Ramírez Martínez, D., & Dávalos Pérez, D. M. (2017). <span class="titulo"
          >Experiencias adversas de la infancia en una muestra de pacientes con enfermedad crónica en Cali-Colombia</span
        >. Medicina UPB (Vol. 36, Issue 1, pp. 9-15). Universidad Pontificia Bolivariana. <br /><a
          class="enlaceBibliografia"
          href="https://doi.org/10.18566/medupb.v36n1.a02"
          target="_blank">https://doi.org/10.18566/medupb.v36n1.a02</a
        >.
      </li>

      <li class="elemento">
        Chang, X., Jiang, X., Mkandarwire, T., & Shen, M. (2019). <span class="titulo"
          >Associations between adverse childhood experiences and health outcomes in adults aged 18–59 years</span
        >. S. Seedat (Ed.), PLOS ONE (Vol. 14, Issue 2, p. e0211850). Public Library of Science (PLoS). <br /><a
          class="enlaceBibliografia"
          href="https://doi.org/10.1371/journal.pone.0211850"
          target="_blank">https://doi.org/10.1371/journal.pone.0211850</a
        >.
      </li>

      <li class="elemento">
        Exley, D., Norman, A., & Hyland, M. (2015). <span class="titulo"
          >Adverse childhood experience and asthma onset: a systematic review</span
        >. European Respiratory Review (Vol. 24, Issue 136, pp. 299-305). European Respiratory Society (ERS).
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1183/16000617.00004114" target="_blank"
          >https://doi.org/10.1183/16000617.00004114</a
        >.
      </li>
      <li class="elemento">
        Ghanem, N. (2021). <span class="titulo"
          >The effect of violence in childhood on school success factors in US children</span
        >. Child Abuse &amp; Neglect (Vol. 120, p. 105217). Elsevier BV. <br /><a
          class="enlaceBibliografia"
          href="https://doi.org/10.1016/j.chiabu.2021.105217"
          target="_blank">https://doi.org/10.1016/j.chiabu.2021.105217</a
        >.
      </li>
      <li class="elemento">
        Hillis, S. D., Mercy, J. A., & Saul, J. R. (2017). <span class="titulo"
          >The enduring impact of violence against children</span
        >. Psychology, health & medicine , 22(4), 393–405. <br /><a
          class="enlaceBibliografia"
          href="https://doi.org/10.1080/13548506.2016.1153679"
          target="_blank">https://doi.org/10.1080/13548506.2016.1153679</a
        >.
      </li>
      <li class="elemento">
        Huang, H., Yan, P., Shan, Z., Chen, S., Li, M., Luo, C., Gao, H., Hao, L., & Liu, L. (2015). <span
          class="titulo"
          >A dverse childhood experiences and risk of type 2 diabetes: A systematic review and meta-analysis</span
        >. Metabolism (Vol. 64, Issue 11, pp. 1408-1418). Elsevier BV. <br /><a
          class="enlaceBibliografia"
          href="https://doi.org/10.1016/j.metabol.2015.08.019"
          target="_blank">https://doi.org/10.1016/j.metabol.2015.08.019</a
        >.
      </li>
      <li class="elemento">
        Kumar, M., Amugune, B., Madeghe, B., Wambua, G. N., Osok, J., Polkonikova-Wamoto, A., Bukusi, D., Were, F., &
        Huang, K. Y. (2018). <span class="titulo"
          >Mechanisms associated with maternal adverse childhood experiences on offspring's mental health in Nairobi
          informal settlements: a mediational model testing approach</span
        >. BMC psychiatry, 18(1), 381.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1186/s12888-018-1953-y" target="_blank"
          >https://doi.org/10.1186/s12888-018-1953-y</a
        >.
      </li>
      <li class="elemento">
        Narayan, A. J., Lieberman, A. F., & Masten, A. S. (2021).<span class="titulo"
          >Intergenerational transmission and prevention of adverse childhood experiences (ACEs)</span
        > . Clinical psychology review, 85, 101997.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1016/j.cpr.2021.101997" target="_blank"
          >https://doi.org/10.1016/j.cpr.2021.101997</a
        >.
      </li>
      <li class="elemento">
        Petruccelli, K., Davis, J., & Berman, T. (2019). <span class="titulo"
          >Adverse childhood experiences and associated health outcomes: A systematic review and meta-analysis</span
        >. Child abuse & neglect, 97, 104127.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1016/j.chiabu.2019.104127" target="_blank"
          >https://doi.org/10.1016/j.chiabu.2019.104127</a
        >.
      </li>

      <li class="elemento">
        S., Trajkovski, K., & Hariharan, T. (2019). <span class="titulo"
          >Understanding the mechanisms through which adverse childhood experiences affect lifetime economic outcomes</span
        >. Labour Economics (Vol. 61, p. 101743). Elsevier BV.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1016/j.labeco.2019.06.007" target="_blank"
          >https://doi.org/10.1016/j.labeco.2019.06.007</a
        >.
      </li>

      <li class="elemento">
        Schurer, S., Way, B., & Seeman, T. (2011). <span class="titulo">
          Early adversity and adult health outcomes. Development and Psychopathology
        </span>, 23(3), 939-954. <br /><a
          class="enlaceBibliografia"
          href="https://doi.org/10.1017/S0954579411000411"
          target="_blank">https://doi.org/10.1017/S0954579411000411</a
        >.
      </li>
      <li class="elemento">
        Von Sneidern, E., Cabrera, K. P., Galeano, N., Plaza, M., & Barrios, M. (2017). <span class="titulo"
          >Association between Adverse Childhood Experiences (ACEs) and Developmental Delay of Preschool Children in a
          Rural Area of Colombia</span
        >. Journal of Child &amp; Adolescent Trauma (Vol. 10, Issue 3, pp. 225-232). Springer Science and Business Media
        LLC. <br /><a class="enlaceBibliografia" href="https://doi.org/10.1007/s40653-017-0179-3" target="_blank"
          >https://doi.org/10.1007/s40653-017-0179-3</a
        >.
      </li>

      <li class="elemento">
        Wood, K. H., Wheelock, M. D., Shumen, J. R., Bowen, K. H., Ver Hoef, L. W., & Knight, D. C. (2015).
        <span class="titulo"
          >Controllability modulates the neural response to predictable but not unpredictable threat in humans</span
        >. NeuroImage, 119, 371-381. <br /><a
          class="enlaceBibliografia"
          href="https://doi.org/10.1016/j.neuroimage.2015.06.086"
          target="_blank">https://doi.org/10.1016/j.neuroimage.2015.06.086</a
        >.
      </li>
    </ul>

    <h2 id="trayectoriasMaltrato">Trayectorias de maltrato</h2>
    <ul>
      <li class="elemento">
        Agencia de Renovación del Territorio (2021). <span class="titulo">PDET en Cifras.</span> Recuperado de
        <br /><a
          class="enlaceBibliografia"
          href="https://www.renovacionterritorio.gov.co/especiales/especialpdet/"
          target="_blank">https://www.renovacionterritorio.gov.co/especiales/especialpdet/</a
        >.
      </li>

      <li class="elemento">
        Armfield JM, Gnanamanickam ES, Johnston DW, Preen DB, Brown DS, Nguyen H, Segal L. (2021). <span class="titulo"
          >Intergenerational transmission of child maltreatment in South Australia, 1986-2017: a retrospective cohort
          study</span
        >. Lancet Public Health, 6 (7). <br /><a
          class="enlaceBibliografia"
          href="https://doi.org/10.1016/S2468-2667(21)00024-4"
          target="_blank">https://doi.org/10.1016/S2468-2667(21)00024-4</a
        >.
      </li>

      <li class="elemento">
        Auslander W, Sterzing P, Threlfall J, Gerke D, Edmond T. <span class="titulo"
          >Childhood Abuse and Aggression in Adolescent Girls Involved in Child Welfare: The Role of Depression and
          Posttraumatic Stress</span
        >. J Child Adolesc Trauma. 2016;9:1-10.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1007/s40653-016-0090-3" target="_blank"
          >https://doi.org/10.1007/s40653-016-0090-3</a
        >. Epub 2016 Apr 12. PMID: 27152132; PMCID: PMC4852743.
      </li>

      <li class="elemento">
        Baita, S. (2009).<span class="titulo"
          >Prefazione. Verso una definizione di ”trauma evolutivo”: quale futuro?</span
        >. En Ardino, V. (comp.) Il disturbo post- traumatico nello sviluppo. Milano: Edizioni Unicopli.
      </li>

      <li class="elemento">
        Baita, S. (2015). <span class="titulo"
          >Rompecabezas. Una guía introductoria al trauma y la disociación en la infancia.</span
        > Buenos Aires: El autor.
      </li>
      <li class="elemento">
        Berlin, L. J., Appleyard, K., Dodge, K. A. (2011). <span class="titulo"
          >Intergenerational Continuity in Child Maltreatment: Mediating Mechanisms and Implications for Prevention</span
        >. Child Development 82(1). 162–176. Recuperado de
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1111/j.1467-8624.2010.01547.x" target="_blank"
          >https://doi.org/10.1111/j.1467-8624.2010.01547.x</a
        >.
      </li>
      <li class="elemento">
        Black MM, Walker SP, Fernald LCH, Andersen CT, DiGirolamo AM, Lu C, McCoy DC, Fink G, Shawar YR, Shiffman J,
        Devercelli AE, Wodon QT, Vargas-Barón E, GranthamMcGregor S. (2017). <span class="titulo"
          >Early childhood development coming of age: science through the life course</span
        >. Lancet Early Childhood Development Series Steering Committee, 389(10064).77-90.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1016/S0140-6736(16)31389-7" target="_blank"
          >https://doi.org/10.1016/S0140-6736(16)31389-7</a
        >.
      </li>
      <li class="elemento">
        Boyer D Fine D. (1992). <span class="titulo"
          >Sexual abuse as a factor in adolescent pregnancy and child maltreatment</span
        >. Fam Plann Perspect, 24(1):4-11, 19. PMID: 1601126.
      </li>
      <li class="elemento">
        Britto PR, Lye SJ, Proulx K, Yousafzai AK, Matthews SG, Vaivada T, Perez-Escamilla R, Rao N, Ip P, Fernald LCH,
        MacMillan H, Hanson M, Wachs TD, Yao H, Yoshikawa H, Cerezo A, Leckman JF, Bhutta ZA. <span class="titulo"
          >Early Childhood Development Interventions Review Group, for the Lancet Early Childhood Development Series
          Steering Committee</span
        >. Nurturing care: promoting early childhood development. Lancet 2017 Jan 7;389(10064):91-102.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1016/S0140-6736(16)31390-3" target="_blank"
          >https://doi.org/10.1016/S0140-6736(16)31390-3</a
        >. Epub 2016 Oct 4. PMID: 27717615.
      </li>
      <li class="elemento">
        Bronfenbrenner, U. (1977). <span class="titulo">Toward an experimental ecology of human development</span>.
        American Psychologist, 32(7), 513-531. <br /><a
          class="enlaceBibliografia"
          href="https://doi.org/10.1037/0003-066X.32.7.513"
          target="_blank">https://doi.org/10.1037/0003-066X.32.7.513</a
        >.
      </li>
      <li class="elemento">
        Bronfenbrenner, U. (1979). <span class="titulo"
          >The ecology of human development: Experiments by nature and design.</span
        > Cambridge, MA: Harvard University Press.
      </li>
      <li class="elemento">
        Bronfenbrenner, U. (Ed.). (2005). <span class="titulo"
          >Making human beings human: Bioecological perspectives on human development.</span
        >
        Sage Publications Ltd.
      </li>
      <li class="elemento">
        Bronfenbrenner, U., Morris, P. A. (1998). <span class="titulo">The ecology of developmental processes.</span>
      </li>

      <li class="elemento">
        Buisman, R. S. M., Pittner, K., Tollenaar, M. S., Lindenberg, J., van den Berg, L. J. M., Compier-de Block, L.
        H. C. G., van Ginkel, J. R., Alink, L. R. A., Bakermans-Kranenburg, M. J., Elzinga, B. M., van IJzendoorn, M. H.
        (2020). <span class="titulo"
          >Intergenerational transmission of child maltreatment using a multi-informant multi-generation family design</span
        >. PLoS ONE, 15(3). 1–23. Recuperado de
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1371/journal.pone.0225839" target="_blank"
          >https://doi.org/10.1371/journal.pone.0225839</a
        >.
      </li>
      <li class="elemento">
        Chan, M.; Lake, A. Hansen, K. (2017). <span class="titulo"
          >The early years: silent emergency or unique opportunity?
        </span>. The Lancet, 389.11-13. <br /><a
          class="enlaceBibliografia"
          href="https://doi.org/10.1016/S0140-6736(16)31701-9"
          target="_blank">https://doi.org/10.1016/S0140-6736(16)31701-9</a
        >.
      </li>
      <li class="elemento">
        D'Andrea, W.; Spinazzola, J. Van der Kolk, B. (2009). <span class="titulo">
          Phenomenology and Nosology Symptoms Following Interpersonal Trauma Exposure in Children: A Review of
          literature on Symptoms, Biology, and Treatment.
        </span>
      </li>
      <li class="elemento">
        Dixon, L., Browne, K., Hamilton, G. C. (2005). <span class="titulo"
          >Risk factors of parents abused as children: a mediational analysis of the intergenerational continuity of
          child maltreatment (Part I)</span
        >. Journal of Child Psychology Psychiatry, 46(1), 47-57. <br /><a
          class="enlaceBibliografia"
          href="https://doi.org/10.1111/j.1469-7610.2004.00339.x"
          target="_blank">https://doi.org/10.1111/j.1469-7610.2004.00339.x</a
        >.
      </li>
      <li class="elemento">
        Dixon, L., Browne, K., Hamilton-Giachritsis, C. (2009). <span class="titulo"
          >Patterns of Risk and Protective Factors in the Intergenerational Cycle of Maltreatment</span
        >. Journal of Family Violence, 24(2), 111-122.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1007/s10896-008-9215-2" target="_blank"
          >https://doi.org/10.1007/s10896-008-9215-2</a
        >.
      </li>
      <li class="elemento">
        Dixon, L., Hamilton, G. C., Browne, K. (2005). <span class="titulo"
          >Attributions and behaviours of parents abused as children: a mediational analysis of the intergenerational
          continuity of child maltreatment (Part II)</span
        >. Journal of Child Psychology Psychiatry, 46(1), 58-68. <br /><a
          class="enlaceBibliografia"
          href="https://doi.org/10.1111/j.1469-7610.2004.00340.x"
          target="_blank">https://doi.org/10.1111/j.1469-7610.2004.00340.x</a
        >.
      </li>
      <li class="elemento">
        Fagan, A. (2005). <span class="titulo"
          >The Relationship Between Adolescent Physical Abuse and Criminal Offending: Support for an Enduring and
          Generalized Cycle of Violence</span
        >. Journal of Family Violence, 20(5), 279–290.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1007/s10896-005-6604-7" target="_blank"
          >https://doi.org/10.1007/s10896-005-6604-7</a
        >.
      </li>
      <li class="elemento">
        Farrington DP. (1989). <span class="titulo">Early predictors of adolescent aggression and adult violence</span>.
        Violence and Victims, 4(2):79–100.
      </li>
      <li class="elemento">
        Felitti, R., Anda, V., Nordenberg, R., Williamson, D.,Spitz, A., Edwards, V., Koss, M.P. Marks, J. (1998).
        <span class="titulo"
          >Relationship of Childhood Abuse and Household Dysfunction to Many of the Leading Causes of Death in Adults.
          The Adverse Childhood Experiences (ACE) Study</span
        >. American Journal of Preventive Medicine, 14 (4). 245-258.
      </li>
      <li class="elemento">
        Gobierno de Colombia, Ministerio de Salud y Protección Social (2018). <span class="titulo">
          Encuesta de Violencia contra Niños, Niñas y Adolescentes en Colombia, 2018.
        </span> Bogotá, Colombia, 2019.
      </li>
      <li class="elemento">
        Hayes, B. E., Connolly, E. J., Wang, X., Ingham, C., Mason, M. (2021). <span class="titulo"
          >Prevalence of Child Maltreatment and the Effects of the Intergenerational Transmission of Violence on
          Attitudes towards Domestic Violence in Chinese Police Cadets</span
        >. Journal of Family Violence, 36(6). 733–742.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1007/s10896-020-00182-0" target="_blank"
          >https://doi.org/10.1007/s10896-020-00182-0</a
        >.
      </li>
      <li class="elemento">
        Heckman, J. (2011). <span class="titulo"
          >The Economics of Inequality: The Value of Early Childhood Education</span
        >. American Educator, 35(1). 31-35. Recuperado de <br /><a
          class="enlaceBibliografia"
          href="https://eric.ed.gov/?id=EJ920516"
          target="_blank">https://eric.ed.gov/?id=EJ920516</a
        >.
      </li>
      <li class="elemento">
        Herman, J. (1997). <span class="titulo"
          >Trauma and Recovery. The aftermath of Violence from Domestic Abuse to Political Terror.</span
        > New York: Basic Books.
      </li>
      <li class="elemento">
        Herrenkohl RC, Egolf BP, Herrenkohl EC. (1997). <span class="titulo"
          >Preschool antecedents of adolescent assaultive behavior: a longitudinal study</span
        >. American Journal of Orthopsychiatry, 67(3). 422–432. <br /><a
          class="enlaceBibliografia"
          href="https://doi.org/10.1037/h0080244"
          target="_blank">https://doi.org/10.1037/h0080244</a
        >.
      </li>
      <li class="elemento">
        Herrenkohl, T.; Jung, H.; Lee, J. Kim, M. (2017). <span class="titulo">
          Effects of Child Maltreatment, Cumulative Victimization Experiences, and Proximal Life Stress on Adult Crime
          and Antisocial Behavior. National Criminal Justice Reference Service.
        </span> Recuperado de <br /><a
          class="enlaceBibliografia"
          href="https://www.ojp.gov/pdffiles1/nij/grants/250506.pdf"
          target="_blank">https://www.ojp.gov/pdffiles1/nij/grants/250506.pdf</a
        >.
      </li>
      <li class="elemento">
        Howell, E. Blizard, R. (2009). <span class="titulo">
          Chronic Relational Trauma Disorder: A new diagnostic scheme for borderline personality and the spectrum of
          dissociative disorder. Dissociation and the dissociative disorder. DSM V and beyond.
        </span> New York: Routledge.
      </li>
      <li class="elemento">
        Instituto Nacional Legal y de Ciencias Forenses - Grupo Centro de Referencia Nacional sobre Violencia (FORENSIS,
        2020). <span class="titulo">Datos para la Vida.</span> Recuperado de
        <br /><a
          class="enlaceBibliografia"
          href="https://www.medicinalegal.gov.co/documents/20143/787115/Forensis2020.pdf"
          target="_blank">https://www.medicinalegal.gov.co/documents/20143/787115/Forensis2020.pdf</a
        >.
      </li>
      <li class="elemento">
        Maas C, Herrenkohl TI, Sousa C. (2008). <span class="titulo"
          >Review of research on child maltreatment and violence in youth. Trauma, Violence Abuse</span
        >. 9(1). 56–67. <br /><a
          class="enlaceBibliografia"
          href="https://doi.org/10.1177/1524838007311105"
          target="_blank">https://doi.org/10.1177/1524838007311105</a
        >.
      </li>
      <li class="elemento">
        Magdol L, Moffitt TE, Caspi A, Silva PA. (1998). <span class="titulo"
          >Developmental antecedents of partner abuse: a prospective-longitudinal study</span
        >. Journal of Abnormal Psychology, 107(3).375–389.
      </li>
      <li class="elemento">
        Maxwell, K., Callahan, J., Ruggero, C., Janis, B. (2016). <span class="titulo"
          >Breaking the Cycle: Association of Attending Therapy Following Childhood Abuse and Subsequent Perpetration of
          Violence</span
        >. Journal of Family Violence, 31(2), 251–258.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1007/s10896-015-9765-z" target="_blank"
          >https://doi.org/10.1007/s10896-015-9765-z</a
        >.
      </li>
      <li class="elemento">
        National Scientific Council on the Developing Child (2004). <span class="titulo">
          Young Children Develop in an Environment of Relationships.
        </span>
        <br /><a
          class="enlaceBibliografia"
          href="https://46y5eh11fhgw3ve3ytpwxt9r-wpengine.netdna-ssl.com/wpcontent/uploads/2004/04/Young-Children-Develop-in-an-Environment-of-Relationships.pdf"
          target="_blank"
          >https://46y5eh11fhgw3ve3ytpwxt9r-wpengine.netdna-ssl.com/wpcontent/uploads/2004/04/Young-Children-Develop-in-an-Environment-of-Relationships.pdf</a
        >.
      </li>
      <li class="elemento">
        National Scientific Council on the Developing Child (2007). <span class="titulo">
          The timing and quality of early experiences combine to shape brain architecture.
        </span> Recuperado de
        <br /><a
          class="enlaceBibliografia"
          href="https://46y5eh11fhgw3ve3ytpwxt9rwpengine.netdna-ssl.com/wp-content/uploads/2007/05/TimingQualityEarlyExperiences−1.pdf"
          target="_blank"
          >https://46y5eh11fhgw3ve3ytpwxt9rwpengine.netdna-ssl.com/wp-content/uploads/2007/05/TimingQualityEarlyExperiences−1.pdf</a
        >.
      </li>
      <li class="elemento">
        National Scientific Council on the Developing Child (2010). <span class="titulo">
          Early experiences can alter gene expression and affect long-term development.
        </span> Recuperado de
        <br /><a
          class="enlaceBibliografia"
          href="https://46y5eh11fhgw3ve3ytpwxt9rwpengine.netdna-ssl.com/wp-content/uploads/2010/05/Early-Experiences-Can-Alter-Gene-Expression-and-Affect-Long-Term-Development.pdf"
          target="_blank"
          >https://46y5eh11fhgw3ve3ytpwxt9rwpengine.netdna-ssl.com/wp-content/uploads/2010/05/Early-Experiences-Can-Alter-Gene-Expression-and-Affect-Long-Term-Development.pdf</a
        >.
      </li>
      <li class="elemento">
        National Scientific Council on the Developing Child (2014). <span class="titulo">
          Excessive Stress Disrupts the Architecture of the Developing Brain.
        </span> Recuperado de
        <br /><a
          class="enlaceBibliografia"
          href="https://46y5eh11fhgw3ve3ytpwxt9rwpengine.netdna-ssl.com/wp-content/uploads/2005/05/StressDisruptsArchitectureDevelopingBrain−1.pdf"
          target="_blank"
          >https://46y5eh11fhgw3ve3ytpwxt9rwpengine.netdna-ssl.com/wp-content/uploads/2005/05/StressDisruptsArchitectureDevelopingBrain−1.pdf</a
        >.
      </li>
      <li class="elemento">
        Oliveira, R. V., Maroco, J., País, L. G. (2012). <span class="titulo"
          >The Origin of Maltreatment: An Exploratory Study on the Intergenerational Transmission of Child Abuse
          Typologies</span
        >. Interdisciplinaria: Revista de Psicología y Ciencias Afines, 29(2), 253–269. <br /><a
          class="enlaceBibliografia"
          href="https://doi.org/10.16888/interd.2012.29.2.4"
          target="_blank">https://doi.org/10.16888/interd.2012.29.2.4</a
        >.
      </li>
      <li class="elemento">
        Organización Mundial de la Salud (OMS) (2022). <span class="titulo">Maltrato Infantil.</span> Recuperado de
        <br /><a
          class="enlaceBibliografia"
          href="https://www.who.int/es/news-room/fact-sheets/detail/child-maltreatment"
          target="_blank">https://www.who.int/es/news-room/fact-sheets/detail/child-maltreatment</a
        >.
      </li>
      <li class="elemento">
        Organización Panamericana de la Slud (OPS) (2022). <span class="titulo">Prevención de la violencia.</span> Recuperado
        de
        <br /><a class="enlaceBibliografia" href="https://www.paho.org/es/temas/prevencion-violencia" target="_blank"
          >https://www.paho.org/es/temas/prevencion-violencia</a
        >.
      </li>
      <li class="elemento">
        Perry, B. Szalavitz, M. (2006). <span class="titulo">
          The boy who was raised as a dog and other stories from a child psychiatrist’s notebook.
        </span> Basic Books.
      </li>
      <li class="elemento">
        Putnam-Hornstein E, Cederbaum JA, King B, Eastman AL, Trickett PK. (2015). <span class="titulo"
          >A population-level and longitudinal study of adolescent mothers and intergenerational maltreatment</span
        >. Am J Epidemiol, 181(7).496-503.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1093/aje/kwu321" target="_blank"
          >https://doi.org/10.1093/aje/kwu321</a
        >.
      </li>
      <li class="elemento">
        Rodríguez, V. J., Are, F., Madden, A., Shaffer, A., Suveg, C. (2021). Intergenerational Transmission of
        Childhood Maltreatment Mediated by Maternal Emotion Dysregulation.
        <span class="titulo">Journal of Child Family Studies</span>, 30(8). 2068–2075. Recuperado de <br /><a
          class="enlaceBibliografia"
          href="https://doi.org/10.1007/s10826-021-02020-3"
          target="_blank">https://doi.org/10.1007/s10826-021-02020-3</a
        >.
      </li>
      <li class="elemento">
        Schafer, I.; Ross, C. Read, J. (2009). <span class="titulo">
          Childhood trauma in psychotic and dissociative disorder. Psychosis, Trauma and Dissociation. Emerging
          perspectives on severe psychopathology.
        </span> United Kingdom: Wiley-Blackwell.
      </li>
      <li class="elemento">
        Seff, I.; Meinhart, M.; Harker, A.; Stark, L. Villaveces, A. (2022) <span class="titulo"
          >Predicting adolescent boys’ and young men’s perpetration of youth violence in Colombia</span
        >. International Journal of Injury Control and Safety Promotion, 29(1).123-131. <br /><a
          class="enlaceBibliografia"
          href="https://doi.org/10.1080/17457300.2021.2009519"
          target="_blank">https://doi.org/10.1080/17457300.2021.2009519</a
        >.
      </li>
      <li class="elemento">
        Silva TC, Grana JL, Gonzalez-Cieza L. (2014). <span class="titulo"
          >Self-reported physical and emotionall abuse among youth offenders and their association with internalizing
          and externalizing psychopathology: a preliminary study</span
        >. International Journal of Offender Therapy and Comparative Criminology, 58(5):590–606. <br /><a
          class="enlaceBibliografia"
          href="https://doi.org/10.1177/0306624X12474975"
          target="_blank">https://doi.org/10.1177/0306624X12474975</a
        >.
      </li>
      <li class="elemento">
        Smith, C. Thornberry, TP. (1995). <span class="titulo"
          >The relationship between childhood maltreatment and adolescent involvement in delinquency</span
        >. Criminology, 33(4). 451–481. <br /><a
          class="enlaceBibliografia"
          href="https://doi.org/10.1111/j.1745-9125.1995.tb01186.x"
          target="_blank">https://doi.org/10.1111/j.1745-9125.1995.tb01186.x</a
        >.
      </li>
      <li class="elemento">
        Waugh M., Guhn M. (2014) <span class="titulo">Bioecological Theory of Human Development</span>. En: Michalos
        A.C. (eds) Encyclopedia of Quality of Life and Well-Being Research. Springer, Dordrecht. doi:
        10.1007/978-94-007-0753-53438.
      </li>
      <li class="elemento">
        Widom CS. (1989) (a). <span class="titulo"
          >Child abuse, neglect, and adult behavior research design and findings on criminality, violence, and child
          abuse</span
        >. American Journal of Orthopsychiatry. 1989b; 59(3):355–367.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1111/j.1939-0025.1989.tb01671.x" target="_blank"
          >https://doi.org/10.1111/j.1939-0025.1989.tb01671.x</a
        >.
      </li>
      <li class="elemento">
        Widom CS. (1989) (b). <span class="titulo">The cycle of violence</span>. Science. 1989a;244(4901):160–166. <br
        /><a class="enlaceBibliografia" href="https://doi.org/10.1126/science.2704995" target="_blank"
          >https://doi.org/10.1126/science.2704995</a
        >.
      </li>
      <li class="elemento">
        Zurbriggen EL, Gobin RL, Freyd JJ. (2010). <span class="titulo"
          >Childhood emotional abuse predicts late adolescent sexual aggression perpetration and victimization</span
        >. Journal of Aggression, Maltreatment Trauma, 19. 204–223.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1080/10926770903539631" target="_blank"
          >https://doi.org/10.1080/10926770903539631</a
        >.
      </li>
    </ul>

    <h2 id="estigma">Subreporte de violencia sexual: estigma, normas sociales y de género</h2>

    <ul>
      <li class="elemento">
        Adinew, Y. M., Mekete, B. T., & Adinew, Y. M. (2018) <span class="titulo"
          >Testimony of an Ethiopian girl sexually assaulted by her stepfather: A case report.</span
        >, Journal of Medical Case Reports, 12(1), 231.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1186/s13256-018-1777-x" target="_blank"
          >https://doi.org/10.1186/s13256-018-1777-x</a
        >.
      </li>

      <li class="elemento">
        Afrouz, R., Crisp, B. R., & Taket, A. (2021). <span class="titulo"
          >Afghan Women’s Barriers to Seeking Help for Domestic Violence in Australia.</span
        >, Australian Social Work, ahead-of-print(ahead-of-print), 1–14.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1080/0312407X.2021.2004179" target="_blank"
          >https://doi.org/10.1080/0312407X.2021.2004179</a
        >.
      </li>

      <li class="elemento">
        Akhter, R., Wilson, J. K., Haque, S. E., & Ahamed, N. (2022). <span class="titulo"
          >Like a Caged Bird: The Coping Strategies of Economically Empowered Women Who Are Victims of Intimate Partner
          Violence in Bangladesh.</span
        >, Journal of Interpersonal Violence, 37(11–12), NP9040–NP9065.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1177/0886260520978177" target="_blank"
          >https://doi.org/10.1177/0886260520978177</a
        >.
      </li>

      <li class="elemento">
        Alaggia, R., Collin-Vezina, D., & Lateef, R. (2019). <span class="titulo"
          >Facilitators and Barriers to Child Sexual Abuse (CSA) Disclosures: A Research Update (2000-2016).</span
        > Trauma, Violence & Abuse, 20(2), 260–283.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1177/1524838017697312" target="_blank">
          https://doi.org/10.1177/1524838017697312</a
        >.
      </li>

      <li class="elemento">
        Allen, C. T., Ridgeway, R., & Swan, S. C. (2015). <span class="titulo"
          >College Students’ Beliefs Regarding Help Seeking for Male and Female Sexual Assault Survivors: Even Less
          Support for Male Survivors.</span
        > Journal of Aggression, Maltreatment & Trauma, 24(1), 102–115.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1080/10926771.2015.982237" target="_blank">
          https://doi.org/10.1080/10926771.2015.982237</a
        >.
      </li>

      <li class="elemento">
        Alsawalqa, R. O. (2021). <span class="titulo"
          >Evaluating Female Experiences of Electronic Dating Violence in Jordan: Motivations, Consequences, and Coping
          Strategies.</span
        > Frontiers in Psychology, 12, 719702–719702.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.3389/fpsyg.2021.719702" target="_blank">
          https://doi.org/10.3389/fpsyg.2021.719702</a
        >.
      </li>

      <li class="elemento">
        Apatinga, G. A., & Tenkorang, E. Y. (2022). <span class="titulo"
          >Barriers to Help-Seeking for Sexual Violence Among Married or Cohabiting Women in Ghana.</span
        > Violence against Women, 28(15–16), 3844–3864.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1177/10778012211060861" target="_blank">
          https://doi.org/10.1177/10778012211060861</a
        >.
      </li>

      <li class="elemento">
        Arbeit, M. R. (2017). <span class="titulo"
          >‘Make Sure You’re Not Getting Yourself in Trouble:’ Building Sexual Relationships and Preventing Sexual
          Violence at the U.S. Military Academy at West Point.</span
        > Journal of Sex Research, 54(8), 949–961.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1080/00224499.2016.1207055" target="_blank">
          https://doi.org/10.1080/00224499.2016.1207055</a
        >.
      </li>

      <li class="elemento">
        Asseervatham, R. A., Eng, S., Eang, S., Tuot, S., & Yi, S. (2021). <span class="titulo"
          >Barriers and facilitators of post-violence help-seeking behavior among 21–49-year-old transgender women in
          Phnom Penh: A qualitative study.</span
        > International Journal of Transgender Health, 1–13.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1080/26895269.2021.1985677" target="_blank">
          https://doi.org/10.1080/26895269.2021.1985677</a
        >.
      </li>

      <li class="elemento">
        Basile, K. C., Smith, S. G., Kresnow, M., Smith, S. G., & Leemis, R. W. (2022). <span class="titulo"
          >The National Intimate Partner and Sexual Violence Survey: 2016/2017 Report on Sexual Violence.</span
        > National Center for Injury Prevention and Control, Centers for Disease Control and Prevention.
        <br /><a
          class="enlaceBibliografia"
          href="https://www.cdc.gov/violenceprevention/pdf/2015data-brief508.pdf"
          target="_blank"
        >
          https://www.cdc.gov/violenceprevention/pdf/2015data-brief508.pdf</a
        >.
      </li>

      <li class="elemento">
        Basnyat, I. (2017). <span class="titulo"
          >Structural Violence in Health Care: Lived Experience of Street-Based Female Commercial Sex Workers in
          Kathmandu.</span
        > Qualitative Health Research, 27(2), 191–203.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1177/1049732315601665" target="_blank">
          https://doi.org/10.1177/1049732315601665</a
        >.
      </li>

      <li class="elemento">
        Bermudez, L. G., Parks, L., Meyer, S. R., Muhorakeye, L., & Stark, L. (2018). <span class="titulo"
          >Safety, trust, and disclosure: A qualitative examination of violence against refugee adolescents in Kiziba
          Camp, Rwanda.</span
        > Social Science & Medicine (1982), 200, 83–91.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1016/j.socscimed.2018.01.018" target="_blank">
          https://doi.org/10.1016/j.socscimed.2018.01.018</a
        >.
      </li>

      <li class="elemento">
        Bhuptani, P. H., Kaufman, J. S., Messman-Moore, T. L., Gratz, K. L., & DiLillo, D. (2019). <span class="titulo"
          >Rape Disclosure and Depression Among Community Women: The Mediating Roles of Shame and Experiential
          Avoidance.</span
        > Violence against Women, 25(10), 1226–1242.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1177/1077801218811683" target="_blank">
          https://doi.org/10.1177/1077801218811683</a
        >.
      </li>

      <li class="elemento">
        Boudreau, C. L., Kress, H., Rochat, R. W., & Yount, K. M. (2018). <span class="titulo"
          >Correlates of disclosure of sexual violence among Kenyan youth.</span
        > Child Abuse & Neglect, 79, 164–172.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1016/j.chiabu.2018.01.025" target="_blank">
          https://doi.org/10.1016/j.chiabu.2018.01.025</a
        >.
      </li>

      <li class="elemento">
        Brereton, Z. (2017). <span class="titulo"
          >Perpetuating myths of women as false complainants in rape cases in India: Culture V. The law.</span
        > International Journal of Comparative and Applied Criminal Justice, 41(1–2), 41–62.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1080/01924036.2016.1233442" target="_blank">
          https://doi.org/10.1080/01924036.2016.1233442</a
        >.
      </li>

      <li class="elemento">
        Bridges, A. J., Karlsson, M. E., Jackson, J. C., Andrews, A. R., & Villalobos, B. T. (2018). <span
          class="titulo"
          >Barriers to and Methods of Help Seeking for Domestic Violence Victimization: A Comparison of Hispanic and
          Non-Hispanic White Women Residing in the United States.</span
        > Violence against Women, 24(15), 1810–1829.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1177/1077801218754409" target="_blank">
          https://doi.org/10.1177/1077801218754409</a
        >.
      </li>

      <li class="elemento">
        Calton, J. M., Cattaneo, L. B., & Gebhard, K. T. (2016). <span class="titulo"
          >Barriers to Help Seeking for Lesbian, Gay, Bisexual, Transgender, and Queer Survivors of Intimate Partner
          Violence.</span
        > Trauma, Violence & Abuse, 17(5), 585–600.
      </li>

      <li class="elemento">
        Catlin, M., Scherr, K. C., Barlett, C. P., Jacobs, E., & Normile, C. J. (2021). <span class="titulo"
          >Bounded Blame: The Effects of Victim-Perpetrator Relationship and Victimization History on Judgments of
          Sexual Violence.</span
        > Journal of Interpersonal Violence, 36(15–16), NP8800–NP8823.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1177/0886260519846863" target="_blank">
          https://doi.org/10.1177/0886260519846863</a
        >.
      </li>

      <li class="elemento">
        CDC. (2022). <span class="titulo">Violence against Children Surveys: Our Methods.</span>
        <br /><a
          class="enlaceBibliografia"
          href="https://www.cdc.gov/violenceprevention/childabuseandneglect/vacs/methods.html"
          target="_blank"
        >
          https://www.cdc.gov/violenceprevention/childabuseandneglect/vacs/methods.html</a
        >.
      </li>

      <li class="elemento">
        Chouliara, Z., Karatzias, T., & Gullone, A. (2014a). <span class="titulo"
          >Recovering from childhood sexual abuse: A theoretical framework for practice and research.</span
        > Journal of Psychiatric and Mental Health Nursing, 21(1), 69–78.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1111/jpm.12048" target="_blank">
          https://doi.org/10.1111/jpm.12048</a
        >.
      </li>

      <li class="elemento">
        Chouliara, Z., Karatzias, T., & Gullone, A. (2014b). <span class="titulo"
          >Recovering from childhood sexual abuse: A theoretical framework for practice and research: Recovery from
          childhood sexual abuse.</span
        > Journal of Psychiatric and Mental Health Nursing, 21(1), 69–78.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1111/jpm.12048" target="_blank">
          https://doi.org/10.1111/jpm.12048</a
        >.
      </li>

      <li class="elemento">
        Christensen, M. C., Caswell, C., & Hernández, M. F. (2021). <span class="titulo"
          >Contextualizing Barriers to Help-Seeking After Sexual Violence: A Critical Feminist Study With Latinx College
          Women.</span
        > Affilia, 36(1), 97–112.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1177/0886109920906782" target="_blank">
          https://doi.org/10.1177/0886109920906782</a
        >.
      </li>

      <li class="elemento">
        Chynoweth, S. K., Buscher, D., Martin, S., & Zwi, A. B. (2020). <span class="titulo"
          >A social ecological approach to understanding service utilization barriers among male survivors of sexual
          violence in three refugee settings: A qualitative exploratory study.</span
        > Conflict and Health, 14(1), 43–43.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1186/s13031-020-00288-8" target="_blank">
          https://doi.org/10.1186/s13031-020-00288-8</a
        >.
      </li>

      <li class="elemento">
        Decker, M. R., Wood, S. N., Thomas, H. L., Thiongo, M., Guiella, G., Fiacre, B., Onadja, Y., & Gichangi, P.
        (2022). <span class="titulo"
          >Violence against women from partners and other household members during COVID-19 in Burkina Faso and Kenya.</span
        > BMC Public Health, 22(1), 1857.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1186/s12889-022-14197-3" target="_blank">
          https://doi.org/10.1186/s12889-022-14197-3</a
        >.
      </li>

      <li class="elemento">
        Deosthali, P.-B., Rege, S., & Arora, S. (2022). <span class="titulo"
          >Women’s experiences of marital rape and sexual violence within marriage in India: Evidence from service
          records.</span
        > Sexual and Reproductive Health Matters, 29(2), 2048455–2048455.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1080/26410397.2022.2048455" target="_blank">
          https://doi.org/10.1080/26410397.2022.2048455</a
        >.
      </li>

      <li class="elemento">
        ECPAT, INTERPOL, & UNICEF. (2022). <span class="titulo"
          >Disrupting Harm in the Philippines: Evidence on onlinechild sexual exploitation and abuse.
        </span> Global Partnership to End Violence Against Children.
      </li>

      <li class="elemento">
        Edinburgh, L., Pape-Blabolil, J., Harpin, S. B., & Saewyc, E. (2014). <span class="titulo"
          >Multiple perpetrator rape among girls evaluated at a hospital-based Child Advocacy Center: Seven years of
          reviewed cases.</span
        > Child Abuse & Neglect, 38(9), 1540–1551.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1016/j.chiabu.2014.05.008" target="_blank">
          https://doi.org/10.1016/j.chiabu.2014.05.008</a
        >.
      </li>

      <li class="elemento">
        Elmore, K. C., Scull, T. M., Malik, C. V., & Kupersmidt, J. B. (2021). <span class="titulo"
          >Rape Myth Acceptance Reflects Perceptions of Media Portrayals as Similar to Others, but Not the Self.</span
        > Violence against Women, 27(3–4), 529–551.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1177/1077801220908335" target="_blank">
          https://doi.org/10.1177/1077801220908335</a
        >.
      </li>

      <li class="elemento">
        Femi-Ajao, O., Kendal, S., & Lovell, K. (2020). <span class="titulo"
          >A qualitative systematic review of published work on disclosure and help-seeking for domestic violence and
          abuse among women from ethnic minority populations in the UK.</span
        > Ethnicity & Health, 25(5), 732–746.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1080/13557858.2018.1447652" target="_blank">
          https://doi.org/10.1080/13557858.2018.1447652</a
        >.
      </li>

      <li class="elemento">
        Fernandes, P., & Yvette Aiello, Y. (2018). <span class="titulo"
          >"Breaking the silence through MANTRA: Empowering Tamil MAN survivors of torture and rape.
        </span> Torture, 28(3), 14–29.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.7146/torture.v28i3.111181" target="_blank">
          https://doi.org/10.7146/torture.v28i3.111181</a
        >.
      </li>

      <li class="elemento">
        Fernet, M., Hébert, M., Brodeur, G., & Théorêt, V. (2021). <span class="titulo"
          >“When You’re in a Relationship, You Say No, but Your Partner Insists”: Sexual Dating Violence and Ambiguity
          Among Girls and Young Women.
        </span> Journal of Interpersonal Violence, 36(19–20), 9436–9459.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1177/0886260519867149" target="_blank">
          https://doi.org/10.1177/0886260519867149</a
        >.
      </li>

      <li class="elemento">
        Finneran, C., & Stephenson, R. (2013). <span class="titulo"
          >“Gay and bisexual men’s perceptions of police helpfulness in response to male-male intimate partner violence.
        </span> The Western Journal of Emergency Medicine, 14(4), 354–362.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.5811/westjem.2013.3.15639" target="_blank">
          https://doi.org/10.5811/westjem.2013.3.15639</a
        >.
      </li>

      <li class="elemento">
        Fiolet, R., Tarzia, L., Hameed, M., & Hegarty, K. (2021). <span class="titulo"
          >Indigenous Peoples’ Help-Seeking Behaviors for Family Violence: A Scoping Review.
        </span> Trauma, Violence & Abuse, 22(2), 370–380.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1177/1524838019852638" target="_blank">
          https://doi.org/10.1177/1524838019852638</a
        >.
      </li>

      <li class="elemento">
        Fiolet, R., Tarzia, L., Owen, R., Eccles, C., Nicholson, K., Owen, M., Fry, S., Knox, J., & Hegarty, K. (2021). <span
          class="titulo"
          >Indigenous Perspectives on Help-Seeking for Family Violence: Voices From an Australian Community.
        </span> Journal of Interpersonal Violence, 36(21–22), 10128–10146.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1177/0886260519883861" target="_blank">
          https://doi.org/10.1177/0886260519883861</a
        >.
      </li>

      <li class="elemento">
        Flowe, H. D., & Maltby, J. (2018). <span class="titulo"
          >An experimental examination of alcohol consumption, alcohol expectancy, and self‐blame on willingness to
          report a hypothetical rape.
        </span> Aggressive Behavior, 44(3), 225–234.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1002/ab.21745" target="_blank">
          https://doi.org/10.1002/ab.21745</a
        >.
      </li>

      <li class="elemento">
        Gatuguta, A., Merrill, K. G., Colombini, M., Soremekun, S., Seeley, J., Mwanzo, I., & Devries, K. (2018). <span
          class="titulo"
          >Missed treatment opportunities and barriers to comprehensive treatment for sexual violence survivors in
          Kenya: A mixed methods study.
        </span> BMC Public Health, 18(1), 769–769.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1186/s12889-018-5681-5" target="_blank">
          https://doi.org/10.1186/s12889-018-5681-5</a
        >.
      </li>

      <li class="elemento">
        Halvorsen, J. E., Tvedt Solberg, E., & Hjelen Stige, S. (2020). <span class="titulo"
          >“To say it out loud is to kill your own childhood.” – An exploration of the first person perspective of
          barriers to disclosing child sexual abuse.
        </span> Children and Youth Services Review, 113, 104999.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1016/j.childyouth.2020.104999" target="_blank">
          https://doi.org/10.1016/j.childyouth.2020.104999</a
        >.
      </li>

      <li class="elemento">
        Hernandez-Rosete, D., & Gomez-Palacios, J. C. (2021). <span class="titulo"
          >[Being a woman and studying laws: Anthropological approaches to harassment and their resistance at a public
          university in Mexico City, Mexico]. Ser Mujer y Estudiar Leyes: Aproximaciones Antropologicas al Acoso y Su
          Resistencia En Una Universidad Publica de La Ciudad de Mexico, Mexico.,
        </span> 37(2), e00024620.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1590/0102-311X00024620" target="_blank">
          https://doi.org/10.1590/0102-311X00024620</a
        >.
      </li>

      <li class="elemento">
        Hogan, K. F., Clarke, V., & Ward, T. (2021). <span class="titulo"
          >“Men’s experiences of help‐seeking for female‐perpetrated intimate partner violence: A qualitative
          exploration.
        </span>Counselling and Psychotherapy Research, 21(4), 934–945.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1002/capr.12409
        " target="_blank"
          >https://doi.org/10.1002/capr.12409
        </a>.
      </li>

      <li class="elemento">
        Horn, R., Puffer, E. S., Roesch, E., & Lehmann, H. (2016). <span class="titulo"
          >‘I don’t need an eye for an eye’: Women’s responses to intimate partner violence in Sierra Leone and Liberia.
        </span>Global Public Health, 11(1–2), 108–121.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1080/17441692.2015.1032320
        " target="_blank"
          >https://doi.org/10.1080/17441692.2015.1032320
        </a>.
      </li>

      <li class="elemento">
        Huber, J., Ferris France, N., Nguyen, V. A., Nguyen, H. H., Thi Hai Oanh, K., & Byrne, E. (2019). <span
          class="titulo"
          >Exploring beliefs and experiences underlying self-stigma among sex workers in Hanoi, Vietnam.
        </span>Culture, Health & Sexuality, 21(12), 1425–1438.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1080/13691058.2019.1566572" target="_blank"
          >https://doi.org/10.1080/13691058.2019.1566572
        </a>.
      </li>

      <li class="elemento">
        Huntley, A. L., Potter, L., Williamson, E., Malpass, A., Szilassy, E., & Feder, G. (2019). <span class="titulo"
          >Help-seeking by male victims of domestic violence and abuse (DVA): A systematic review and qualitative
          evidence synthesis.
        </span>BMJ Open, 9(6), e021960.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1136/bmjopen-2018-021960" target="_blank"
          >https://doi.org/10.1136/bmjopen-2018-021960
        </a>.
      </li>

      <li class="elemento">
        Ijadi-Maghsoodi, R., Bath, E., Cook, M., Textor, L., & Barnert, E. (2018). <span class="titulo"
          >Commercially sexually exploited youths’ health care experiences, barriers, and recommendations: A qualitative
          analysis.
        </span>Child Abuse & Neglect, 76(can, 7801702), 334–341.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1016/j.chiabu.2017.11.002" target="_blank"
          >https://doi.org/10.1016/j.chiabu.2017.11.002
        </a>.
      </li>

      <li class="elemento">
        Iles, I. A., Waks, L., Atwell Seate, A., Hundal, S., & Irions, A. (2021). <span class="titulo"
          >The Unintended Consequences of Rape Disclosure: The Effects of Disclosure Content, Listener Gender, and Year
          in College on Listener’s Reactions.
        </span>Journal of Interpersonal Violence, 36(7–8), NP4022–NP4048.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1177/0886260518781799" target="_blank"
          >https://doi.org/10.1177/0886260518781799
        </a>.
      </li>

      <li class="elemento">
        Iorfa, S. K., Onyishi, A. B., Anozie, E. U., Chukwuorji, J. C., & Ifeagwazi, C. M. (2022). <span class="titulo"
          >Sexual Violence and Child Poverty: Lived Experiences of Child Sexual Violence Survivors in Nigeria.
        </span>Journal of Social Service Research, 48(1), 134–144.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1080/01488376.2021.1979710" target="_blank"
          >https://doi.org/10.1080/01488376.2021.1979710
        </a>.
      </li>

      <li class="elemento">
        Javaid, A. (2017). <span class="titulo"
          >Making the invisible visible: (Un)meeting male rape victims’ needs in the third sector.
        </span>Journal of Aggression, Conflict and Peace Research, 9(2), 106–115.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1108/JACPR-08-2016-0248" target="_blank"
          >https://doi.org/10.1108/JACPR-08-2016-0248
        </a>.
      </li>

      <li class="elemento">
        Jewkes, R., Mhlongo, S., Chirwa, E., Seedat, S., Myers, B., Peer, N., Garcia‐Moreno, C., Dunkle, K., & Abrahams,
        N. (2022). <span class="titulo"
          >Pathways to and factors associated with rape stigma experienced by rape survivors in South Africa: Analysis
          of baseline data from a rape cohort.
        </span>Clinical Psychology and Psychotherapy, 29(4), 1488–1489.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1002/cpp.2777" target="_blank"
          >https://doi.org/10.1002/cpp.2777
        </a>.
      </li>

      <li class="elemento">
        Kellogg, N. D., Koek, W., & Nienow, S. M. (2020). <span class="titulo"
          >Factors that prevent, prompt, and delay disclosures in female victims of child sexual abuse.
        </span>Child Abuse & Neglect, 101(can, 7801702), 104360.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1016/j.chiabu.2020.104360" target="_blank"
          >https://doi.org/10.1016/j.chiabu.2020.104360
        </a>.
      </li>

      <li class="elemento">
        Koo, K. H., Nguyen, H. V., Andrasik, M. P., & George, W. H. (2015a). <span class="titulo"
          >The Cultural Context of Nondisclosure of Alcohol-Involved Acquaintance Rape Among Asian American College
          Women: A Qualitative Study.
        </span>The Journal of Sex Research, 52(1), 55–68.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1080/00224499.2013.826168" target="_blank"
          >https://doi.org/10.1080/00224499.2013.826168
        </a>.
      </li>

      <li class="elemento">
        Koo, K. H., Nguyen, H. V., Andrasik, M. P., & George, W. H. (2015b). <span class="titulo"
          >The cultural context of nondisclosure of alcohol-involved acquaintance rape among Asian American college
          women: A qualitative study.
        </span>Journal of Sex Research, 52(1), 55–68.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1080/00224499.2013.826168" target="_blank"
          >https://doi.org/10.1080/00224499.2013.826168
        </a>.
      </li>

      <li class="elemento">
        Lemaigre, C., Taylor, E. P., & Gittoes, C. (2017). <span class="titulo"
          >Barriers and facilitators to disclosing sexual abuse in childhood and adolescence: A systematic review.
        </span>Child Abuse & Neglect, 70, 39–52.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1016/j.chiabu.2017.05.009" target="_blank"
          >https://doi.org/10.1016/j.chiabu.2017.05.009
        </a>.
      </li>

      <li class="elemento">
        Li, Y., Dong, F., Bullock, L. F. C., & Bloom, T. (2022). <span class="titulo"
          >Exploring Help-Seeking Experiences of Chinese Immigrant Survivors of Intimate Partner Violence in the U.S.
        </span>Psychological Trauma, 14(1), 91–98.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1037/tra0001120" target="_blank"
          >https://doi.org/10.1037/tra0001120
        </a>.
      </li>

      <li class="elemento">
        Lichty, L. F., & Gowen, L. K. (2021). <span class="titulo"
          >Youth Response to Rape: Rape Myths and Social Support.
        </span>Journal of Interpersonal Violence, 36(11–12), 5530–5557.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1177/0886260518805777" target="_blank"
          >https://doi.org/10.1177/0886260518805777
        </a>.
      </li>

      <li class="elemento">
        Machado, A., Hines, D., & Matos, M. (2016). <span class="titulo"
          >Help-Seeking and Needs of Male Victims of Intimate Partner Violence in Portugal.
        </span>Psychology of Men & Masculinity, 17(3), 255–264.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1037/men0000013" target="_blank"
          >https://doi.org/10.1037/men0000013
        </a>.
      </li>

      <li class="elemento">
        McCleary-Sills, J., Namy, S., Nyoni, J., Rweyemamu, D., Salvatory, A., & Steven, E. (2016). <span class="titulo"
          >Stigma, shame and women’s limited agency in help-seeking for intimate partner violence.
        </span>Global Public Health, 11(1–2), 224–235.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1080/17441692.2015.1047391" target="_blank"
          >https://doi.org/10.1080/17441692.2015.1047391
        </a>.
      </li>

      <li class="elemento">
        Mengeling, M. A., Booth, B. M., Torner, J. C., & Sadler, A. G. (2015). <span class="titulo"
          >Post-sexual assault health care utilization among OEF/OIF servicewomen.
        </span>Medical Care, 53(4 Suppl 1), S136-42.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1097/MLR.0000000000000267" target="_blank"
          >https://doi.org/10.1097/MLR.0000000000000267
        </a>.
      </li>

      <li class="elemento">
        Monterrosa, A. E. (2021a). <span class="titulo"
          >How Race and Gender Stereotypes Influence Help-Seeking for Intimate Partner Violence.
        </span>Journal of Interpersonal Violence, 36(17–18), NP9153–NP9174.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1177/0886260519853403" target="_blank"
          >https://doi.org/10.1177/0886260519853403
        </a>.
      </li>

      <li class="elemento">
        Monterrosa, A. E. (2021b).<span class="titulo"
          >How Race and Gender Stereotypes Influence Help-Seeking for Intimate Partner Violence.
        </span>Journal of Interpersonal Violence, 36(17–18), NP9153–NP9174.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1177/0886260519853403" target="_blank"
          >https://doi.org/10.1177/0886260519853403
        </a>.
      </li>

      <li class="elemento">
        Morrison, S. E., Bruce, C., & Wilson, S. (2018).<span class="titulo"
          >Children’s Disclosure of Sexual Abuse: A Systematic Review of Qualitative Research Exploring Barriers and
          Facilitators.
        </span>Journal of Child Sexual Abuse, 27(2), 176–194.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1080/10538712.2018.1425943" target="_blank"
          >https://doi.org/10.1080/10538712.2018.1425943
        </a>.
      </li>

      <li class="elemento">
        Mwanukuzi, C., & Nyamhanga, T. (2021). <span class="titulo"
          >“It is painful and unpleasant”: Experiences of sexual violence among married adolescent girls in Shinyanga,
          Tanzania.
        </span> Reproductive Health, 18(1), 1–1.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1186/s12978-020-01058-8" target="_blank"
          >https://doi.org/10.1186/s12978-020-01058-8
        </a>.
      </li>

      <li class="elemento">
        Nace, A., Maternowska, C., Fernandez, B., & Cravero, K. (2021). <span class="titulo"
          >“The Violence Against Children Surveys (VACS): Using VACS data to drive programmes and policies.
        </span> Global Public Health, 1–19.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1080/17441692.2021.2010116" target="_blank"
          >https://doi.org/10.1080/17441692.2021.2010116
        </a>.
      </li>

      <li class="elemento">
        O’Doherty, L. J., Taft, A., McNair, R., & Hegarty, K. (2016). <span class="titulo"
          >Fractured Identity in the Context of Intimate Partner Violence: Barriers to and Opportunities for Seeking
          Help in Health Settings.
        </span> Violence against Women, 22(2), 225–248.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1177/1077801215601248" target="_blank"
          >https://doi.org/10.1177/1077801215601248
        </a>.
      </li>

      <li class="elemento">
        Orchowski, L. M., Grocott, L., Bogen, K. W., Ilegbusi, A., Amstadter, A. B., & Nugent, N. R. (2022). <span
          class="titulo"
          >Barriers to Reporting Sexual Violence: A Qualitative Analysis of #WhyIDidntReport.
        </span> Violence against Women, 28(14), 3530–3553.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1177/10778012221092479" target="_blank"
          >https://doi.org/10.1177/10778012221092479
        </a>.
      </li>

      <li class="elemento">
        Othman, S., Goddard, C., & Piterman, L. (2014). <span class="titulo"
          >Victims’ barriers to discussing domestic violence in clinical consultations: A qualitative enquiry.
        </span> Journal of Interpersonal Violence, 29(8), 1497–1513.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1177/0886260513507136" target="_blank"
          >https://doi.org/10.1177/0886260513507136
        </a>.
      </li>

      <li class="elemento">
        Padilla-Medina, D. M., Williams, J. R., Ravi, K., Ombayo, B., & Black, B. M. (2022). <span class="titulo"
          >Teen Dating Violence Help-Seeking Intentions and Behaviors Among Ethnically and Racially Diverse Youth: A
          Systematic Review.
        </span> Trauma, Violence, & Abuse, 23(4), 1063–1078.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1177/1524838020985569" target="_blank"
          >https://doi.org/10.1177/1524838020985569
        </a>.
      </li>

      <li class="elemento">
        Pereira, A., Peterman, A., Neijhoft, A. N., Buluma, R., Daban, R. A., Islam, A., Kainja, E. T. V., Kaloga, I.
        F., Kheam, T., Johnson, A. K., Maternowska, M. C., Potts, A., Rottanak, C., Samnang, C., Shawa, M., Yoshikawa,
        M., & Palermo, T. (2020). <span class="titulo"
          >Disclosure, reporting and help seeking among child survivors of violence: A cross-country analysis.
        </span> BMC Public Health, 20(1), 1051–1051.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1186/s12889-020-09069-7" target="_blank"
          >https://doi.org/10.1186/s12889-020-09069-7
        </a>.
      </li>

      <li class="elemento">
        Reina, A. S., & Lohman, B. J. (2015). <span class="titulo"
          >Barriers Preventing Latina Immigrants from Seeking Advocacy Services for Domestic Violence Victims: A
          Qualitative Analysis.
        </span> Journal of Family Violence, 30(4), 479–488.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1007/s10896-015-9696-8" target="_blank"
          >https://doi.org/10.1007/s10896-015-9696-8
        </a>.
      </li>

      <li class="elemento">
        Reina, A. S., Lohman, B. J., & Maldonado, M. M. (2014). <span class="titulo"
          >‘He said they’d deport me’: Factors influencing domestic violence help-seeking practices among Latina
          immigrants.
        </span> Journal of Interpersonal Violence, 29(4), 593–615.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1177/0886260513505214" target="_blank"
          >https://doi.org/10.1177/0886260513505214
        </a>.
      </li>

      <li class="elemento">
        Rich, K., Seffrin, P. M., & McNichols, E. (2021). <span class="titulo"
          >College Students’ Responses to Their Sexually Assaulted Friends: Impact of Rape Myth Acceptance, Prior
          Victimization, and Social Relationships.
        </span> Archives of Sexual Behavior, 50(1), 263–275.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1007/s10508-020-01842-4" target="_blank"
          >https://doi.org/10.1007/s10508-020-01842-4
        </a>.
      </li>

      <li class="elemento">
        Sadler, A. G., Cheney, A. M., Mengeling, M. A., Booth, B. M., Torner, J. C., & Young, L. B. (2021). <span
          class="titulo"
          >Servicemen’s Perceptions of Male Sexual Assault and Barriers to Reporting During Active Component and
          Reserve/National Guard Military Service.
        </span> Journal of Interpersonal Violence, 36(7–8), NP3596–NP3623.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1177/0886260518780407" target="_blank"
          >https://doi.org/10.1177/0886260518780407
        </a>.
      </li>

      <li class="elemento">
        Schmitt, S., Robjant, K., Elbert, T., & Koebach, A. (2021). <span class="titulo"
          >To add insult to injury: Stigmatization reinforces the trauma of rape survivors – Findings from the DR Congo.
        </span> SSM - Population Health, 13, 100719–100719.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1016/j.ssmph.2020.100719" target="_blank"
          >https://doi.org/10.1016/j.ssmph.2020.100719
        </a>.
      </li>

      <li class="elemento">
        Schomerus, G., Schindler, S., Rechenberg, T., Gfesser, T., Grabe, H. J., Liebergesell, M., Sander, C., Ulke, C.,
        & Speerforck, S. (2021). <span class="titulo"
          >Stigma as a barrier to addressing childhood trauma in conversation with trauma survivors: A study in the
          general population.
        </span> PloS One, 16(10), e0258782–e0258782.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1371/journal.pone.0258782" target="_blank"
          >https://doi.org/10.1371/journal.pone.0258782
        </a>.
      </li>

      <li class="elemento">
        Scrafford, K. E., Miller-Graff, L. E., Umunyana, A. G., Schwartz, L. E., & Howell, K. H. (2022). <span
          class="titulo"
          >‘I Did It to Save My Children’: Parenting Strengths and Fears of Women Exposed to Intimate Partner Violence.
        </span> Journal of Interpersonal Violence, 37(9–10), NP7775–NP7802.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1177/0886260520969231" target="_blank"
          >https://doi.org/10.1177/0886260520969231
        </a>.
      </li>

      <li class="elemento">
        Seibold-Simpson, S. M., McKinnon, A. M., Mattson, R. E., Ortiz, E., Merriwether, A. M., Massey, S. G., & Chiu,
        I. (2021). <span class="titulo"
          >Person- and Incident-Level Predictors of Blame, Disclosure, and Reporting to Authorities in Rape Scenarios.
        </span> Journal of Interpersonal Violence, 36(9–10), NP4788–NP4814.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1177/0886260518795171" target="_blank"
          >https://doi.org/10.1177/0886260518795171
        </a>.
      </li>

      <li class="elemento">
        Sichimba, F., Nakazwe, K. C., & Phiri, T. (2020). <span class="titulo"
          >Untold Stories of Women Living in Violence: Lived Realities of Why Women Stay: A Case Study of Ngombe and
          Kanyama Compounds in Lusaka.
        </span> Journal of Aggression, Maltreatment & Trauma, 29(7), 767–784.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1080/10926771.2019.1667466" target="_blank"
          >https://doi.org/10.1080/10926771.2019.1667466
        </a>.
      </li>

      <li class="elemento">
        Silva, T., Agampodi, T., Evans, M., Knipe, D., Rathnayake, A., & Rajapakse, T. (2022). <span class="titulo"
          >Barriers to help-seeking from healthcare professionals amongst women who experience domestic violence—A
          qualitative study in Sri Lanka.
        </span> BMC Public Health, 22(1), 721.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1186/s12889-022-13116-w" target="_blank"
          >https://doi.org/10.1186/s12889-022-13116-w
        </a>.
      </li>

      <li class="elemento">
        Simmons, J., Brüggemann, A. J., & Swahnberg, K. (2016). <span class="titulo"
          >Disclosing victimisation to healthcare professionals in Sweden: A constructivist grounded theory study of
          experiences among men exposed to interpersonal violence.
        </span> BMJ Open, 6(6), e010847–e010847.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1136/bmjopen-2015-010847" target="_blank"
          >https://doi.org/10.1136/bmjopen-2015-010847
        </a>.
      </li>

      <li class="elemento">
        Simon-Kumar, R., Kurian, P. A., Young-Silcock, F., & Narasimhan, N. (2017). <span class="titulo"
          >Mobilising culture against domestic violence in migrant and ethnic communities: Practitioner perspectives
          from Aotearoa/New Zealand.
        </span> Health & Social Care in the Community, 25(4), 1387–1395.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1111/hsc.12439" target="_blank"
          >https://doi.org/10.1111/hsc.12439
        </a>.
      </li>

      <li class="elemento">
        Sivagurunathan, M., Orchard, T., MacDermid, J. C., & Evans, M. (2019). <span class="titulo"
          >Barriers and facilitators affecting self-disclosure among male survivors of child sexual abuse: The service
          providers’ perspective.
        </span> Child Abuse & Neglect, 88, 455–465.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1016/j.chiabu.2018.08.015" target="_blank"
          >https://doi.org/10.1016/j.chiabu.2018.08.015
        </a>.
      </li>

      <li class="elemento">
        Smith, J. R., Ho, L. S., Langston, A., Mankani, N., Shivshanker, A., & Perera, D. (2013). <span class="titulo"
          >Clinical care for sexual assault survivors multimedia training: A mixed-methods study of effect on healthcare
          providers’ attitudes, knowledge, confidence, and practice in humanitarian settings.
        </span> Conflict and Health, 7(1), 14–14.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1186/1752-1505-7-14" target="_blank"
          >https://doi.org/10.1186/1752-1505-7-14
        </a>.
      </li>

      <li class="elemento">
        Snell-Rood, C. (2015). <span class="titulo"
          >Informal support for women and intimate partner violence: The crucial yet ambivalent role of neighbours in
          urban India.
        </span> Culture, Health & Sexuality, 17(1), 63–77.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1080/13691058.2014.950333" target="_blank"
          >https://doi.org/10.1080/13691058.2014.950333
        </a>.
      </li>

      <li class="elemento">
        Stardust, Z., Treloar, C., Cama, E., & Kim, J. (2021). <span class="titulo"
          >‘I wouldn’t call the cops if I was being bashed to death’: Sex work, whore stigma and the criminal legal
          system.
        </span> International Journal for Crime, Justice and Social Democracy, 10(3), 142–157.
      </li>

      <li class="elemento">
        Taherkhani, S., Negarandeh, R., Simbar, M., & Ahmadi, F. (2017). <span class="titulo"
          >Barriers to seeking help among abused Iranian women.
        </span> The Journal of Adult Protection, 19(5), 261–273.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1108/JAP-03-2017-0007" target="_blank"
          >https://doi.org/10.1108/JAP-03-2017-0007
        </a>.
      </li>

      <li class="elemento">
        Taylor, J. C., Bates, E. A., Colosi, A., & Creer, A. J. (2022). <span class="titulo"
          >Barriers to Men’s Help Seeking for Intimate Partner Violence.
        </span> Journal of Interpersonal Violence, 37(19–20), NP18417–NP18444.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1177/08862605211035870" target="_blank"
          >https://doi.org/10.1177/08862605211035870
        </a>.
      </li>

      <li class="elemento">
        Taylor, S. C., & Norma, C. (2013). <span class="titulo"
          >The ties that bind: Family barriers for adult women seeking to report childhood sexual assault in Australia.
        </span> Women’s Studies International Forum, 37, 114–124.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1016/j.wsif.2012.11.004" target="_blank"
          >https://doi.org/10.1016/j.wsif.2012.11.004
        </a>.
      </li>

      <li class="elemento">
        Timraz, S., Lewin, L., Giurgescu, C., & Kavanaugh, K. (2019). <span class="titulo"
          >An Exploration of Coping with Childhood Sexual Abuse in Arab American Women.
        </span> Journal of Child Sexual Abuse, 28(3), 360–381. CINAHL Plus.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1080/10538712.2018.1538174" target="_blank"
          >https://doi.org/10.1080/10538712.2018.1538174
        </a>.
      </li>

      <li class="elemento">
        Ting, L., & Panchanadeswaran, S. (2016). <span class="titulo"
          >The Interface Between Spirituality and Violence in the Lives of Immigrant African Women: Implications for
          Help Seeking and Service Provision.
        </span> Journal of Aggression, Maltreatment & Trauma, 25(1), 33–49.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1080/10926771.2015.1081660" target="_blank"
          >https://doi.org/10.1080/10926771.2015.1081660
        </a>.
      </li>

      <li class="elemento">
        Tonsing, J., & Barn, R. (2017). <span class="titulo"
          >Intimate partner violence in South Asian communities: Exploring the notion of ‘shame’ to promote
          understandings of migrant women’s experiences.
        </span> International Social Work, 60(3), 628–639.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1177/0020872816655868" target="_blank"
          >https://doi.org/10.1177/0020872816655868
        </a>.
      </li>

      <li class="elemento">
        Turchik, J. A., McLean, C., Rafie, S., Hoyt, T., Rosen, C. S., & Kimerling, R. (2013). <span class="titulo"
          >Perceived barriers to care and provider gender preferences among veteran men who have experienced military
          sexual trauma: A qualitative analysis.
        </span> Psychological Services, 10(2), 213–222.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1037/a0029959" target="_blank"
          >https://doi.org/10.1037/a0029959
        </a>.
      </li>

      <li class="elemento">
        Twis, M. K., Phuong Nguyen, A., & Nordberg, A. (2018). <span class="titulo"
          >Intimate Partner Violence Myths in Police Reports: A Directed Content Analysis.
        </span> Violence and Victims, 33(2), 351–367.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1891/0886-6708.VV-D-17-00015" target="_blank"
          >https://doi.org/10.1891/0886-6708.VV-D-17-00015
        </a>.
      </li>

      <li class="elemento">
        Ullman, S. E., O’Callaghan, E., Shepp, V., & Harris, C. (2020). <span class="titulo"
          >Reasons for and Experiences of Sexual Assault Nondisclosure in a Diverse Community Sample.
        </span> Journal of Family Violence, 35(8), 839–851.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1007/s10896-020-00141-9" target="_blank"
          >https://doi.org/10.1007/s10896-020-00141-9
        </a>.
      </li>

      <li class="elemento">
        United Nations Children’s Fund. (2020). <span class="titulo"
          >Action to end child sexual abuse and exploitation: A review of the evidence.
        </span> UNICEF.
      </li>

      <li class="elemento">
        Valdespino-Hayden, Z., Walsh, K., & Lowe, S. R. (2022). <span class="titulo"
          >Rape Myth Acceptance Buffers the Association Between Sexual Assault and Posttraumatic Stress Disorder
          Symptoms Among College Students.
        </span> Journal of Interpersonal Violence, 37(21–22), NP20386–NP20408.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1177/08862605211050101" target="_blank"
          >https://doi.org/10.1177/08862605211050101
        </a>.
      </li>

      <li class="elemento">
        Venema, R. M. (2019). <span class="titulo"
          >Making Judgments: How Blame Mediates the Influence of Rape Myth Acceptance in Police Response to Sexual
          Assault.
        </span> Journal of Interpersonal Violence, 34(13), 2697–2722.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1177/0886260516662437" target="_blank"
          >https://doi.org/10.1177/0886260516662437
        </a>.
      </li>

      <li class="elemento">
        Verelst, A., De Schryver, M., De Haene, L., Broekaert, E., & Derluyn, I. (2014). <span class="titulo"
          >The mediating role of stigmatization in the mental health of adolescent victims of sexual violence in Eastern
          Congo.
        </span> Child Abuse & Neglect, 38(7), 1139–1146.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1016/j.chiabu.2014.04.003" target="_blank"
          >https://doi.org/10.1016/j.chiabu.2014.04.003
        </a>.
      </li>

      <li class="elemento">
        World Health Organization. (2003). <span class="titulo"
          >Child Sexual abuse. Guidelines for medicolegal care for victims of sexual violence (p. World Health
          Organistion).
        </span> World Health Organisation.
        <br /><a class="enlaceBibliografia" href="https://apps.who.int/iris/handle/10665/42788" target="_blank"
          >https://apps.who.int/iris/handle/10665/42788
        </a>.
      </li>

      <li class="elemento">
        World Health Organization. (2020). <span class="titulo"
          >Global status report on preventing violence against children.
        </span> World Health Organisation.
      </li>

      <li class="elemento">
        Wright, E. N., Anderson, J., Phillips, K., & Miyamoto, S. (2022). <span class="titulo"
          >Help-Seeking and Barriers to Care in Intimate Partner Sexual Violence: A Systematic Review.
        </span> Trauma, Violence & Abuse, 23(5), 1510–1528.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1177/1524838021998305" target="_blank"
          >https://doi.org/10.1177/1524838021998305
        </a>.
      </li>

      <li class="elemento">
        Xiao, H., & Smith-Prince, J. (2015). <span class="titulo"
          >Disclosure of childhood sexual abuse by adult survivors: Disclosure of child sexual abuse: The case of
          pacific Islanders.
        </span> Journal of Child Sexual Abuse, 24(4), 369–384.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1080/10538712.2015.1022294" target="_blank"
          >https://doi.org/10.1080/10538712.2015.1022294
        </a>.
      </li>

      <li class="elemento">
        Yohani, S., & Okeke-Ihejirika, P. (2018). <span class="titulo"
          >Pathways to Help-Seeking and Mental Health Service Provision for African Female Survivors of Conflict-Related
          Sexualized Gender-Based Violence.
        </span> Women & Therapy, 41(3–4), 380–405..
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1080/02703149.2018.1434302" target="_blank"
          >https://doi.org/10.1080/02703149.2018.1434302
        </a>.
      </li>

      <li class="elemento">
        Zvi, L. (2022). <span class="titulo"
          >The Double Standard Toward Female and Male Victims of Non-consensual Dissemination of Intimate Images.
        </span> Journal of Interpersonal Violence, 37(21–22), NP20146–NP20167.
        <br /><a class="enlaceBibliografia" href="https://doi.org/10.1177/08862605211050109" target="_blank"
          >https://doi.org/10.1177/08862605211050109
        </a>.
      </li>

      <li class="elemento" style="margin-bottom:25vw">
        <span class="titulo"> </span>
        <br /><a class="enlaceBibliografia" href="" target="_blank"></a>
      </li>
    </ul>
  </div>

  <style lang="scss">
    .elemento {
      margin: 1em 0;

      .enlaceBibliografia {
        line-height: 0;
      }
    }

    .titulo {
      font-style: italic;
      font-weight: 700;
    }

    #huellaDelConflicto {
    }
    #recursos {
      padding-top: 22vh;
    }
    #trayectoriasMaltrato {
      padding-top: 3em;
    }
    #experienciasAdversas {
      padding-top: 3em;
    }
    #estigma {
      padding-top: 3em;
    }

    #recursos {
      a,
      a:link {
        font-family: var(--fuenteMono);
        font-size: 0.8em;
        transition: all 0.3s ease-in-out;

        &:hover {
          opacity: 0.8;
          color: var(--rosaChicle);
        }
      }
    }
  </style>
</Plantilla>
