---
import Menu from '@/componentes/Menu.astro';
import Plantilla from '@/plantillas/Plantilla.astro';
---

<Plantilla titulo="VACS">
  <Menu numeroProyecto={1} />

  <div id="recursos" class="contenidoColumna contenido">
    <h1>Recursos y bibliografía</h1>

    <h2 id="huellaDelConflicto">La huella del conflicto armado en la niñez y adolescencia colombianas</h2>

    <ul>
      <li class="elemento">
        ACNUR (1998). <span class="titulo">Principios rectores sobre el desplazamiento forzado</span>, Bogotá, Acnur.
      </li>

      <li class="elemento">
        CEV (2022a) 2. <span class="titulo"
          >Hay futuro si hay verdad. Informe final. No es un mal menor. Experiencias de mujeres y personas LGBTIG+ en el
          conflicto armado
        </span>. <a href="https://www.comisiondelaverdad.co/hay-futuro-si-hay-verdad" target="_blank"
          >https://www.comisiondelaverdad.co/hay-futuro-si-hay-verdad</a
        >.
      </li>

      <li class="elemento">
        CEV (2022b) 2. <span class="titulo">
          Hay futuro si hay verdad. Informe final. Mi cuerpo es la verdad. Experiencias de mujeres y personas LGBTIG+ en
          el conflicto armado
        </span>. <a href="https://www.comisiondelaverdad.co/hay-futuro-si-hay-verdad" target="_blank"
          >https://www.comisiondelaverdad.co/hay-futuro-si-hay-verdad</a
        >.
      </li>

      <li class="elemento">
        Durán, E. y Valoyes, E. (2009). Perfil de los niños, niñas y adolescentes sin cuidado parental en Colombia. <span
          class="titulo">Revista Latinoamericana de Ciencias Sociales, Niñez y Juventud</span
        >, 7 (2), 761-783.
        <a href="https://www.redalyc.org/pdf/773/77315614008.pdf" target="_blank"
          >https://www.redalyc.org/pdf/773/77315614008.pdf</a
        >.
      </li>

      <li class="elemento">
        Gratz K.L., Roemer, L. (2008). The relationship between emotion dysregulation and deliberate self-harm among
        female undergraduate students at an urban commuter university. <span class="titulo"
          >Cognitive Behavioral Therapy</span
        >, 37(1), 14-25.
      </li>

      <li class="elemento">
        Koul, P., & Shakher, C. (2014). Orphanhood; in the context of mental health and difficulty in emotion regulation
        of children. <span class="titulo">Indian Journal of Health and Wellbeing</span>, 5(8), 927-930.
        <a
          href="https://ezproxy.uniandes.edu.co:8443/login?url=https://www.proquest.com/scholarly-journals/orphanhood-context-mental-health-difficulty/docview/1619361803/se-2"
          target="_blank"
          >https://ezproxy.uniandes.edu.co:8443/login?url=https://www.proquest.com/scholarly-journals/orphanhood-context-mental-health-difficulty/docview/1619361803/se-2</a
        >.
      </li>

      <li>Minsalud. (2019). Encuesta de Violencia Contra Niños, Niñas y Adolescentes -EVCNNA-2018.</li>

      <li class="elemento">
        Moratilla-Olvera, M. Y Taracena-Ruiz, Bertha. (2012). Vulnerabilidad social y orfandad: trayectoria vital de una
        adolescente. <span class="titulo">Revista Latinoamericana de Ciencias Sociales, Niñez y Juventud</span>, 10 (2).
        <a href="http://www.scielo.org.co/scielo.php?script=sci_arttext&pid=S1692-715X2012000200005" target="_blank"
          >http://www.scielo.org.co/scielo.php?script=sci_arttext&pid=S1692-715X2012000200005</a
        >.
      </li>

      <li class="elemento">
        Naciones Unidas. (2022). <span class="titulo">El informe final de la Comisión de la Verdad</span>.
        <a href="https://www.ohchr.org/es/statements/2022/06/colombian-truth-commissions-final-report" target="_blank"
          >https://www.ohchr.org/es/statements/2022/06/colombian-truth-commissions-final-report</a
        >.
      </li>

      <li class="elemento">
        O’Kane, C., Moedlagl, C., Verweijen-Slamnescu, R., Winkler, E. (2006) <span class="titulo">
          Child Rights Situation Analysis. Rights-Based Situational Analysis of Children without Parental Care and at
          risk of losing their Parental Care.
        </span>
        [Versión electrónica]. Consultado el 10 septiembre de 2008.
        <a
          href="http://www.sos-childrensvillages.org/Publications/Reports-studies/Documents/20070404_0820_CRSA_final_Nov06_en.pdf"
          target="_blank"
          >http://www.sos-childrensvillages.org/Publications/Reports-studies/Documents/20070404_0820_CRSA_final_Nov06_en.pdf</a
        >.
      </li>

      <li class="elemento">
        Organización Mundial de la Salud -OMS-. (2022). <span class="titulo">
          Informe mundial sobre salud mental. Transformar la salud mental para todos. Panorama general.
        </span>
      </li>

      <li class="elemento">
        Peña, R. (2006). Migración de colombianos: ¿una expresión moderna de orfandad? Una aproximación a las políticas
        públicas dirigidas a los colombianos en el exterior.
        <span class="titulo">Estudios Sociojurídicos</span>, 8 (1), 72-102.
        <a href="http://www.scielo.org.co/pdf/esju/v8n1/v8n1a03.pdf" target="_blank"
          >http://www.scielo.org.co/pdf/esju/v8n1/v8n1a03.pdf</a
        >.
      </li>

      <li class="elemento">
        Sharma, K. (2002). <span class="titulo">Manual of mental health.</span> Ankur publications, New Delhi.
      </li>

      <li class="elemento">
        Stern, C. (2004). Vulnerabilidad social y embarazo adolescente en México. <span class="titulo"
          >Papeles de población</span
        >, 39, pp. 129-158.
      </li>

      <li class="elemento">
        Unidad para las Víctimas (2022). Registro único de víctimas.
        <a href="https://www.unidadvictimas.gov.co/es/registro-unico-de-victimas-ruv/37394" target="_blank"
          >https://www.unidadvictimas.gov.co/es/registro-unico-de-victimas-ruv/37394</a
        >.
      </li>
    </ul>

    <h2 id="experienciasAdversas">Experiencias Adversas en la Infancia</h2>
    <ul>
      <li class="elemento">
        Assini-Meytin, L. C., Thorne, E. J., Sanikommu, M., Green, K. M., & Letourneau, E. J. (2022). Impact of Child
        Sexual Abuse on Socioeconomic Attainment in Adulthood. <span class="titulo">Journal of Adolescent Health.</span>
        Elsevier BV.
        <a href="https://doi.org/10.1016/j.jadohealth.2022.05.013" target="_blank"
          >https://doi.org/10.1016/j.jadohealth.2022.05.013</a
        >.
      </li>

      <li class="elemento">
        Baiden, P., LaBrenz, C. A., Okine, L., Thrasher, S., & Asiedua-Baiden, G. (2020). The toxic duo: Bullying
        involvement and adverse childhood experiences as factors associated with school disengagement among children.
        <span class="titulo">Children and Youth Services Review</span> (Vol. 119, p. 105383). Elsevier BV.
        <a href="https://doi.org/10.1016/j.childyouth.2020.105383" target="_blank"
          >https://doi.org/10.1016/j.childyouth.2020.105383</a
        >.
      </li>

      <li class="elemento">
        Barrios-Acosta, M., Riaño-Rondón, S. V., Villa-Rosero, Y. M., Martínez, O. P., Aragón-Joya, Y. A., & Mayer, S.
        (2017). Correlation between growth and adverse childhood experiences in vulnerable children in Bogotá, Colombia.
        <span class="titulo">Journal of Child &amp; Adolescent Trauma</span> (Vol. 10, Issue 3, pp. 217-224). Springer Science
        and Business Media LLC. <a href="https://doi.org/10.1007/s40653-017-0135-2" target="_blank"
          >https://doi.org/10.1007/s40653-017-0135-2</a
        >.
      </li>

      <li class="elemento">
        Bellis, M. A., Hughes, K., Leckenby, N., Perkins, C., & Lowey, H. (2014). National household survey of adverse
        childhood experiences and their relationship with resilience to health-harming behaviors in England. <span
          class="titulo">BMC Medicine</span
        > (Vol. 12, Issue 1). Springer Science and Business Media LLC. <a
          href="https://doi.org/10.1186/1741-7015-12-72"
          target="_blank">https://doi.org/10.1186/1741-7015-12-72</a
        >.
      </li>

      <li class="elemento">
        Castillo Martínez, A., Cleves Luna, D., García Cifuentes, Á. M., Laverde Martínez, L., Medina Medina, V., Cortés
        Ruiz, H., Ramírez Martínez, D., & Dávalos Pérez, D. M. (2017). Experiencias adversas de la infancia en una
        muestra de pacientes con enfermedad crónica en Cali-Colombia. <span class="titulo">Medicina UPB</span> (Vol. 36,
        Issue 1, pp. 9-15). Universidad Pontificia Bolivariana. <a
          href="https://doi.org/10.18566/medupb.v36n1.a02"
          target="_blank">https://doi.org/10.18566/medupb.v36n1.a02</a
        >.
      </li>

      <li class="elemento">
        Chang, X., Jiang, X., Mkandarwire, T., & Shen, M. (2019). Associations between adverse childhood experiences and
        health outcomes in adults aged 18–59 years. S. Seedat (Ed.), <span class="titulo">PLOS ONE</span> (Vol. 14, Issue
        2, p. e0211850). Public Library of Science (PLoS). <a
          href="https://doi.org/10.1371/journal.pone.0211850"
          target="_blank">https://doi.org/10.1371/journal.pone.0211850</a
        >.
      </li>

      <li class="elemento">
        Exley, D., Norman, A., & Hyland, M. (2015). Adverse childhood experience and asthma onset: a systematic review. <span
          class="titulo">European Respiratory Review</span
        > (Vol. 24, Issue 136, pp. 299-305). European Respiratory Society (ERS).
        <a href="https://doi.org/10.1183/16000617.00004114" target="_blank">https://doi.org/10.1183/16000617.00004114</a
        >.
      </li>
      <li class="elemento">
        Ghanem, N. (2021). The effect of violence in childhood on school success factors in US children. <span
          class="titulo">Child Abuse &amp; Neglect</span
        > (Vol. 120, p. 105217). Elsevier BV. <a href="https://doi.org/10.1016/j.chiabu.2021.105217" target="_blank"
          >https://doi.org/10.1016/j.chiabu.2021.105217</a
        >.
      </li>
      <li class="elemento">
        Hillis, S. D., Mercy, J. A., & Saul, J. R. (2017). The enduring impact of violence against children. <span
          class="titulo"
          >Psychology, health & medicine
        </span>, 22(4), 393–405. <a href="https://doi.org/10.1080/13548506.2016.1153679" target="_blank"
          >https://doi.org/10.1080/13548506.2016.1153679</a
        >.
      </li>
      <li class="elemento">
        Huang, H., Yan, P., Shan, Z., Chen, S., Li, M., Luo, C., Gao, H., Hao, L., & Liu, L. (2015). A dverse childhood
        experiences and risk of type 2 diabetes: A systematic review and meta-analysis. <span class="titulo"
          >Metabolism</span
        > (Vol. 64, Issue 11, pp. 1408-1418). Elsevier BV. <a
          href="https://doi.org/10.1016/j.metabol.2015.08.019"
          target="_blank">https://doi.org/10.1016/j.metabol.2015.08.019</a
        >.
      </li>
      <li class="elemento">
        Kumar, M., Amugune, B., Madeghe, B., Wambua, G. N., Osok, J., Polkonikova-Wamoto, A., Bukusi, D., Were, F., &
        Huang, K. Y. (2018). Mechanisms associated with maternal adverse childhood experiences on offspring's mental
        health in Nairobi informal settlements: a mediational model testing approach.
        <span class="titulo">BMC psychiatry</span>, 18(1), 381.
        <a href="https://doi.org/10.1186/s12888-018-1953-y" target="_blank">https://doi.org/10.1186/s12888-018-1953-y</a
        >.
      </li>
      <li class="elemento">
        Narayan, A. J., Lieberman, A. F., & Masten, A. S. (2021). Intergenerational transmission and prevention of
        adverse childhood experiences (ACEs).
        <span class="titulo">Clinical psychology review</span>, 85, 101997.
        <a href="https://doi.org/10.1016/j.cpr.2021.101997" target="_blank">https://doi.org/10.1016/j.cpr.2021.101997</a
        >.
      </li>
      <li class="elemento">
        Petruccelli, K., Davis, J., & Berman, T. (2019). Adverse childhood experiences and associated health outcomes: A
        systematic review and meta-analysis. <span class="titulo">Child abuse & neglect</span>, 97, 104127.
        <a href="https://doi.org/10.1016/j.chiabu.2019.104127" target="_blank"
          >https://doi.org/10.1016/j.chiabu.2019.104127</a
        >.
      </li>

      <li class="elemento">
        S., Trajkovski, K., & Hariharan, T. (2019). Understanding the mechanisms through which adverse childhood
        experiences affect lifetime economic outcomes. <span class="titulo">Labour Economics</span>
        (Vol. 61, p. 101743). Elsevier BV.
        <a href="https://doi.org/10.1016/j.labeco.2019.06.007" target="_blank"
          >https://doi.org/10.1016/j.labeco.2019.06.007</a
        >.
      </li>

      <li class="elemento">
        Schurer, S., Way, B., & Seeman, T. (2011). <span class="titulo">
          Early adversity and adult health outcomes. Development and Psychopathology
        </span>, 23(3), 939-954. <a href="https://doi.org/10.1017/S0954579411000411" target="_blank"
          >https://doi.org/10.1017/S0954579411000411</a
        >.
      </li>
      <li class="elemento">
        Von Sneidern, E., Cabrera, K. P., Galeano, N., Plaza, M., & Barrios, M. (2017). Association between Adverse
        Childhood Experiences (ACEs) and Developmental Delay of Preschool Children in a Rural Area of Colombia. <span
          class="titulo">Journal of Child &amp; Adolescent Trauma</span
        >
        (Vol. 10, Issue 3, pp. 225-232). Springer Science and Business Media LLC. <a
          href="https://doi.org/10.1007/s40653-017-0179-3"
          target="_blank">https://doi.org/10.1007/s40653-017-0179-3</a
        >.
      </li>

      <li class="elemento">
        Wood, K. H., Wheelock, M. D., Shumen, J. R., Bowen, K. H., Ver Hoef, L. W., & Knight, D. C. (2015).
        Controllability modulates the neural response to predictable but not unpredictable threat in humans. <span
          class="titulo">NeuroImage</span
        >, 119, 371-381. <a href="https://doi.org/10.1016/j.neuroimage.2015.06.086" target="_blank"
          >https://doi.org/10.1016/j.neuroimage.2015.06.086</a
        >.
      </li>
    </ul>

    <h2 id="trayectoriasMaltrato">Trayectorias de Maltrato</h2>
    <ul>
      <li class="elemento">
        Agencia de Renovación del Territorio (2021). <span class="titulo">PDET en Cifras.</span> Recuperado de
        <a href="https://www.renovacionterritorio.gov.co/especiales/especialpdet/" target="_blank"
          >https://www.renovacionterritorio.gov.co/especiales/especialpdet/</a
        >.
      </li>

      <li class="elemento">
        Armfield JM, Gnanamanickam ES, Johnston DW, Preen DB, Brown DS, Nguyen H, Segal L. (2021). Intergenerational
        transmission of child maltreatment in South Australia, 1986-2017: a retrospective cohort study.
        <span class="titulo">Lancet Public Health</span>, 6 (7). <a
          href="https://doi.org/10.1016/S2468-2667(21)00024-4"
          target="_blank">https://doi.org/10.1016/S2468-2667(21)00024-4</a
        >.
      </li>

      <li class="elemento">
        Auslander W, Sterzing P, Threlfall J, Gerke D, Edmond T. Childhood Abuse and Aggression in Adolescent Girls
        Involved in Child Welfare: The Role of Depression and Posttraumatic Stress.
        <span class="titulo">J Child Adolesc Trauma</span>. 2016;9:1-10.
        <a href="https://doi.org/10.1007/s40653-016-0090-3" target="_blank">https://doi.org/10.1007/s40653-016-0090-3</a
        >. Epub 2016 Apr 12. PMID: 27152132; PMCID: PMC4852743.
      </li>

      <li class="elemento">
        Baita, S. (2009).Prefazione. Verso una definizione di ”trauma evolutivo”: quale futuro?. En Ardino, V. (comp.) <span
          class="titulo">Il disturbo post- traumatico nello sviluppo</span
        >. Milano: Edizioni Unicopli.
      </li>

      <li class="elemento">
        Baita, S. (2015). <span class="titulo"
          >Rompecabezas. Una guía introductoria al trauma y la disociación en la infancia.</span
        > Buenos Aires: El autor.
      </li>
      <li class="elemento">
        Berlin, L. J., Appleyard, K., Dodge, K. A. (2011). Intergenerational Continuity in Child Maltreatment: Mediating
        Mechanisms and Implications for Prevention.
        <span class="titulo">Child Development</span>, 82(1). 162–176. Recuperado de
        <a href="https://doi.org/10.1111/j.1467-8624.2010.01547.x" target="_blank"
          >https://doi.org/10.1111/j.1467-8624.2010.01547.x</a
        >.
      </li>
      <li class="elemento">
        Black MM, Walker SP, Fernald LCH, Andersen CT, DiGirolamo AM, Lu C, McCoy DC, Fink G, Shawar YR, Shiffman J,
        Devercelli AE, Wodon QT, Vargas-Barón E, GranthamMcGregor S. (2017). Early childhood development coming of age:
        science through the life course.
        <span class="titulo">Lancet Early Childhood Development Series Steering Committee</span>, 389(10064).77-90.
        <a href="https://doi.org/10.1016/S0140-6736(16)31389-7" target="_blank"
          >https://doi.org/10.1016/S0140-6736(16)31389-7</a
        >.
      </li>
      <li class="elemento">
        Boyer D Fine D. (1992). Sexual abuse as a factor in adolescent pregnancy and child maltreatment. <span
          class="titulo">Fam Plann Perspect</span
        >, 24(1):4-11, 19. PMID: 1601126.
      </li>
      <li class="elemento">
        Britto PR, Lye SJ, Proulx K, Yousafzai AK, Matthews SG, Vaivada T, Perez-Escamilla R, Rao N, Ip P, Fernald LCH,
        MacMillan H, Hanson M, Wachs TD, Yao H, Yoshikawa H, Cerezo A, Leckman JF, Bhutta ZA. Early Childhood
        Development Interventions Review Group, for the Lancet Early Childhood Development Series Steering Committee.
        Nurturing care: promoting early childhood development.
        <span class="titulo">Lancet</span>. 2017 Jan 7;389(10064):91-102.
        <a href="https://doi.org/10.1016/S0140-6736(16)31390-3" target="_blank"
          >https://doi.org/10.1016/S0140-6736(16)31390-3</a
        >. Epub 2016 Oct 4. PMID: 27717615.
      </li>
      <li class="elemento">
        Bronfenbrenner, U. (1977). Toward an experimental ecology of human development. <span class="titulo"
          >American Psychologist</span
        >, 32(7), 513-531. <a href="https://doi.org/10.1037/0003-066X.32.7.513" target="_blank"
          >https://doi.org/10.1037/0003-066X.32.7.513</a
        >.
      </li>
      <li class="elemento">
        Bronfenbrenner, U. (1979). <span class="titulo"
          >The ecology of human development: Experiments by nature and design.</span
        > Cambridge, MA: Harvard University Press.
      </li>
      <li class="elemento">
        Bronfenbrenner, U. (Ed.). (2005). <span class="titulo"
          >Making human beings human: Bioecological perspectives on human development.</span
        >
        Sage Publications Ltd.
      </li>
      <li class="elemento">
        Bronfenbrenner, U., Morris, P. A. (1998). <span class="titulo">The ecology of developmental processes.</span>
      </li>

      <li class="elemento">
        Buisman, R. S. M., Pittner, K., Tollenaar, M. S., Lindenberg, J., van den Berg, L. J. M., Compier-de Block, L.
        H. C. G., van Ginkel, J. R., Alink, L. R. A., Bakermans-Kranenburg, M. J., Elzinga, B. M., van IJzendoorn, M. H.
        (2020). Intergenerational transmission of child maltreatment using a multi-informant multi-generation family
        design.
        <span class="titulo">PLoS ONE</span>, 15(3). 1–23. Recuperado de
        <a href="https://doi.org/10.1371/journal.pone.0225839" target="_blank"
          >https://doi.org/10.1371/journal.pone.0225839</a
        >.
      </li>
      <li class="elemento">
        Chan, M.; Lake, A. Hansen, K. (2017). The early years: silent emergency or unique opportunity? <span
          class="titulo">The Lancet</span
        >, 389.11-13. <a href="https://doi.org/10.1016/S0140-6736(16)31701-9" target="_blank"
          >https://doi.org/10.1016/S0140-6736(16)31701-9</a
        >.
      </li>
      <li class="elemento">
        D'Andrea, W.; Spinazzola, J. Van der Kolk, B. (2009). <span class="titulo">
          Phenomenology and Nosology Symptoms Following Interpersonal Trauma Exposure in Children: A Review of
          literature on Symptoms, Biology, and Treatment.
        </span>
      </li>
      <li class="elemento">
        Dixon, L., Browne, K., Hamilton, G. C. (2005). Risk factors of parents abused as children: a mediational
        analysis of the intergenerational continuity of child maltreatment (Part I). <span class="titulo"
          >Journal of Child Psychology Psychiatry</span
        >, 46(1), 47-57. <a href="https://doi.org/10.1111/j.1469-7610.2004.00339.x" target="_blank"
          >https://doi.org/10.1111/j.1469-7610.2004.00339.x</a
        >.
      </li>
      <li class="elemento">
        Dixon, L., Browne, K., Hamilton-Giachritsis, C. (2009). Patterns of Risk and Protective Factors in the
        Intergenerational Cycle of Maltreatment.
        <span class="titulo">Journal of Family Violence</span>, 24(2), 111-122.
        <a href="https://doi.org/10.1007/s10896-008-9215-2" target="_blank">https://doi.org/10.1007/s10896-008-9215-2</a
        >.
      </li>
      <li class="elemento">
        Dixon, L., Hamilton, G. C., Browne, K. (2005). Attributions and behaviours of parents abused as children: a
        mediational analysis of the intergenerational continuity of child maltreatment (Part II).
        <span class="titulo">Journal of Child Psychology Psychiatry</span>, 46(1), 58-68. <a
          href="https://doi.org/10.1111/j.1469-7610.2004.00340.x"
          target="_blank">https://doi.org/10.1111/j.1469-7610.2004.00340.x</a
        >.
      </li>
      <li class="elemento">
        Fagan, A. (2005). The Relationship Between Adolescent Physical Abuse and Criminal Offending: Support for an
        Enduring and Generalized Cycle of Violence.
        <span class="titulo">Journal of Family Violence</span>, 20(5), 279–290.
        <a href="https://doi.org/10.1007/s10896-005-6604-7" target="_blank">https://doi.org/10.1007/s10896-005-6604-7</a
        >.
      </li>
      <li class="elemento">
        Farrington DP. (1989). Early predictors of adolescent aggression and adult violence.
        <span class="titulo">Violence and Victims</span>, 4(2):79–100.
      </li>
      <li class="elemento">
        Felitti, R., Anda, V., Nordenberg, R., Williamson, D.,Spitz, A., Edwards, V., Koss, M.P. Marks, J. (1998).
        Relationship of Childhood Abuse and Household Dysfunction to Many of the Leading Causes of Death in Adults. The
        Adverse Childhood Experiences (ACE) Study.
        <span class="titulo">American Journal of Preventive Medicine</span>, 14 (4). 245-258.
      </li>
      <li class="elemento">
        Gobierno de Colombia, Ministerio de Salud y Protección Social (2018). <span class="titulo">
          Encuesta de Violencia contra Niños, Niñas y Adolescentes en Colombia, 2018.
        </span> Bogotá, Colombia, 2019.
      </li>
      <li class="elemento">
        Hayes, B. E., Connolly, E. J., Wang, X., Ingham, C., Mason, M. (2021). Prevalence of Child Maltreatment and the
        Effects of the Intergenerational Transmission of Violence on Attitudes towards Domestic Violence in Chinese
        Police Cadets.
        <span class="titulo">Journal of Family Violence</span> , 36(6). 733–742.
        <a href="https://doi.org/10.1007/s10896-020-00182-0" target="_blank"
          >https://doi.org/10.1007/s10896-020-00182-0</a
        >.
      </li>
      <li class="elemento">
        Heckman, J. (2011). The Economics of Inequality: The Value of Early Childhood Education.
        <span class="titulo">American Educator</span>, 35(1). 31-35. Recuperado de <a
          href="https://eric.ed.gov/?id=EJ920516"
          target="_blank">https://eric.ed.gov/?id=EJ920516</a
        >.
      </li>
      <li class="elemento">
        Herman, J. (1997). <span class="titulo"
          >Trauma and Recovery. The aftermath of Violence from Domestic Abuse to Political Terror.</span
        > New York: Basic Books.
      </li>
      <li class="elemento">
        Herrenkohl RC, Egolf BP, Herrenkohl EC. (1997). Preschool antecedents of adolescent assaultive behavior: a
        longitudinal study.
        <span class="titulo">American Journal of Orthopsychiatry</span>, 67(3). 422–432. <a
          href="https://doi.org/10.1037/h0080244"
          target="_blank">https://doi.org/10.1037/h0080244</a
        >.
      </li>
      <li class="elemento">
        Herrenkohl, T.; Jung, H.; Lee, J. Kim, M. (2017). <span class="titulo">
          Effects of Child Maltreatment, Cumulative Victimization Experiences, and Proximal Life Stress on Adult Crime
          and Antisocial Behavior. National Criminal Justice Reference Service.
        </span> Recuperado de <a href="https://www.ojp.gov/pdffiles1/nij/grants/250506.pdf" target="_blank"
          >https://www.ojp.gov/pdffiles1/nij/grants/250506.pdf</a
        >.
      </li>
      <li class="elemento">
        Howell, E. Blizard, R. (2009). <span class="titulo">
          Chronic Relational Trauma Disorder: A new diagnostic scheme for borderline personality and the spectrum of
          dissociative disorder. Dissociation and the dissociative disorder. DSM V and beyond.
        </span> New York: Routledge.
      </li>
      <li class="elemento">
        Instituto Nacional Legal y de Ciencias Forenses - Grupo Centro de Referencia Nacional sobre Violencia (FORENSIS,
        2020). <span class="titulo">Datos para la Vida.</span> Recuperado de
        <a href="https://www.medicinalegal.gov.co/documents/20143/787115/Forensis2020.pdf" target="_blank"
          >https://www.medicinalegal.gov.co/documents/20143/787115/Forensis2020.pdf</a
        >.
      </li>
      <li class="elemento">
        Maas C, Herrenkohl TI, Sousa C. (2008). Review of research on child maltreatment and violence in youth. <span
          class="titulo"
          >Trauma, Violence Abuse.
        </span> 9(1). 56–67. <a href="https://doi.org/10.1177/1524838007311105" target="_blank"
          >https://doi.org/10.1177/1524838007311105</a
        >.
      </li>
      <li class="elemento">
        Magdol L, Moffitt TE, Caspi A, Silva PA. (1998). Developmental antecedents of partner abuse: a
        prospective-longitudinal study.
        <span class="titulo">Journal of Abnormal Psychology</span>, 107(3).375–389.
      </li>
      <li class="elemento">
        Maxwell, K., Callahan, J., Ruggero, C., Janis, B. (2016). Breaking the Cycle: Association of Attending Therapy
        Following Childhood Abuse and Subsequent Perpetration of Violence.
        <span class="titulo">Journal of Family Violence</span>, 31(2), 251–258.
        <a href="https://doi.org/10.1007/s10896-015-9765-z" target="_blank">https://doi.org/10.1007/s10896-015-9765-z</a
        >.
      </li>
      <li class="elemento">
        National Scientific Council on the Developing Child (2004). <span class="titulo">
          Young Children Develop in an Environment of Relationships.
        </span>
        <a
          href="https://46y5eh11fhgw3ve3ytpwxt9r-wpengine.netdna-ssl.com/wpcontent/uploads/2004/04/Young-Children-Develop-in-an-Environment-of-Relationships.pdf"
          target="_blank"
          >https://46y5eh11fhgw3ve3ytpwxt9r-wpengine.netdna-ssl.com/wpcontent/uploads/2004/04/Young-Children-Develop-in-an-Environment-of-Relationships.pdf</a
        >.
      </li>
      <li class="elemento">
        National Scientific Council on the Developing Child (2007). <span class="titulo">
          The timing and quality of early experiences combine to shape brain architecture.
        </span> Recuperado de
        <a
          href="https://46y5eh11fhgw3ve3ytpwxt9rwpengine.netdna-ssl.com/wp-content/uploads/2007/05/TimingQualityEarlyExperiences−1.pdf"
          target="_blank"
          >https://46y5eh11fhgw3ve3ytpwxt9rwpengine.netdna-ssl.com/wp-content/uploads/2007/05/TimingQualityEarlyExperiences−1.pdf</a
        >.
      </li>
      <li class="elemento">
        National Scientific Council on the Developing Child (2010). <span class="titulo">
          Early experiences can alter gene expression and affect long-term development.
        </span> Recuperado de
        <a
          href="https://46y5eh11fhgw3ve3ytpwxt9rwpengine.netdna-ssl.com/wp-content/uploads/2010/05/Early-Experiences-Can-Alter-Gene-Expression-and-Affect-Long-Term-Development.pdf"
          target="_blank"
          >https://46y5eh11fhgw3ve3ytpwxt9rwpengine.netdna-ssl.com/wp-content/uploads/2010/05/Early-Experiences-Can-Alter-Gene-Expression-and-Affect-Long-Term-Development.pdf</a
        >.
      </li>
      <li class="elemento">
        National Scientific Council on the Developing Child (2014). <span class="titulo">
          Excessive Stress Disrupts the Architecture of the Developing Brain.
        </span> Recuperado de
        <a
          href="https://46y5eh11fhgw3ve3ytpwxt9rwpengine.netdna-ssl.com/wp-content/uploads/2005/05/StressDisruptsArchitectureDevelopingBrain−1.pdf"
          target="_blank"
          >https://46y5eh11fhgw3ve3ytpwxt9rwpengine.netdna-ssl.com/wp-content/uploads/2005/05/StressDisruptsArchitectureDevelopingBrain−1.pdf</a
        >.
      </li>
      <li class="elemento">
        Oliveira, R. V., Maroco, J., País, L. G. (2012). The Origin of Maltreatment: An Exploratory Study on the
        Intergenerational Transmission of Child Abuse Typologies.
        <span class="titulo">Interdisciplinaria: Revista de Psicología y Ciencias Afines</span>, 29(2), 253–269. <a
          href="https://doi.org/10.16888/interd.2012.29.2.4"
          target="_blank">https://doi.org/10.16888/interd.2012.29.2.4</a
        >.
      </li>
      <li class="elemento">
        Organización Mundial de la Salud (OMS) (2022). <span class="titulo">Maltrato Infantil.</span> Recuperado de
        <a href="https://www.who.int/es/news-room/fact-sheets/detail/child-maltreatment" target="_blank"
          >https://www.who.int/es/news-room/fact-sheets/detail/child-maltreatment</a
        >.
      </li>
      <li class="elemento">
        Organización Panamericana de la Slud (OPS) (2022). <span class="titulo">Prevención de la violencia.</span> Recuperado
        de
        <a href="https://www.paho.org/es/temas/prevencion-violencia" target="_blank"
          >https://www.paho.org/es/temas/prevencion-violencia</a
        >.
      </li>
      <li class="elemento">
        Perry, B. Szalavitz, M. (2006). <span class="titulo">
          The boy who was raised as a dog and other stories from a child psychiatrist’s notebook.
        </span> Basic Books.
      </li>
      <li class="elemento">
        Putnam-Hornstein E, Cederbaum JA, King B, Eastman AL, Trickett PK. (2015). A population-level and longitudinal
        study of adolescent mothers and intergenerational maltreatment.
        <span class="titulo">Am J Epidemiol</span>, 181(7).496-503.
        <a href="https://doi.org/10.1093/aje/kwu321" target="_blank">https://doi.org/10.1093/aje/kwu321</a>.
      </li>
      <li class="elemento">
        Rodríguez, V. J., Are, F., Madden, A., Shaffer, A., Suveg, C. (2021). Intergenerational Transmission of
        Childhood Maltreatment Mediated by Maternal Emotion Dysregulation.
        <span class="titulo">Journal of Child Family Studies</span>, 30(8). 2068–2075. Recuperado de <a
          href="https://doi.org/10.1007/s10826-021-02020-3"
          target="_blank">https://doi.org/10.1007/s10826-021-02020-3</a
        >.
      </li>
      <li class="elemento">
        Schafer, I.; Ross, C. Read, J. (2009). <span class="titulo">
          Childhood trauma in psychotic and dissociative disorder. Psychosis, Trauma and Dissociation. Emerging
          perspectives on severe psychopathology.
        </span> United Kingdom: Wiley-Blackwell.
      </li>
      <li class="elemento">
        Seff, I.; Meinhart, M.; Harker, A.; Stark, L. Villaveces, A. (2022) Predicting adolescent boys’ and young men’s
        perpetration of youth violence in Colombia.
        <span class="titulo">International Journal of Injury Control and Safety Promotion</span>, 29(1).123-131. <a
          href="https://doi.org/10.1080/17457300.2021.2009519"
          target="_blank">https://doi.org/10.1080/17457300.2021.2009519</a
        >.
      </li>
      <li class="elemento">
        Silva TC, Grana JL, Gonzalez-Cieza L. (2014). Self-reported physical and emotionall abuse among youth offenders
        and their association with internalizing and externalizing psychopathology: a preliminary study.
        <span class="titulo">International Journal of Offender Therapy and Comparative Criminology</span>,
        58(5):590–606. <a href="https://doi.org/10.1177/0306624X12474975" target="_blank"
          >https://doi.org/10.1177/0306624X12474975</a
        >.
      </li>
      <li class="elemento">
        Smith, C. Thornberry, TP. (1995). The relationship between childhood maltreatment and adolescent involvement in
        delinquency.
        <span class="titulo">Criminology</span>, 33(4). 451–481. <a
          href="https://doi.org/10.1111/j.1745-9125.1995.tb01186.x"
          target="_blank">https://doi.org/10.1111/j.1745-9125.1995.tb01186.x</a
        >.
      </li>
      <li class="elemento">
        Waugh M., Guhn M. (2014) Bioecological Theory of Human Development. En: Michalos A.C. (eds)
        <span class="titulo">Encyclopedia of Quality of Life and Well-Being Research</span>. Springer, Dordrecht. doi:
        10.1007/978-94-007-0753-53438.
      </li>
      <li class="elemento">
        Widom CS. (1989) (a). Child abuse, neglect, and adult behavior research design and findings on criminality,
        violence, and child abuse.
        <span class="titulo">American Journal of Orthopsychiatry</span>. 1989b; 59(3):355–367.
        <a href="https://doi.org/10.1111/j.1939-0025.1989.tb01671.x" target="_blank"
          >https://doi.org/10.1111/j.1939-0025.1989.tb01671.x</a
        >.
      </li>
      <li class="elemento">
        Widom CS. (1989) (b). The cycle of violence. <span class="titulo">Science</span>. 1989a;244(4901):160–166. <a
          href="https://doi.org/10.1126/science.2704995"
          target="_blank">https://doi.org/10.1126/science.2704995</a
        >.
      </li>
      <li class="elemento">
        Zurbriggen EL, Gobin RL, Freyd JJ. (2010). Childhood emotional abuse predicts late adolescent sexual aggression
        perpetration and victimization.
        <span class="titulo">Journal of Aggression, Maltreatment Trauma</span>, 19. 204–223.
        <a href="https://doi.org/10.1080/10926770903539631" target="_blank">https://doi.org/10.1080/10926770903539631</a
        >.
      </li>

      <style lang="scss">
        .elemento {
          margin: 1em 0;
        }
        .titulo {
          font-style: italic;
        }
      </style>
    </ul>
  </div>
</Plantilla>
