---
import Colombina from '@/componentes/Colombina.astro';
import datos from '@/datos/p3AgresionSexualConocidos';
---

<section id="grafica1" class="grafica">
  <h3>Agresiones sexuales a menores en Colombia por presunto agresor (2020)</h3>

  <div>
    <div class="colombinas">
      {
        datos.presuntoAgresor.map((variable) => {
          return (
            <Colombina
              datos={variable}
              resaltado={variable.personaCercana === true}
              color={variable.personaCercana === true ? '#f5ba39d5' : '#000'}
              alto={variable.personaCercana === true ? 15 : 10}
            />
          );
        })
      }
    </div>
  </div>
  <div class="anotacionGrafica">
    {datos.info}
    <a href="https://www.medicinalegal.gov.co/documents/20143/787115/Forensis_2020.pdf">{datos.fuente}</a>
  </div>
</section>

<style lang="scss">
  .grafica {
    padding: 3em 0;
  }
  h3 {
    font-size: 1.9em;
  }
  .tituloGrafica {
    font-size: 1.35em;
    margin-top: 1em;
  }

  .colombinas {
    margin: 0.5em 0 1em 0;
  }
</style>
