---
import Desplegable from './Desplegable.astro';
---

<Desplegable id="creditos">
  <h2 class="titulo">Créditos</h2>
  <p class="subtituloCreditos">
    Aquí va un texto que describa en uno o dos párrafos la motivación y/o el alcance del proyecto.
  </p>
  <h3>De la adversidad a la esperanza</h3>
  <h5>Estudiando la violencia en la niñez y juventud en Colombia</h5>

  <ul>
    <h4>
      <a id="proyecto1Enlace" href=`${import.meta.env.BASE_URL}proyecto1`
        >La huella del conflicto armado en la niñez y adolescencia colombianas</a
      >
    </h4>
    <!-- <h6>Basada en la investigación:</h6>
    <h6>La huella del conflicto armado en la niñez y adolescencia colombiana</h6> -->
    <div>
      <span id="investigacion1">
        <p class="autoresCreditos">Autoras:</p>
        <li>Karla Judith de la Hoz del Villar</li>
        <p class="estudiosAutores">Magister en Estudios Culturales, Universidad de los Andes.</p>
        <li>Diana Catalina Contreras</li>
        <p class="estudiosAutores">Magister en Economía, Universidad de Los Andes.</p>
      </span>
    </div>
  </ul>
  <ul>
    <h4>
      <a id="proyecto2Enlace" href=`${import.meta.env.BASE_URL}proyecto2`>Experiencias adversas en la infancia</a>
    </h4>
    <p style="margin-top:0em; padding-top:0em;">Estudio comparativo de Colombia, Honduras y El Salvador</p>
    <div>
      <span id="investigacion2">
        <p class="autoresCreditos">Autores:</p>
        <li>Jorge Leonardo Rodríguez Arenas</li>
        <p class="estudiosAutores">Magister en Economía, Economista, Universidad de los Andes.</p>
        <li>Julián David López Céspedes</li>
        <p class="estudiosAutores">
          Estudiante de Gobierno y Asuntos Públicos y Ciencias Políticas, Universidad de Los Andes.
        </p>
      </span>
    </div>
  </ul>
  <ul>
    <h4>
      <a id="proyecto3Enlace" href=`${import.meta.env.BASE_URL}proyecto3`>Trayectorias de maltrato</a>
    </h4>
    <p style="margin-top:0em; padding-top:0em;">
      El impacto de la violencia en la infancia y adolescencia como predictor de ser víctima y victimario en la adultez
    </p>
    <div>
      <span id="investigacion3">
        <p class="autoresCreditos">Autores:</p>
        <li>Mónica Tatiana Moreno Ángel</li>
        <p class="estudiosAutores">Psicóloga clínica y Doctoranda en Educación, Universidad de los Andes.</p>
        <li>Joaquín Daniel Ramírez Cabarca</li>
        <p class="estudiosAutores">Economista y Msc Economía, Universidad de Los Andes.</p>
      </span>
    </div>
  </ul>
  <ul>
    <h4>
      <a id="proyecto4Enlace" href=`${import.meta.env.BASE_URL}proyecto4`
        >Subreporte de violencia sexual: estigma, normas sociales y de género</a
      >
    </h4>
    <p style="margin-top:0em; padding-top:0em;">Una revisión de alcance global</p>
    <div>
      <span id="investigacion4">
        <p class="autoresCreditos">Autores:</p>
        <li>Liliana Arias Urueña</li>
        <p class="estudiosAutores">MD, PhD. Investigadora postdoctoral del centro Imagina, Universidad de los Andes.</p>
        <li>Julián David López Céspedes</li>
        <p class="estudiosAutores">
          Estudiante de Gobierno y Asuntos Públicos y Ciencia Política, Universidad de Los Andes.
        </p>
        <li>Arturo Harker Roa</li>
        <p class="estudiosAutores">
          PhD, Prof. Escuela de Gobierno y Director del centro IMAGINA, Universidad de Los Andes.
        </p>
        <li>Catherine Maternowska</li>
        <p class="estudiosAutores">PHD, profesora de prevención de violencia en jóvenes, Universidad de Edimburgo.</p>
      </span>
    </div>
  </ul>
</Desplegable>

<style lang="scss">
  .titulo {
    position: sticky;
    top: -1.6em;
    background-color: var(--blancoNube);
  }
</style>
