<enflujo-deslizador class="deslizador">
  <div class="deslizaHaciaAbajo">Desliza hacia abajo<span></span><span></span><span></span></div>
</enflujo-deslizador>
<script>
  import { duranteInterseccion } from '@/utilidades/observador';

  class Deslizador extends HTMLElement {
    constructor() {
      super();
      const contenedor = this.parentElement;

      const mostrar = () => {
        this.classList.add('visible');
      };

      const esconder = () => {
        this.classList.remove('visible');
      };

      if (contenedor) {
        duranteInterseccion(contenedor, mostrar, false, { threshold: 0.7 }, esconder);
      }
    }
  }

  customElements.define('enflujo-deslizador', Deslizador);
</script>

<style lang="scss">
  $anchoFlechaDesliza: 15px;

  .deslizador {
    display: none;
    &.visible {
      display: block;
    }
  }
  .deslizaHaciaAbajo {
    position: fixed;
    bottom: 5em;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;

    span {
      position: fixed;
      display: block;
      width: $anchoFlechaDesliza;
      height: $anchoFlechaDesliza;
      border-bottom: 2px solid var(--grisTexto);
      border-right: 2px solid var(--grisTexto);
      transform: rotate(45deg);
      margin: 55px;
      animation: desliza 2s infinite;

      &:nth-child(2) {
        animation-delay: -0.2s;
      }

      &:nth-child(3) {
        animation-delay: -0.4s;
      }
    }
  }

  @keyframes desliza {
    0% {
      opacity: 0;
      transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
      opacity: 1;
    }

    100% {
      opacity: 0;
      transform: rotate(45deg) translate(10px, 10px);
    }
  }
</style>
