---
export interface Props {
  id: string;
}

const { id } = Astro.props;
---

<div id={id} class="contenido desplegable">
  <div class="cerrar">X</div>
  <slot />
</div>

<script define:vars={{ id }}>
  const contenedorDesplegable = document.getElementById(id);
  const cerrar = contenedorDesplegable.querySelector('.cerrar');

  // Cerrar el glosario con click afuera
  function clicFuera(evento) {
    const elemento = evento.target;

    if (id === 'glosario' && elemento.id === 'botonGlosario') {
      return;
    } else if (id === 'creditos' && elemento.id === 'botonCreditos') {
      return;
    }

    if (
      !(
        contenedorDesplegable === elemento ||
        contenedorDesplegable.contains(elemento) ||
        elemento.classList.contains('abrirGlosario')
      )
    ) {
      contenedorDesplegable.classList.remove('visible');
    }
  }

  cerrar.addEventListener('click', () => {
    contenedorDesplegable.classList.remove('visible');
  });

  document.body.addEventListener('click', clicFuera);
</script>

<style lang="scss" is:global>
  @import '@/scss/constantes';

  #glosario {
    .titulo {
      z-index: 5;
      font-size: 2.2em;
      color: var(--rosaChicle);
      border-bottom: 1px solid var(--grisTexto);
      padding: 0.8em 0 0.6em;
    }
  }

  #creditos {
    .titulo {
      z-index: 5;
      font-size: 2.2em;
      color: var(--moraAzul);
      padding: 1em 0 0.8em;
    }
    .subtituloCreditos {
      font-family: var(--fuenteMono);
      border-bottom: 1px solid var(--grisTexto);
      padding: 0em 0 2em;
      color: var(--moraAzul);
    }
    .autoresCreditos {
      font-weight: 650;
      padding: 2em 0 0.1em 0;
      line-height: 0em;
      font-size: 0.9em;
    }
    #proyecto1Enlace {
      color: var(--grisTexto);
    }

    .estudiosAutores {
      font-size: 0.7em;
      margin: 0;
      text-transform: uppercase;
      line-height: 1em;
    }

    li {
      padding-top: 0em;
      font-size: 0.9em;
    }

    p li {
      line-height: 1em;
    }
    h3 {
      border-bottom: 0px solid;
      padding-bottom: 0em;
      font-size: 1.6em;
    }
    h4 {
      padding: 0em 0 0em;
      font-weight: 500;
      font-size: 1.3em;
      //font-family: var(--fuenteMono);
      line-height: 1.3em;
      //padding-bottom: 0.2em;
    }
    h5 {
      border-bottom: 1px solid;
      padding: 0.5em 0 3em;
      line-height: 1.4;
    }
    h6 {
      border-bottom: 0px solid;
      font-weight: 400;
      padding-top: 0.5em;
      line-height: 1em;
    }
  }
  .desplegable {
    position: fixed;
    overflow-y: auto;
    top: 54px; // Buscar forma de calcular alto para convertir en: var(--altoMenu);
    left: 0;
    background-color: var(--blancoNube);
    height: calc(100% - 54px);
    width: 90vw;
    padding: 2em 2em 3em 2.2em;
    z-index: 8;
    transform: translateX(-100%);
    transition: transform 0.25s ease-out;

    h3,
    h4 {
      margin-top: 2em;
      padding-bottom: 0.2em;
    }

    li {
      padding-top: 0.2em;
    }

    ul {
      border-bottom: 1px solid;
      padding-bottom: 2em;
    }

    h3 {
      border-bottom: 1px solid;
      padding-bottom: 2em;
      font-size: 1.4em;
      line-height: 1.2;
    }

    h4 {
      font-size: 1.2em;
      line-height: 1.3em;
      font-weight: 400;
      padding-bottom: 0.1em;
    }

    p {
      margin: 0.5em 0;
      line-height: 1.3em;
    }

    &.visible {
      transform: translateX(0);
    }

    .cerrar {
      font-size: 1.6em;
      margin: 0;
      padding: 0;
      cursor: pointer;
      transition: opacity 0.15s ease-out;
      text-align: right;
      margin-right: -1em;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  @media screen and (min-width: $corte2) {
    .desplegable {
      width: 75%;
      padding: 3.5em 7em 7em;
    }
  }

  @media screen and (min-width: $corte3) {
    .desplegable {
      width: 60%;
    }
  }

  @media screen and (min-width: $corte4) {
    .desplegable {
      width: 35%;
    }
  }
</style>
