---
import Desplegable from './Desplegable.astro';
import Mapa from './Mapa.astro';
---

<Desplegable id="glosario">
  <h2 class="titulo">Glosario</h2>
  <h3>Definiciones de violencias y maltratos</h3>
  <ul>
    <li id="violencia">
      <h4>Violencia</h4>
      <p>
        La violencia es definida como “el uso intencional de la fuerza física o del poder, ya sea en grado de amenaza de
        ejecución real, ejercida contra uno mismo, contra otra persona, o contra un grupo o comunidad, siempre que la
        conducta produzca o tenga una alta probabilidad de producir lesiones, muerte, daño psicológico, trastornos en el
        desarrollo o privaciones”.
      </p>
    </li>

    <li id="Los malos tratos">
      <h4>Los malos tratos (incluido el castigo violento):</h4>
      <p>
        Incluyen la violencia física, sexual y psicológica/emocional y el trato negligente a los lactantes, niños y
        adolescentes, ocasionados por padres, cuidadores y otras figuras de autoridad, principalmente en el hogar, en la
        escuela y centros de cuidado residencial.
      </p>
    </li>

    <li id="aces">
      <h4>Experiencias adversas en la infancia</h4>
      <p>
        Son tipos de eventos que pueden derivar afectaciones en la edad adulta para la salud física, mental entre otros.
        Algunos de estas experiencias son: abuso físico, negligencia física, abuso emocional, negligencia emocional,
        abuso sexual, separación o divorcio de los padres, encarcelamiento de un miembro del hogar, tener una madre que
        fue tratada con violencia, enfermedad mental en el hogar y uso de sustancias en el hogar, nivel socioeconómico
        bajo, la victimización por pares, el aislamiento/rechazo por pares y la exposición a la violencia comunitaria.
      </p>
    </li>

    <li id="maltratoInfantil">
      <h4>Maltrato infantil y adolescente</h4>
      <p>
        Cualquier acto o serie de actos por parte de un padre, madre u otro cuidador que resulte en un daño, un
        potencial daño o una amenaza de daño. Las cuatro formas principales de maltrato son: físico, emocional o
        psicológico, negligencia o abandono y sexual. Según el Instituto Nacional Legal y de Ciencias Forenses- Grupo
        Centro de Referencia Nacional sobre Violencia (FORENSIS, 2020) la violencia hacia los niños, niñas y
        adolescentes es un tipo de violencia ejercida básicamente por los padres, el representante legal o cualquier
        otra persona que les genere daño y que afecta la integridad personal y el desarrollo integral del menor.
        (Organización Mundial de la Salud, 2022; Armfield et. al., 2021)
      </p>
    </li>

    <li id="orfandad">
      <h4>Orfandad y/o separación parental</h4>
      <p>Que el padre o madre haya fallecido; haber estado separado del padre o madre por 6 meses o más.</p>
    </li>

    <li id="violenciaComunidad">
      <h4>Violencia en la comunidad</h4>
      <p>Haber sufrido violencia en la comunidad, fuera de la casa o ambiente familiar.</p>
    </li>

    <li id="violenciaEmocional">
      <h4>Violencia emocional</h4>
      <p>
        Que padres, tutores, o cuidadores le hayan dicho que no merecía ser querido, que hubiesen preferido que no
        hubiese nacido o estuviese muerto o haber sido menospreciado, ridiculizado o humillado por estos. Haber sido
        humillado, insultado o ridiculizado; haber sido impedido de verse con familia o amigos o haber sido amenazado
        con daño físico por parte de la pareja antes de los 18 años.
      </p>
      <p>
        Incluye la restricción de los movimientos de un niño, la denigración, la ridiculización, las amenazas y la
        intimidación, la discriminación, el rechazo y otras formas no físicas de tratamiento hostil.
      </p>
    </li>

    <li id="violenciaFisica">
      <h4>Violencia física</h4>
      <p>
        Haber sido abofeteado, empujado, sacudido, golpeado con un objeto, pateado, estrangulado, asfixiado, ahogado,
        quemado, amenazado con armas blancas o de fuego intencionalmente por una persona de la misma edad, la pareja,
        padres y/o cuidadores o adultos en la comunidad.
      </p>
    </li>

    <li id="violenciaIntrafamiliar">
      <h4>Violencia intrafamiliar (VIF) o doméstica</h4>
      <p>
        Toda acción u omisión cometida por algún miembro de la familia en relación de poder, sin importar el espacio
        físico donde ocurra, que perjudique el bienestar, la integridad física, psicológica o la libertad y el derecho
        al pleno desarrollo de otro/a miembro de la familia. (Organización Panamericana de la Salud, 2022)
      </p>
    </li>

    <li id="violenciaSexual">
      <h4>Violencia sexual</h4>
      <p>
        Haber recibido el ofrecimiento de apoyo económico o material a cambio de relaciones sexuales; haber recibido
        tocamientos de manera sexual y no consentida sin concluir en relaciones sexuales; haber sido presionado a tener
        relaciones sexuales sin haberlo conseguido; haber sido forzado físicamente a tener relaciones sexuales,
        habiéndolo conseguido; haber sido presionado a través acosos, amenazas, intimidación, engaños, chantaje o
        coacción, habiéndolo conseguido.
      </p>

      <p>
        Incluye contacto sexual consumado o intento de contacto sexual no consensuales, actos de carácter sexual no
        consensuales que no impliquen contacto (como el voyerismo o el acoso sexual), actos de tráfico sexual cometidos
        contra una persona incapaz de consentir o rechazar y explotación sexual en línea.
      </p>
    </li>

    <li id="disciplinaViolenta">
      <h4>Disciplina violenta</h4>
      <p>
        Está relacionada al maltrato infantil que incluye tanto la agresión psicológica como el castigo físico por parte
        de los padres, cuidadores y otras figuras de autoridad y se puede producir en el hogar, en la escuela y en otros
        entornos.
      </p>
    </li>

    <li id="testigoViolenciaHogar">
      <h4>Ser testigo de violencia en el hogar</h4>
      <p>Haber presenciado violencia intrafamiliar en el hogar.</p>
    </li>

    <li id="testigoViolenciaComunidad">
      <h4>Ser testigo de violencia en la comunidad</h4>
      <p>Haber presenciado violencia en la comunidad.</p>
    </li>

    <li id="asi">
      <h4>Abuso sexual infantil</h4>
      <p>
        Incluye contacto sexual consumado o intento de contacto sexual no consensuales, actos de carácter sexual no
        consensuales que no impliquen contacto (como el voyerismo o el acoso sexual), actos de tráfico sexual cometidos
        contra una persona incapaz de consentir o rechazar y explotación sexual en línea (en este caso, un infante).
      </p>
    </li>

    <li id="estres">
      <h4>Estrés</h4>
      <p>
        es una respuesta fisiológica y psicológica a factores estresantes, tanto internos como externos. Esto ocurre
        cuando una persona percibe una situación o ambiente como amenazante y como una carga que supera sus recursos
        para afrontarla, lo que pone en peligro su bienestar. La respuesta de estrés implica la activación del sistema
        nervioso autónomo y el sistema endocrino, preparando el cuerpo para la lucha o la huida asociada al sistema
        nervioso simpático y al eje HPA (hipotálamo-hipófisis-suprarrenal).
      </p>
    </li>
    <li id="estresToxico">
      <h4>Estrés tóxico</h4>
      <p>
        Describe los efectos de la activación excesiva de los sistemas de respuesta al estrés que pueden afectar la
        arquitectura cerebral, el sistema inmunitario, los sistemas de regulación metabólica y el sistema
        cardiovascular.
      </p>
    </li>

    <li id="trauma">
      <h4>Trauma</h4>
      <p>
        Hace alusión a las consecuencias derivadas eventos adversos y estresantes; es decir, las afectaciones,
        resultados y efectos que experimenta una persona o comunidad como resultado de esos eventos. Estos efectos
        pueden manifestarse de manera inmediata o retardada, y pueden afectar diversos aspectos de la vida de una
        persona, como la capacidad para manejar el estrés, confiar en las relaciones y regular las emociones. El trauma
        puede dar lugar a reacciones inicialmente adaptativas en situaciones de amenaza vital, como la de lucha, huida,
        inmovilización o la disociación (estas dos últimas involucradas en las respuestas del sistema nervioso
        parasimpático dorsal vagal). Sin embargo, si estas reacciones se repiten o se aplican en situaciones menos
        amenazantes, pueden convertirse en respuestas desadaptativas.
      </p>
    </li>
  </ul>

  <h3>Otras definiciones</h3>
  <ul>
    <li id="experienciasPositivas">
      <h4>Experiencias positivas en la infancia</h4>
      <p>
        Experiencias como por ejemplo: poder hablar abiertamente con un familiar o en familia sobre los sentimientos y
        sentirse escuchado, aceptado y apoyado; la creencia de que la familia los apoyó en tiempos difíciles: sentirse
        seguro y protegido por un adulto en el hogar.
      </p>
    </li>

    <li id="pdet">
      <h4>Programas de Desarrollo con Enfoque Territorial (PDET)</h4>
      <p>
        Fueron creados por el acuerdo de paz de La Habana como un instrumento especial de planificación y gestión a 15
        años. Su objetivo es estabilizar y transformar los territorios más afectados por la violencia, la pobreza, las
        economías ilícitas y la debilidad institucional, y así lograr el desarrollo rural que requieren estos 170
        municipios. <a
          href="https://www.eltiempo.com/politica/proceso-de-paz/pdet-significado-y-cuales-son-los-municipios-pdet-en-colombia-615965"
        >
          (Fuente)</a
        >
      </p>
      <div id="mapaPdet" class="seccion">
        <Mapa alto={50} />
      </div>
    </li>
    <li id="evcnna">
      <h4>EVCNNA: Encuesta de Violencia contra Niños, Niñas y Adolescentes</h4>
      <p>
        En 2018 Colombia realizó por primera vez la Encuesta de Violencia contra Niños, Niñas y Adolescentes, que fue
        parte de la estrategia INSPIRE de la Organización Mundial de la Salud para prevenir la violencia infantil. Su
        objetivo era medir la prevalencia y las circunstancias alrededor de la violencia sexual, física y psicológica
        durante la infancia, adolescencia y la adultez temprana. La encuesta se aplicó a dos grupos de jóvenes entre los
        14 y 24 años: una muestra nacional y otra de municipios históricamente afectados por la violencia, que están
        cubiertos por los Programas de Desarrollo con Enfoque Territorial (PDET).
      </p>
    </li>

    <li id="norteSur">
      <h4>Norte y sur global</h4>
      <p>
        El norte global se refiere a los países de altos ingresos, ubicados en su mayoría en el hemisferio norte, por
        ejemplo EEUU y los países de Europa. El sur global describe aquellos países con altos niveles de pobreza y que
        están ubicados predominantemente en el hemisferio sur, por ejemplo los países latinoamericanos, los del sur de
        Asia y África.
      </p>
    </li>
  </ul>
</Desplegable>

<style lang="scss">
  #mapaPdet {
    position: relative;
  }

  .titulo {
    position: sticky;
    top: -1.6em;
    background-color: var(--blancoNube);
  }

  li {
    scroll-margin-top: 80px;
  }
</style>
