---
import Mapa from './Mapa.astro';
---

<div id="glosario" class="contenido">
  <h2 id="titulo">Glosario</h2>
  <h3>Definiciones de violencias y maltratos</h3>
  <ul>
    <li id="violencia">
      <h4>Violencia</h4>
      <p>
        La violencia es definida como “el uso intencional de la fuerza física o del poder, ya sea en grado de amenaza de
        ejecución real, ejercida contra uno mismo, contra otra persona, o contra un grupo o comunidad, siempre que la
        conducta produzca o tenga una alta probabilidad de producir lesiones, muerte, daño psicológico, trastornos en el
        desarrollo o privaciones”.
      </p>
    </li>

    <li id="aces">
      <h4>Experiencias adversas en la infancia</h4>
      <p>
        También llamadas ACEs, por sus siglas en inglés. Eventos potencialmente traumáticos sufridos durante la infancia
        y la juventud (como sufrir o presenciar abuso emocional, físico o sexual y disfunción del hogar en la infancia).
      </p>
    </li>

    <li id="maltratoInfantil">
      <h4>Maltrato infantil y adolescente</h4>
      <p>
        Cualquier acto o serie de actos por parte de un padre, madre u otro cuidador que resulte en un daño, un
        potencial daño o una amenaza de daño. Las cuatro formas principales de maltrato son: físico, emocional o
        psicológico, negligencia o abandono y sexual. Según el Instituto Nacional Legal y de Ciencias Forenses- Grupo
        Centro de Referencia Nacional sobre Violencia (FORENSIS, 2020) la violencia hacia los niños, niñas y
        adolescentes es un tipo de violencia ejercida básicamente por los padres, el representante legal o cualquier
        otra persona que les genere daño y que afecta la integridad personal y el desarrollo integral del menor.
        (Organización Mundial de la Salud, 2022; Armfield et. al., 2021)
      </p>
    </li>

    <li id="orfandad">
      <h4>Orfandad y/o separación parental</h4>
      <p>Que el padre o madre haya fallecido; haber estado separado del padre o madre por 6 meses o más.</p>
    </li>

    <li id="violenciaComunidad">
      <h4>Violencia en la comunidad</h4>
      <p>Haber sufrido violencia en la comunidad, fuera de la casa o ambiente familiar.</p>
    </li>

    <li id="violenciaEmocional">
      <h4>Violencia emocional</h4>
      <p>
        Que padres, tutores, o cuidadores le hayan dicho que no merecía ser querido, que hubiesen preferido que no
        hubiese nacido o estuviese muerto o haber sido menospreciado, ridiculizado o humillado por estos. Haber sido
        humillado, insultado o ridiculizado; haber sido impedido de verse con familia o amigos o haber sido amenazado
        con daño físico por parte de la pareja antes de los 18 años.
      </p>
    </li>

    <li id="violenciaFisica">
      <h4>Violencia física</h4>
      <p>
        Haber sido abofeteado, empujado, sacudido, golpeado con un objeto, pateado, estrangulado, asfixiado, ahogado,
        quemado, amenazado con armas blancas o de fuego intencionalmente por una persona de la misma edad, la pareja,
        padres y/o cuidadores o adultos en la comunidad.
      </p>
    </li>

    <li id="violenciaIntrafamiliar">
      <h4>Violencia intrafamiliar (VIF) o doméstica</h4>
      <p>
        Toda acción u omisión cometida por algún miembro de la familia en relación de poder, sin importar el espacio
        físico donde ocurra, que perjudique el bienestar, la integridad física, psicológica o la libertad y el derecho
        al pleno desarrollo de otro/a miembro de la familia. (Organización Panamericana de la Salud, 2022)
      </p>
    </li>

    <li id="violenciaSexual">
      <h4>Violencia sexual</h4>
      <p>
        Haber recibido el ofrecimiento de apoyo económico o material a cambio de relaciones sexuales; haber recibido
        tocamientos de manera sexual y no consentida sin concluir en relaciones sexuales; haber sido presionado a tener
        relaciones sexuales sin haberlo conseguido; haber sido forzado físicamente a tener relaciones sexuales,
        habiéndolo conseguido; haber sido presionado a través acosos, amenazas, intimidación, engaños, chantaje o
        coacción, habiéndolo conseguido.
      </p>
    </li>

    <li id="testigoViolenciaHogar">
      <h4>Ser testigo de violencia en el hogar</h4>
      <p>Haber presenciado violencia intrafamiliar en el hogar.</p>
    </li>

    <li id="testigoViolenciaComunidad">
      <h4>Ser testigo de violencia en la comunidad</h4>
      <p>Haber presenciado violencia en la comunidad.</p>
    </li>
  </ul>

  <h3>Otras definiciones</h3>
  <div id="botonCerrar">X</div>
  <ul>
    <li id="pdet">
      <h4>Programas de Desarrollo con Enfoque Territorial (PDET)</h4>
      <p>
        Fuerton creados por el acuerdo de paz de La Habana como un instrumento especial de planificación y gestión a 15
        años. Su objetivo es estabilizar y transformar los territorios más afectados por la violencia, la pobreza, las
        economías ilícitas y la debilidad institucional, y así lograr el desarrollo rural que requieren estos 170
        municipios. <a
          href="https://www.eltiempo.com/politica/proceso-de-paz/pdet-significado-y-cuales-son-los-municipios-pdet-en-colombia-615965"
        >
          (Fuente)</a
        >)
      </p>
      <div id="mapa-pdet" class="seccion">
        <Mapa alto={50} />
      </div>

      <li id="evcnna">
        <h4>EVCNNA: Encuesta de Violencia contra Niños, Niñas y Adolescentes</h4>
        <p>
          En 2018 Colombia realizó por primera vez la Encuesta de Violencia contra Niños, Niñas y Adolescentes, que fue
          parte de la estrategia INSPIRE de la Organización Mundial de la Salud para prevenir la violencia infantil. Su
          objetivo era medir la prevalencia y las circunstancias alrededor de la violencia sexual, física y psicológica
          durante la infancia, adolescencia y la adultez temprana. La encuesta se aplicó a dos grupos de jóvenes entre
          los 14 y 24 años: una muestra nacional y otra de municipios históricamente afectados por la violencia, que
          están cubiertos por los Programas de Desarrollo con Enfoque Territorial (PDET).
        </p>
      </li>
    </li>
  </ul>
</div>

<script>
  const glosario = document.getElementById('glosario');

  // Cerrar el glosario con click afuera
  function clicFuera(evento: MouseEvent) {
    const elemento = evento.target as HTMLElement;

    if (elemento.id === 'botonGlosario') {
      return;
    }

    if (!(glosario === elemento || glosario.contains(elemento) || elemento.classList.contains('abrirGlosario'))) {
      glosario.classList.remove('visible');
    }
  }

  document.body.addEventListener('click', clicFuera);
</script>

<style lang="scss">
  #glosario {
    position: fixed;
    overflow-y: auto;
    top: 0;
    left: 0;
    background-color: #c9f0fff2;
    width: 55%;
    height: 100%;
    padding: 7em 16em;
    z-index: 1;
    transform: translateX(-100%);
    transition: transform 0.25s ease-out;

    h3,
    h4 {
      margin-top: 2em;
    }

    p {
      margin: 0.5em 0;
    }

    &.visible {
      transform: translateX(0);
    }
  }
</style>
