---
import { rutaBase, rutas } from '@/utilidades/constantes';
---

<nav id="menu">
  <div id="encabezado">
    <a class="enlace" href=`${rutaBase}`>Menú</a>
    <p id="historias">Historias <span class="flecha anterior"></span><span class="flecha siguiente"></span></p>
  </div>

  <ul id="lista">
    {
      rutas.map((proyecto) => {
        return (
          <li>
            <a href={`${proyecto.ruta}`}>{proyecto.nombre}</a>
          </li>
        );
      })
    }
  </ul>
</nav>

<style lang="scss">
  @import '@/scss/constantes';
  #menu {
    margin: 2em 1em;
    font-family: var(--fuenteTitulos);
    padding-bottom: 1em;
    border-bottom: 1px solid var(--azulVaALlover);
    position: fixed;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);

    #encabezado {
      font-weight: 650;
      font-size: 1.3em;
      justify-content: space-between;

      p {
        margin: 0;
        line-height: 1;
      }

      #historias {
        .flecha {
          background-image: url(/especiales/vacs/iconos/flecha.svg);
          background-repeat: no-repeat;
          width: 21px;
          height: 21px;
          display: inline-block;
          vertical-align: top;

          &:hover {
            opacity: 0.5;
          }

          &.anterior {
            transform: rotate(180deg);
            margin-right: 8px;
          }
        }
      }
    }

    a,
    a:link {
      color: var(--grisTexto);
      transition: all 0.3s ease-in-out;

      &:hover {
        opacity: 0.75;
      }
    }
  }

  #encabezado {
    display: flex;
    flex-direction: row;
  }

  #lista {
    display: none;
    position: absolute;
    background-color: white;
    list-style: none;
    margin: 0;
    padding: 1em 0.5em 1em 0.5em;
    width: calc(100% - 10em);
    li {
      margin: 0.5em 0;
    }
  }

  @media screen and (min-width: $corte1) {
    #menu {
      margin: 2em 5em;
    }
  }

  @media screen and (min-width: $corte3) {
    #menu {
      max-width: $corte3;
      margin: 2em 0;
      display: block;
    }
  }
</style>
