@property --fondo1 {
  syntax: '<color>';
  inherits: false;
  initial-value: #c9f0ff;
}

@property --fondo2 {
  syntax: '<color>';
  inherits: false;
  initial-value: #fff;
}

$fuenteSubtitulos: 'Nohemi', 'Brush Script MT', sans-serif;
$fuenteTexto: 'Blinker', 'Arial', Arial, sans-serif;
$fuenteEscribiendo: 'Chivo Mono', 'Segoe', monospace;
$fuenteDestacado: 'Red Hat Display', 'Courier New', Courier, monospace;
$fuenteTestimonio: 'Alegreya', 'Times New Roman', serif;
$fuenteTabla: 'Blinker', 'Arial', Arial, sans-serif;

:root {
  --fuenteTitulos: 'Nohemi', 'Brush Script MT', sans-serif;
  //paleta 1
  --rosaIntenso: #fc6dab;
  --amarilloSol: #ffbc42;
  --naranjaMandarina: #ff934f;
  --verdeBiche: #ccff66;
  --grisTexto: #333333;

  //fondos
  --amarilloEdadMedia: #fff8cc;
  --verdeTeVerde: #ccffcc;
  --azulCielo: #c9f0ff;
  --moraAzul: #531cb3;
  --rosaHermanosGrimm: #fcc5dd;
  --blancoNube: #ffffff;

  //variables color
  --colorFondoTranquilo: var(--azulCielo);

  --azulVaALlover: #0081a7;
  --fondo1: #c9f0ff;
  --fondo2: #fff;

  // tamaños pantallas
}

@mixin fuenteRelato {
  font-family: $fuenteTestimonio;
  font-weight: 415;
}

$corte1: 450px;
$corte2: 1000px;
$corte3: 1300px;
