.alto100 {
  min-height: 100vh;
}

.subtitulo {
  font-size: 2em;
  font-weight: 500;
  line-height: 1.1;
}

.autores {
  margin-top: 1em;
  font-weight: 400;
}

.abrirGlosario {
  cursor: pointer;
  color: var(--moradoUva);
  &:hover {
    font-weight: 700;
  }
}
