// General
@import './constantes';
@import './normalizar';
@import './diagramacion';

@property --fondo1 {
  syntax: '<color>';
  inherits: false;
  initial-value: #c9f0ff;
}

@property --fondo2 {
  syntax: '<color>';
  inherits: false;
  initial-value: #fff;
}

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@400..900&display=swap');

@font-face {
  font-family: 'Blinker';
  src: url('/especiales/vacs/fuentes/Blinker_variable_font.ttf') format('truetype-variations');
  font-weight: 1 900;
  font-display: swap;
}

@font-face {
  font-family: 'Nohemi';
  src: url('/especiales/vacs/fuentes/Nohemi-VF.ttf') format('truetype-variations');
  font-weight: 1 900;
  font-display: swap;
}

:root {
  // Fuentes
  --fuenteTitulos: 'Nohemi', 'Roboto', 'Arial', sans-serif;
  --fuenteTexto: 'Blinker', 'Arial', Arial, sans-serif;
  --fuenteTexto2: 'Alegreya', 'Times New Roman', serif;
  --fuenteMono: 'Chivo Mono', 'Segoe', monospace;
  --fuenteMono2: 'Red Hat Display', 'Courier New', Courier, monospace;

  // Paleta 1
  --moradoUva: #cc2986;
  --rosaChicle: #f93d96;
  --rosaIntenso: #fc6dab;
  --amarilloSol: #ffbc42;
  --naranjaMandarina: #ff934f;
  --verdeBiche: #ccff66;
  --grisTexto: #333333;

  // Fondos
  --amarilloEdadMedia: #fff8cc;
  --verdeTeVerde: #ccffcc;
  --azulCielo: #c9f0ff;
  --azulMapa: rgb(218, 241, 243);
  --rojoMapa: rgb(243, 85, 41);
  --moraAzul: #531cb3;
  --moradoLavanda: #e7e2f7;
  --rosaHermanosGrimm: #fcc5dd;
  --blancoNube: #ffffff;

  // Color
  --colorFondoTranquilo: var(--azulCielo);

  --azulVaALlover: #0081a7;
  --fondo1: #c9f0ff;
  --fondo2: #fff;

  --margenSuperior: 13em;
}

::selection {
  background-color: var(--verdeBiche);
}
@mixin fuenteRelato {
  font-family: var(--fuenteTexto2);
  font-weight: 415;
}

body {
  background: var(--blancoNube);
  background: linear-gradient(
    180deg,
    var(--fondo1) 0%,
    var(--fondo2) 100vh,
    var(--fondo2) calc(100% - 100vh),
    var(--fondo1) 100%
  );
  min-height: 100vh;
  transition: --fondo1 0.3s, --fondo2 0.3s;
}

a,
a:link {
  color: var(--naranjaMandarina);
  text-decoration: none;
}

main,
.contenido {
  font-family: var(--fuenteTexto);
  color: var(--grisTexto);
  font-size: 1.125em;
  line-height: 1.5em;
}

main {
  padding-top: var(--margenSuperior);
}

.subtitulo {
  margin-right: 2em;
}

.columnas {
  display: flex;
  justify-content: space-between;

  .columna {
    flex-basis: 50%;
    margin-right: 20%;
    max-width: 40vw;
  }
}

.narracion {
  font-size: 1.1em;
  line-height: 1.5em;
  margin-top: 6.5em;
}

.relato {
  @include fuenteRelato();
  border-radius: 15px;
  padding: 1em;
  font-size: 1.1em;
  min-height: 100vh;
  font-size: 2.2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--blancoNube);
}

.resaltado {
  font-weight: bold;
}

.separador {
  height: 2px;
  width: 70vw;
  margin: 3em 0;
  border-top: rgb(137 123 153) dashed 2px;
}

.escribiendo {
  text-decoration: blink;
  color: var(--moraAzul);
  margin: 10em 5em 10em 5em;
  font-family: var(--fuenteMono);
  background-color: var(--moradoLavanda);
  padding: 0.4em;
  width: fit-content;
}

.destacado {
  font-size: 1.2em;
  font-family: var(--fuenteMono2);
  color: var(--grisTexto);
  background-color: var(--blancoNube);
  border-image: linear-gradient(45deg, purple, orange) 1;
  // border-radius: 50em;
  border: 4px solid transparent;
  //border-color: var(--amarilloSol);
  margin: 8em 5em 10em 5em;
  padding: 3em;
  line-height: 1.5em;
  width: 85%;
}

.navegacion {
  display: flex;
  justify-content: space-between;
}

// Borrar eventualmente esta clase
.comentario {
  font-size: 0.8em;
  color: rgb(216, 213, 37);
  font-weight: bold;

  &::before {
    content: '(';
  }
  &::after {
    content: ')';
  }
}

.anotacionGrafica {
  font-style: italic;
  font-size: 0.8em;
}

.contenidoColumna {
  h2 {
    padding-bottom: 0.75em;
  }
}

.grafica {
  margin: 3em 0;

  h3 {
    font-size: 1.9em;
  }
}

.mapa {
  .municipio {
    fill: rgb(218, 241, 243);
    shape-rendering: geometricPrecision;
    stroke: var(--azulVaALlover);
    stroke-width: 0.2px;

    &.pdet {
      fill: var(--rojoMapa);
      stroke: rgba(246, 220, 220, 0.791);
      stroke-width: 0.35px;
    }
  }
}

.pegarTitulo {
  position: sticky;
  top: var(--margenSuperior);
}

.seccion {
  margin-bottom: 7em;
}

.tituloSeccion {
  margin: 1.5em 0 0 4em;
  .subtitulo {
    position: sticky;
    top: 128px;
    max-width: 14em;
  }
}
