// General
@import './constantes';
@import './normalizar';
@import './diagramacion';

@property --fondo1 {
  syntax: '<color>';
  inherits: false;
  initial-value: #c9f0ff;
}

@property --fondo2 {
  syntax: '<color>';
  inherits: false;
  initial-value: #fff;
}

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@400..900&display=swap');

@font-face {
  font-family: 'Blinker';
  src: url('/especiales/vacs/fuentes/Blinker_variable_font.ttf') format('truetype-variations');
  font-weight: 1 900;
  font-display: swap;
}

@font-face {
  font-family: 'Nohemi';
  src: url('/especiales/vacs/fuentes/Nohemi-VF.ttf') format('truetype-variations');
  font-weight: 1 900;
  font-display: swap;
}

:root {
  // Fuentes
  --fuenteTitulos: 'Nohemi', 'Brush Script MT', sans-serif;
  --fuenteTexto: 'Blinker', 'Arial', Arial, sans-serif;
  --fuenteTexto2: 'Alegreya', 'Times New Roman', serif;
  --fuenteMono: 'Chivo Mono', 'Segoe', monospace;
  --fuenteMono2: 'Red Hat Display', 'Courier New', Courier, monospace;

  // Paleta 1
  --rosaIntenso: #fc6dab;
  --amarilloSol: #ffbc42;
  --naranjaMandarina: #ff934f;
  --verdeBiche: #ccff66;
  --grisTexto: #333333;

  // Fondos
  --amarilloEdadMedia: #fff8cc;
  --verdeTeVerde: #ccffcc;
  --azulCielo: #c9f0ff;
  --moraAzul: #531cb3;
  --rosaHermanosGrimm: #fcc5dd;
  --blancoNube: #ffffff;

  // Color
  --colorFondoTranquilo: var(--azulCielo);

  --azulVaALlover: #0081a7;
  --fondo1: #c9f0ff;
  --fondo2: #fff;

  --margenSuperior: 10em;
}

@mixin fuenteRelato {
  font-family: var(--fuenteTexto2);
  font-weight: 415;
}

body {
  background: var(--blancoNube);
  background: linear-gradient(
    180deg,
    var(--fondo1) 0%,
    var(--fondo2) 100vh,
    var(--fondo2) calc(100% - 100vh),
    var(--fondo1) 100%
  );
  min-height: 100vh;
  transition: --fondo1 0.3s, --fondo2 0.3s;
}

a,
a:link {
  color: #57c5b6;
  text-decoration: none;
}

main,
.contenido {
  font-family: var(--fuenteTexto);
  color: var(--grisTexto);
  font-size: 1.125em;
  line-height: 1.5em;
  padding-top: var(--margenSuperior);
}

.subtitulo {
  margin-right: 2em;
}

.columnas {
  display: flex;
  justify-content: space-around;

  .columna {
    flex-basis: 50%;
    margin-right: 15%;
  }
}

.narracion {
  font-size: 1.1em;
  line-height: 1.5em;
}

.relato {
  @include fuenteRelato();
  border-radius: 15px;
  padding: 1em;
  font-size: 1.1em;
  min-height: 100vh;
  font-size: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--blancoNube);
}

.resaltado {
  font-weight: bold;
}

.separador {
  height: 2px;
  width: 70vw;
  margin: 3em 0;
  border-top: rgb(137 123 153) dashed 2px;
}

.escribiendo {
  text-decoration: blink;
  font-family: var(--fuenteMono);
  background-color: rgb(137 123 153);
  padding: 0.4em;
  width: fit-content;
}

.destacado {
  font-size: 1.3em;
  font-family: var(--fuenteMono2);
  color: rgb(50, 29, 47);
  background-color: rgba(245, 186, 57, 0.836);
  padding: 0.5em;
  width: 85%;
}

.navegacion {
  display: flex;
  justify-content: space-between;
}

// Borrar eventualmente esta clase
.comentario {
  font-size: 0.8em;
  color: rgb(216, 213, 37);
  font-weight: bold;

  &::before {
    content: '(';
  }
  &::after {
    content: ')';
  }
}

.anotacionGrafica {
  font-style: italic;
  font-size: 0.9em;
}

.mapa {
  .municipio {
    fill: rgb(218, 241, 243);
    shape-rendering: geometricPrecision;
    stroke: rgba(149, 216, 222, 0.736);
    stroke-width: 0.8px;

    &.pdet {
      fill: rgb(230, 102, 95);
      stroke: rgba(229, 169, 169, 0.791);
    }
  }
}

.pegarTitulo {
  position: sticky;
  top: var(--margenSuperior);
}
