@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: rgb(50, 29, 47);
  background: linear-gradient(180deg, rgba(50, 29, 47, 1) 0%, rgba(61, 46, 79, 1) 50%, rgba(76, 95, 122, 1) 100%);
  color: #f6f1f1;
  min-height: 100vh;
  padding: 5em;
}

blockquote,
dl,
dd,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
time {
  margin: 0;
}

p {
  margin: 1em 0;
  line-height: 1.2;
}

a,
a:link {
  color: #57c5b6;
}

h1 {
  font-size: 4em;
  text-align: center;
  margin-bottom: 1em;
}

.seccion {
  transition: opacity 1.6s ease-out;
  transition-delay: 250ms;
  margin-bottom: 10em;
  opacity: 1;
}

.subtitulo {
  margin-right: 2em;
}

.columnas {
  display: flex;
  justify-content: space-around;

  .columna {
    flex-basis: 50%;
    margin-right: 15%;
  }
}

.autores {
  text-align: center;
  padding-bottom: 2em;
}

.relato {
  background-color: rgba(210, 105, 30, 0.89);
  border-radius: 15px;
  padding: 1em;
  font-style: italic;
  font-size: 1.1em;
}

.resaltado {
  font-weight: bold;
}

.separador {
  height: 2px;
  width: 70vw;
  //background-color: rgb(241, 208, 16);
  margin: 3em 0;
  border-top: rgb(137 123 153) dashed 2px;
}

.grafica {
  width: fit-content;
  border: solid 1px rgb(137 123 153);
  padding: 0.5em;
  margin: 1em;
}

.escribiendo {
  text-decoration: blink;
  // animation: openclose 5s ease-in-out;
  background-color: rgb(137 123 153);
  padding: 0.4em;
  width: fit-content;
}

.destacado {
  font-size: 1.3em;
  color: rgb(50, 29, 47);
  background-color: rgba(245, 186, 57, 0.836);
  padding: 0.5em;
  width: 85%;
}

.navegacion {
  display: flex;
  justify-content: space-between;
}

// Borrar eventualmente esta clase
.comentario {
  font-size: 0.8em;
  color: rgb(216, 213, 37);
  font-weight: bold;

  &::before {
    content: '(';
  }
  &::after {
    content: ')';
  }
}
