---
import datos from '@/datos/p2ConductasRiesgo';
import PuntosPorcentuales from '@/componentes/PuntosPorcentuales.astro';
---

<section id="p2Grafica2" class="grafica">
  <h3>Cómo afectan las ACEs en la infancia la probabilidad de tener actitudes de riesgo en la adultez</h3>
  <h4>Colombia</h4>
  <p class="referencia">Valores en puntos porcentuales</p>
  <div class="puntosPorcentuales">
    {
      datos.colombia.map((variable) => {
        if (variable.unoODosAces.significativo || variable.tresOMasAces.significativo)
          return <PuntosPorcentuales datos={variable} colorUno="#531cb3" colorTres="#ffbc42" />;
      })
    }
  </div>
  <h4>Honduras</h4>
  <p class="referencia">Valores en puntos porcentuales</p>
  <div class="puntosPorcentuales">
    {
      datos.honduras.map((variable) => {
        if (variable.unoODosAces.significativo || variable.tresOMasAces.significativo)
          return <PuntosPorcentuales datos={variable} colorUno="#531cb3" colorTres="#ffbc42" />;
      })
    }
  </div>
  <h4>El Salvador</h4>
  <p class="referencia">Valores en puntos porcentuales</p>
  <div class="puntosPorcentuales">
    {
      datos.salvador.map((variable) => {
        if (variable.unoODosAces.significativo || variable.tresOMasAces.significativo)
          return <PuntosPorcentuales datos={variable} colorUno="#531cb3" colorTres="#ffbc42" />;
      })
    }
  </div>
  <div class="contenedorReferencias">
    <p class="referencia"><span class="cuadroColor" id="unoODos"></span> Uno o dos ACEs, significativo</p>
    <p class="referencia"><span class="cuadroColor" id="tresOMas"></span> Tres o más ACEs</p>
  </div>
  <p class="anotacionGrafica">{datos.info}</p>
</section>

<script></script>

<style lang="scss">
  .puntosPorcentuales {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
  }
  .referencia {
    display: flex;
    margin-right: 1em;
    font-size: 0.8em;
  }
  .cuadroColor {
    height: 0.7em;
    width: 0.7em;
    display: block;
    margin-right: 0.3em;
  }

  .contenedorReferencias {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
  }

  #unoODos {
    background-color: #531cb3;
  }

  #tresOMas {
    background-color: #ffbc42;
  }
</style>
