---
import Colombina from '@/componentes/Colombina.astro';
import datos from '@/datos/migracionViolenciaPdet';
---

<section id="grafica1" class="grafica">
  <h3>Migración debida a la violencia</h3>

  <div>
    <h4 class="tituloGrafica">En municipios NO-PDET (Colombia)</h4>

    <div class="colombinas">
      {
        datos.colombia.map((variable) => {
          return (
            <Colombina
              datos={variable}
              resaltado={variable.nombre === 'Violencia'}
              info={variable.nombre === 'Violencia' ? datos.infoIndicador : null}
              color={variable.nombre === 'Violencia' ? '#f5ba39d5' : '#000'}
              alto={variable.nombre === 'Violencia' ? 15 : 4}
            />
          );
        })
      }
    </div>

    <h4 class="tituloGrafica">En municipios PDET</h4>

    <div class="colombinas">
      {
        datos.pdet.map((variable) => {
          return (
            <Colombina
              datos={variable}
              resaltado={variable.nombre === 'Violencia'}
              color={variable.nombre === 'Violencia' ? '#f5ba39d5' : '#000'}
              info={variable.nombre === 'Violencia' ? datos.infoIndicador : null}
              alto={variable.nombre === 'Violencia' ? 15 : 4}
            />
          );
        })
      }
    </div>
  </div>

  <p class="anotacionGrafica">{datos.info}</p>
</section>

<style lang="scss">
  .grafica {
    padding: 3em 0;
  }
  h3 {
    font-size: 1.9em;
  }
  .tituloGrafica {
    font-size: 1.35em;
    margin-top: 1em;
  }

  .colombinas {
    margin: 0.5em 0 1em 0;
  }
</style>
