---
import Personitas from '@/componentes/Personitas.astro';
---

<section id="graficaPersona" class="grafica">
  <div>
    <Personitas
      felices={1}
      tristes={9}
      rutaSvgFeliz="/especiales/vacs/iconos/flor_1.svg"
      rutaSvgTriste="/especiales/vacs/iconos/flor_2.svg"
      descripcion="En nueve de cada diez testimonios tomados por la Comisión, las víctimas hablaron de culpa, tristeza, rabia, indignación e impotencia como impactos de la pérdida."
    />
  </div>
</section>
